<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>《将进酒》拼音版</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <style>
        .text-c {
            text-align: center;
        }

        .g_main {
            text-align: left;
            margin-left: -2.5%;
            margin-right: -0.4%;
        }

        .g_main li {
            clear: left;
            list-style-type: none;
        }

        .g_main li span {
            display: inline-block;
            text-align: center;
            list-style-type: none;
            width: 40px;
            font-size: 15px;
        }

        .g_main li span .s_b {
            font-size: 18px;
            font-weight: bold;
            font-family: "楷体";
        }

        .g_main li span .s_t {
            font-size: 0.8em;
        }
        
        .g_main li {
            margin-bottom: 1.5%;
        }
    </style>
</head>
<body>
<div class="g_box">
    <ul class="g_main text-c">
        <li>
            <span>
                <div class="s_t">qiāng</div>
                <div class="s_b">将</div>
            </span>
            <span>
                <div class="s_t">jìn</div>
                <div class="s_b">进</div>
            </span>
            <span>
                <div class="s_t">jiǔ</div>
                <div class="s_b">酒</div>
            </span>
        </li>
    </ul>
    <ul class="g_main  text-c">
        <li>
            <span>
                <div class="s_t"></div>
                <div class="s_b">〔</div>
            </span>
            <span>
                <div class="s_t">shèng</div>
                <div class="s_b">盛</div>
            </span>
            <span>
                <div class="s_t">táng</div>
                <div class="s_b">唐</div>
            </span>
            <span>
                <div class="s_t"></div>
                <div class="s_b">〕</div>
            </span>
            <span>
                <div class="s_t">lǐ</div>
                <div class="s_b">李</div>
            </span>
            <span>
                <div class="s_t">bái</div>
                <div class="s_b">白</div>
            </span>
        </li>
    </ul>
    <ul class="g_main ">
        <li>
            <span>
                <div class="s_t"></div>
                <div class="s_b"></div>
            </span>
            <span>
                <div class="s_t"></div>
                <div class="s_b"></div>
            </span>
            <span>
                <div class="s_t">jūn</div>
                <div class="s_b">君</div>
            </span>
            <span>
                <div class="s_t">bú</div>
                <div class="s_b">不</div>
            </span>
            <span>
                <div class="s_t">jiàn</div>
                <div class="s_b">见</div>
            </span>
            <span>
                <div class="s_t"></div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">huáng</div>
                <div class="s_b">黄</div>
            </span>
            <span>
                <div class="s_t">hé</div>
                <div class="s_b">河</div>
            </span>
            <span>
                <div class="s_t">zhī</div>
                <div class="s_b">之</div>
            </span>
            <span>
                <div class="s_t">shuǐ</div>
                <div class="s_b">水</div>
            </span>
            <span>
                <div class="s_t">tiān</div>
                <div class="s_b">天</div>
            </span>
            <span>
                <div class="s_t">shàng</div>
                <div class="s_b">上</div>
            </span>
            <span>
                <div class="s_t">lái</div>
                <div class="s_b">来</div>
            </span>
            <span>
                <div class="s_t"></div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">bēn</div>
                <div class="s_b">奔</div>
            </span>
            <span>
                <div class="s_t">liú</div>
                <div class="s_b">流</div>
            </span>
            <span>
                <div class="s_t">dào</div>
                <div class="s_b">到</div>
            </span>
            <span>
                <div class="s_t">hǎi</div>
                <div class="s_b">海</div>
            </span>
            <span>
                <div class="s_t">bú</div>
                <div class="s_b">不</div>
            </span>
            <span>
                <div class="s_t">fù</div>
                <div class="s_b">复</div>
            </span>
            <span>
                <div class="s_t">huí</div>
                <div class="s_b">回</div>
            </span>
            <span>
                <div class="s_t"></div>
                <div class="s_b">。</div>
            </span>
            <span>
                <div class="s_t">jūn</div>
                <div class="s_b">君</div>
            </span>
            <span>
                <div class="s_t">bú</div>
                <div class="s_b">不</div>
            </span>
            <span>
                <div class="s_t">jiàn</div>
                <div class="s_b">见</div>
            </span>
            <span>
                <div class="s_t"></div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">gāo</div>
                <div class="s_b">高</div>
            </span>
            <span>
                <div class="s_t">táng</div>
                <div class="s_b">堂</div>
            </span>
            <span>
                <div class="s_t">míng</div>
                <div class="s_b">明</div>
            </span>
            <span>
                <div class="s_t">jìng</div>
                <div class="s_b">镜</div>
            </span>
            <span>
                <div class="s_t">bēi</div>
                <div class="s_b">悲</div>
            </span>
            <span>
                <div class="s_t">bái</div>
                <div class="s_b">白</div>
            </span>
            <span>
                <div class="s_t">fà</div>
                <div class="s_b">发</div>
            </span>
            <span>
                <div class="s_t"></div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">zhāo</div>
                <div class="s_b">朝</div>
            </span>
            <span>
                <div class="s_t">rú</div>
                <div class="s_b">如</div>
            </span>
            <span>
                <div class="s_t">qīng</div>
                <div class="s_b">青</div>
            </span>
            <span>
                <div class="s_t">sī</div>
                <div class="s_b">丝</div>
            </span>
            <span>
                <div class="s_t">mù</div>
                <div class="s_b">暮</div>
            </span>
            <span>
                <div class="s_t">chéng</div>
                <div class="s_b">成</div>
            </span>
            <span>
                <div class="s_t">xuě</div>
                <div class="s_b">雪</div>
            </span>
            <span>
                <div class="s_t"></div>
                <div class="s_b">。</div>
            </span>
            <span>
                <div class="s_t">rén</div>
                <div class="s_b">人</div>
            </span>
            <span>
                <div class="s_t">shēng</div>
                <div class="s_b">生</div>
            </span>
            <span>
                <div class="s_t">dé</div>
                <div class="s_b">得</div>
            </span>
            <span>
                <div class="s_t">yì</div>
                <div class="s_b">意</div>
            </span>
            <span>
                <div class="s_t">xū</div>
                <div class="s_b">须</div>
            </span>
            <span>
                <div class="s_t">jìn</div>
                <div class="s_b">尽</div>
            </span>
            <span>
                <div class="s_t">huān</div>
                <div class="s_b">欢</div>
            </span>
            <span>
                <div class="s_t"></div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">mò</div>
                <div class="s_b">莫</div>
            </span>
            <span>
                <div class="s_t">shǐ</div>
                <div class="s_b">使</div>
            </span>
            <span>
                <div class="s_t">jīn</div>
                <div class="s_b">金</div>
            </span>
            <span>
                <div class="s_t">zūn</div>
                <div class="s_b">樽</div>
            </span>
            <span>
                <div class="s_t">kōng</div>
                <div class="s_b">空</div>
            </span>
            <span>
                <div class="s_t">duì</div>
                <div class="s_b">对</div>
            </span>
            <span>
                <div class="s_t">yuè</div>
                <div class="s_b">月</div>
            </span>
            <span>
                <div class="s_t"></div>
                <div class="s_b">。</div>
            </span>
            <span>
                <div class="s_t">tiān</div>
                <div class="s_b">天</div>
            </span>
            <span>
                <div class="s_t">shēng</div>
                <div class="s_b">生</div>
            </span>
            <span>
                <div class="s_t">wǒ</div>
                <div class="s_b">我</div>
            </span>
            <span>
                <div class="s_t">cái</div>
                <div class="s_b">材</div>
            </span>
            <span>
                <div class="s_t">bì</div>
                <div class="s_b">必</div>
            </span>
            <span>
                <div class="s_t">yǒu</div>
                <div class="s_b">有</div>
            </span>
            <span>
                <div class="s_t">yòng</div>
                <div class="s_b">用</div>
            </span>
            <span>
                <div class="s_t"></div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">qiān</div>
                <div class="s_b">千</div>
            </span>
            <span>
                <div class="s_t">jīn</div>
                <div class="s_b">金</div>
            </span>
            <span>
                <div class="s_t">sàn</div>
                <div class="s_b">散</div>
            </span>
            <span>
                <div class="s_t">jìn</div>
                <div class="s_b">尽</div>
            </span>
            <span>
                <div class="s_t">huán</div>
                <div class="s_b">还</div>
            </span>
            <span>
                <div class="s_t">fù</div>
                <div class="s_b">复</div>
            </span>
            <span>
                <div class="s_t">lái</div>
                <div class="s_b">来</div>
            </span>
            <span>
                <div class="s_t"></div>
                <div class="s_b">。</div>
            </span>
            <span>
                <div class="s_t">pēng</div>
                <div class="s_b">烹</div>
            </span>
            <span>
                <div class="s_t">yáng</div>
                <div class="s_b">羊</div>
            </span>
            <span>
                <div class="s_t">zǎi</div>
                <div class="s_b">宰</div>
            </span>
            <span>
                <div class="s_t">niú</div>
                <div class="s_b">牛</div>
            </span>
            <span>
                <div class="s_t">qiě</div>
                <div class="s_b">且</div>
            </span>
            <span>
                <div class="s_t">wéi</div>
                <div class="s_b">为</div>
            </span>
            <span>
                <div class="s_t">lè</div>
                <div class="s_b">乐</div>
            </span>
            <span>
                <div class="s_t"></div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">huì</div>
                <div class="s_b">会</div>
            </span>
            <span>
                <div class="s_t">xū</div>
                <div class="s_b">须</div>
            </span>
            <span>
                <div class="s_t">yì</div>
                <div class="s_b">一</div>
            </span>
            <span>
                <div class="s_t">yǐn</div>
                <div class="s_b">饮</div>
            </span>
            <span>
                <div class="s_t">sān</div>
                <div class="s_b">三</div>
            </span>
            <span>
                <div class="s_t">bǎi</div>
                <div class="s_b">百</div>
            </span>
            <span>
                <div class="s_t">bēi</div>
                <div class="s_b">杯</div>
            </span>
            <span>
                <div class="s_t"></div>
                <div class="s_b">。</div>
            </span>
        </li>
        <li>
            <span>
                <div class="s_t"></div>
                <div class="s_b"></div>
            </span>
            <span>
                <div class="s_t"></div>
                <div class="s_b"></div>
            </span>
            <span>
                <div class="s_t">cén</div>
                <div class="s_b">岑</div>
            </span>
            <span>
                <div class="s_t">fū</div>
                <div class="s_b">夫</div>
            </span>
            <span>
                <div class="s_t">zǐ</div>
                <div class="s_b">子</div>
            </span>
            <span>
                <div class="s_t"></div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">dān</div>
                <div class="s_b">丹</div>
            </span>
            <span>
                <div class="s_t">qiū</div>
                <div class="s_b">丘</div>
            </span>
            <span>
                <div class="s_t">shēng</div>
                <div class="s_b">生</div>
            </span>
            <span>
                <div class="s_t"></div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">qiāng</div>
                <div class="s_b">将</div>
            </span>
            <span>
                <div class="s_t">jìn</div>
                <div class="s_b">进</div>
            </span>
            <span>
                <div class="s_t">jiǔ</div>
                <div class="s_b">酒</div>
            </span>
            <span>
                <div class="s_t"></div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">bēi</div>
                <div class="s_b">杯</div>
            </span>
            <span>
                <div class="s_t">mò</div>
                <div class="s_b">莫</div>
            </span>
            <span>
                <div class="s_t">tíng</div>
                <div class="s_b">停</div>
            </span>
            <span>
                <div class="s_t"></div>
                <div class="s_b">。</div>
            </span>
            <span>
                <div class="s_t">yǔ</div>
                <div class="s_b">与</div>
            </span>
            <span>
                <div class="s_t">jūn</div>
                <div class="s_b">君</div>
            </span>
            <span>
                <div class="s_t">gē</div>
                <div class="s_b">歌</div>
            </span>
            <span>
                <div class="s_t">yì</div>
                <div class="s_b">一</div>
            </span>
            <span>
                <div class="s_t">qǔ</div>
                <div class="s_b">曲</div>
            </span>
            <span>
                <div class="s_t"></div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">qǐng</div>
                <div class="s_b">请</div>
            </span>
            <span>
                <div class="s_t">jūn</div>
                <div class="s_b">君</div>
            </span>
            <span>
                <div class="s_t">wèi</div>
                <div class="s_b">为</div>
            </span>
            <span>
                <div class="s_t">wǒ</div>
                <div class="s_b">我</div>
            </span>
            <span>
                <div class="s_t">qīng</div>
                <div class="s_b">倾</div>
            </span>
            <span>
                <div class="s_t">ěr</div>
                <div class="s_b">耳</div>
            </span>
            <span>
                <div class="s_t">tīng</div>
                <div class="s_b">听</div>
            </span>
            <span>
                <div class="s_t"></div>
                <div class="s_b">。</div>
            </span>
            <span>
                <div class="s_t">zhōng</div>
                <div class="s_b">钟</div>
            </span>
            <span>
                <div class="s_t">gǔ</div>
                <div class="s_b">鼓</div>
            </span>
            <span>
                <div class="s_t">zhuàn</div>
                <div class="s_b">馔</div>
            </span>
            <span>
                <div class="s_t">yù</div>
                <div class="s_b">玉</div>
            </span>
            <span>
                <div class="s_t">bù</div>
                <div class="s_b">不</div>
            </span>
            <span>
                <div class="s_t">zú</div>
                <div class="s_b">足</div>
            </span>
            <span>
                <div class="s_t">guì</div>
                <div class="s_b">贵</div>
            </span>
            <span>
                <div class="s_t"></div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">dàn</div>
                <div class="s_b">但</div>
            </span>
            <span>
                <div class="s_t">yuàn</div>
                <div class="s_b">愿</div>
            </span>
            <span>
                <div class="s_t">cháng</div>
                <div class="s_b">长</div>
            </span>
            <span>
                <div class="s_t">zuì</div>
                <div class="s_b">醉</div>
            </span>
            <span>
                <div class="s_t">bú</div>
                <div class="s_b">不</div>
            </span>
            <span>
                <div class="s_t">yuàn</div>
                <div class="s_b">愿</div>
            </span>
            <span>
                <div class="s_t">xǐng</div>
                <div class="s_b">醒</div>
            </span>
            <span>
                <div class="s_t"></div>
                <div class="s_b">。</div>
            </span>
            <span>
                <div class="s_t">gǔ</div>
                <div class="s_b">古</div>
            </span>
            <span>
                <div class="s_t">lái</div>
                <div class="s_b">来</div>
            </span>
            <span>
                <div class="s_t">shèng</div>
                <div class="s_b">圣</div>
            </span>
            <span>
                <div class="s_t">xián</div>
                <div class="s_b">贤</div>
            </span>
            <span>
                <div class="s_t">jiē</div>
                <div class="s_b">皆</div>
            </span>
            <span>
                <div class="s_t">jì</div>
                <div class="s_b">寂</div>
            </span>
            <span>
                <div class="s_t">mò</div>
                <div class="s_b">寞</div>
            </span>
            <span>
                <div class="s_t"></div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">wéi</div>
                <div class="s_b">惟</div>
            </span>
            <span>
                <div class="s_t">yǒu</div>
                <div class="s_b">有</div>
            </span>
            <span>
                <div class="s_t">yǐn</div>
                <div class="s_b">饮</div>
            </span>
            <span>
                <div class="s_t">zhě</div>
                <div class="s_b">者</div>
            </span>
            <span>
                <div class="s_t">liú</div>
                <div class="s_b">留</div>
            </span>
            <span>
                <div class="s_t">qí</div>
                <div class="s_b">其</div>
            </span>
            <span>
                <div class="s_t">míng</div>
                <div class="s_b">名</div>
            </span>
            <span>
                <div class="s_t"></div>
                <div class="s_b">。</div>
            </span>
            <span>
                <div class="s_t">chén</div>
                <div class="s_b">陈</div>
            </span>
            <span>
                <div class="s_t">wáng</div>
                <div class="s_b">王</div>
            </span>
            <span>
                <div class="s_t">xī</div>
                <div class="s_b">昔</div>
            </span>
            <span>
                <div class="s_t">shí</div>
                <div class="s_b">时</div>
            </span>
            <span>
                <div class="s_t">yàn</div>
                <div class="s_b">宴</div>
            </span>
            <span>
                <div class="s_t">píng</div>
                <div class="s_b">平</div>
            </span>
            <span>
                <div class="s_t">lè</div>
                <div class="s_b">乐</div>
            </span>
            <span>
                <div class="s_t"></div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">dǒu</div>
                <div class="s_b">斗</div>
            </span>
            <span>
                <div class="s_t">jiǔ</div>
                <div class="s_b">酒</div>
            </span>
            <span>
                <div class="s_t">shí</div>
                <div class="s_b">十</div>
            </span>
            <span>
                <div class="s_t">qiān</div>
                <div class="s_b">千</div>
            </span>
            <span>
                <div class="s_t">zì</div>
                <div class="s_b">恣</div>
            </span>
            <span>
                <div class="s_t">huān</div>
                <div class="s_b">欢</div>
            </span>
            <span>
                <div class="s_t">xuè</div>
                <div class="s_b">谑</div>
            </span>
            <span>
                <div class="s_t"></div>
                <div class="s_b">。</div>
            </span>
            <span>
                <div class="s_t">zhǔ</div>
                <div class="s_b">主</div>
            </span>
            <span>
                <div class="s_t">rén</div>
                <div class="s_b">人</div>
            </span>
            <span>
                <div class="s_t">hé</div>
                <div class="s_b">何</div>
            </span>
            <span>
                <div class="s_t">wèi</div>
                <div class="s_b">为</div>
            </span>
            <span>
                <div class="s_t">yán</div>
                <div class="s_b">言</div>
            </span>
            <span>
                <div class="s_t">shǎo</div>
                <div class="s_b">少</div>
            </span>
            <span>
                <div class="s_t">qián</div>
                <div class="s_b">钱</div>
            </span>
            <span>
                <div class="s_t"></div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">jìng</div>
                <div class="s_b">径</div>
            </span>
            <span>
                <div class="s_t">xū</div>
                <div class="s_b">须</div>
            </span>
            <span>
                <div class="s_t">gū</div>
                <div class="s_b">沽</div>
            </span>
            <span>
                <div class="s_t">qǔ</div>
                <div class="s_b">取</div>
            </span>
            <span>
                <div class="s_t">duì</div>
                <div class="s_b">对</div>
            </span>
            <span>
                <div class="s_t">jūn</div>
                <div class="s_b">君</div>
            </span>
            <span>
                <div class="s_t">zhuó</div>
                <div class="s_b">酌</div>
            </span>
            <span>
                <div class="s_t"></div>
                <div class="s_b">。</div>
            </span>
            <span>
                <div class="s_t">wǔ</div>
                <div class="s_b">五</div>
            </span>
            <span>
                <div class="s_t">huā</div>
                <div class="s_b">花</div>
            </span>
            <span>
                <div class="s_t">mǎ</div>
                <div class="s_b">马</div>
            </span>
            <span>
                <div class="s_t"></div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">qiān</div>
                <div class="s_b">千</div>
            </span>
            <span>
                <div class="s_t">jīn</div>
                <div class="s_b">金</div>
            </span>
            <span>
                <div class="s_t">qiú</div>
                <div class="s_b">裘</div>
            </span>
            <span>
                <div class="s_t"></div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">hū</div>
                <div class="s_b">呼</div>
            </span>
            <span>
                <div class="s_t">ér</div>
                <div class="s_b">儿</div>
            </span>
            <span>
                <div class="s_t">jiāng</div>
                <div class="s_b">将</div>
            </span>
            <span>
                <div class="s_t">chū</div>
                <div class="s_b">出</div>
            </span>
            <span>
                <div class="s_t">huàn</div>
                <div class="s_b">换</div>
            </span>
            <span>
                <div class="s_t">měi</div>
                <div class="s_b">美</div>
            </span>
            <span>
                <div class="s_t">jiǔ</div>
                <div class="s_b">酒</div>
            </span>
            <span>
                <div class="s_t"></div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">yǔ</div>
                <div class="s_b">与</div>
            </span>
            <span>
                <div class="s_t">ěr</div>
                <div class="s_b">尔</div>
            </span>
            <span>
                <div class="s_t">tóng</div>
                <div class="s_b">同</div>
            </span>
            <span>
                <div class="s_t">xiāo</div>
                <div class="s_b">销</div>
            </span>
            <span>
                <div class="s_t">wàn</div>
                <div class="s_b">万</div>
            </span>
            <span>
                <div class="s_t">gǔ</div>
                <div class="s_b">古</div>
            </span>
            <span>
                <div class="s_t">chóu</div>
                <div class="s_b">愁</div>
            </span>
            <span>
                <div class="s_t"></div>
                <div class="s_b">。</div>
            </span>
        </li>
    </ul>
</div>
</body>
</html>
