<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>《曹刿论战》拼音版</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <style>
        .text-c {
            text-align: center;
        }

        .g_main {
            text-align: left;
            margin-left: -2.5%;
            margin-right: -0.4%;
        }

        .g_main li {
            clear: left;
            list-style-type: none;
        }

        .g_main li span {
            display: inline-block;
            text-align: center;
            list-style-type: none;
            width: 40px;
            font-size: 15px;
        }

        .g_main li span .s_b {
            font-size: 18px;
            font-weight: bold;
            font-family: "楷体";
        }

        .g_main li span .s_t {
            font-size: 0.8em;
        }
    </style>
</head>

<body>
<div class="g_box">
    <ul class="g_main text-c">
        <li>
            <span>
                <div class="s_t">cáo</div>
                <div class="s_b">曹</div>
            </span>
            <span>
                <div class="s_t">guì</div>
                <div class="s_b">刿</div>
            </span>
            <span>
                <div class="s_t">lùn</div>
                <div class="s_b">论</div>
            </span>
            <span>
                <div class="s_t">zhàn</div>
                <div class="s_b">战</div>
            </span>
        </li>
    </ul>
    <ul class="g_main text-c">
        <li>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">〔</div>
            </span>
            <span>
                <div class="s_t">chūn</div>
                <div class="s_b">春</div>
            </span>
            <span>
                <div class="s_t">qiū</div>
                <div class="s_b">秋</div>
            </span>
            <span>
                <div class="s_t">lǔ</div>
                <div class="s_b">鲁</div>
            </span>
            <span>
                <div class="s_t">guó</div>
                <div class="s_b">国</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">〕</div>
            </span>
            <span>
                <div class="s_t">zuǒ</div>
                <div class="s_b">左</div>
            </span>
            <span>
                <div class="s_t">qiū</div>
                <div class="s_b">丘</div>
            </span>
            <span>
                <div class="s_t">míng</div>
                <div class="s_b">明</div>
            </span>
        </li>
    </ul>
    <ul class="g_main ">
        <li>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">　</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">　</div>
            </span>
            <span>
                <div class="s_t">shí</div>
                <div class="s_b">十</div>
            </span>
            <span>
                <div class="s_t">nián</div>
                <div class="s_b">年</div>
            </span>
            <span>
                <div class="s_t">chūn</div>
                <div class="s_b">春</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">qí</div>
                <div class="s_b">齐</div>
            </span>
            <span>
                <div class="s_t">shī</div>
                <div class="s_b">师</div>
            </span>
            <span>
                <div class="s_t">fá</div>
                <div class="s_b">伐</div>
            </span>
            <span>
                <div class="s_t">wǒ</div>
                <div class="s_b">我</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
            <span>
                <div class="s_t">gōng</div>
                <div class="s_b">公</div>
            </span>
            <span>
                <div class="s_t">jiāng</div>
                <div class="s_b">将</div>
            </span>
            <span>
                <div class="s_t">zhàn</div>
                <div class="s_b">战</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">cáo</div>
                <div class="s_b">曹</div>
            </span>
            <span>
                <div class="s_t">guì</div>
                <div class="s_b">刿</div>
            </span>
            <span>
                <div class="s_t">qǐng</div>
                <div class="s_b">请</div>
            </span>
            <span>
                <div class="s_t">jiàn</div>
                <div class="s_b">见</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
            <span>
                <div class="s_t">qí</div>
                <div class="s_b">其</div>
            </span>
            <span>
                <div class="s_t">xiāng</div>
                <div class="s_b">乡</div>
            </span>
            <span>
                <div class="s_t">rén</div>
                <div class="s_b">人</div>
            </span>
            <span>
                <div class="s_t">yuē</div>
                <div class="s_b">曰</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">：</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">“</div>
            </span>
            <span>
                <div class="s_t">ròu</div>
                <div class="s_b">肉</div>
            </span>
            <span>
                <div class="s_t">shí</div>
                <div class="s_b">食</div>
            </span>
            <span>
                <div class="s_t">zhě</div>
                <div class="s_b">者</div>
            </span>
            <span>
                <div class="s_t">móu</div>
                <div class="s_b">谋</div>
            </span>
            <span>
                <div class="s_t">zhī</div>
                <div class="s_b">之</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">yòu</div>
                <div class="s_b">又</div>
            </span>
            <span>
                <div class="s_t">hé</div>
                <div class="s_b">何</div>
            </span>
            <span>
                <div class="s_t">jiàn</div>
                <div class="s_b">间</div>
            </span>
            <span>
                <div class="s_t">yān</div>
                <div class="s_b">焉</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">？</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">”</div>
            </span>
            <span>
                <div class="s_t">guì</div>
                <div class="s_b">刿</div>
            </span>
            <span>
                <div class="s_t">yuē</div>
                <div class="s_b">曰</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">：</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">“</div>
            </span>
            <span>
                <div class="s_t">ròu</div>
                <div class="s_b">肉</div>
            </span>
            <span>
                <div class="s_t">shí</div>
                <div class="s_b">食</div>
            </span>
            <span>
                <div class="s_t">zhě</div>
                <div class="s_b">者</div>
            </span>
            <span>
                <div class="s_t">bǐ</div>
                <div class="s_b">鄙</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">wèi</div>
                <div class="s_b">未</div>
            </span>
            <span>
                <div class="s_t">néng</div>
                <div class="s_b">能</div>
            </span>
            <span>
                <div class="s_t">yuǎn</div>
                <div class="s_b">远</div>
            </span>
            <span>
                <div class="s_t">móu</div>
                <div class="s_b">谋</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">”</div>
            </span>
            <span>
                <div class="s_t">nǎi</div>
                <div class="s_b">乃</div>
            </span>
            <span>
                <div class="s_t">rù</div>
                <div class="s_b">入</div>
            </span>
            <span>
                <div class="s_t">jiàn</div>
                <div class="s_b">见</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
            <span>
                <div class="s_t">wèn</div>
                <div class="s_b">问</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">：</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">“</div>
            </span>
            <span>
                <div class="s_t">hé</div>
                <div class="s_b">何</div>
            </span>
            <span>
                <div class="s_t">yǐ</div>
                <div class="s_b">以</div>
            </span>
            <span>
                <div class="s_t">zhàn</div>
                <div class="s_b">战</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">？</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">”</div>
            </span>
            <span>
                <div class="s_t">gōng</div>
                <div class="s_b">公</div>
            </span>
            <span>
                <div class="s_t">yuē</div>
                <div class="s_b">曰</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">：</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">“</div>
            </span>
            <span>
                <div class="s_t">yī</div>
                <div class="s_b">衣</div>
            </span>
            <span>
                <div class="s_t">shí</div>
                <div class="s_b">食</div>
            </span>
            <span>
                <div class="s_t">suǒ</div>
                <div class="s_b">所</div>
            </span>
            <span>
                <div class="s_t">ān</div>
                <div class="s_b">安</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">fú</div>
                <div class="s_b">弗</div>
            </span>
            <span>
                <div class="s_t">gǎn</div>
                <div class="s_b">敢</div>
            </span>
            <span>
                <div class="s_t">zhuān</div>
                <div class="s_b">专</div>
            </span>
            <span>
                <div class="s_t">yě</div>
                <div class="s_b">也</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">bì</div>
                <div class="s_b">必</div>
            </span>
            <span>
                <div class="s_t">yǐ</div>
                <div class="s_b">以</div>
            </span>
            <span>
                <div class="s_t">fēn</div>
                <div class="s_b">分</div>
            </span>
            <span>
                <div class="s_t">rén</div>
                <div class="s_b">人</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">”</div>
            </span>
            <span>
                <div class="s_t">duì</div>
                <div class="s_b">对</div>
            </span>
            <span>
                <div class="s_t">yuē</div>
                <div class="s_b">曰</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">：</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">“</div>
            </span>
            <span>
                <div class="s_t">xiǎo</div>
                <div class="s_b">小</div>
            </span>
            <span>
                <div class="s_t">huì</div>
                <div class="s_b">惠</div>
            </span>
            <span>
                <div class="s_t">wèi</div>
                <div class="s_b">未</div>
            </span>
            <span>
                <div class="s_t">biàn</div>
                <div class="s_b">遍</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">mín</div>
                <div class="s_b">民</div>
            </span>
            <span>
                <div class="s_t">fú</div>
                <div class="s_b">弗</div>
            </span>
            <span>
                <div class="s_t">cóng</div>
                <div class="s_b">从</div>
            </span>
            <span>
                <div class="s_t">yě</div>
                <div class="s_b">也</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">”</div>
            </span>
            <span>
                <div class="s_t">gōng</div>
                <div class="s_b">公</div>
            </span>
            <span>
                <div class="s_t">yuē</div>
                <div class="s_b">曰</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">：</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">“</div>
            </span>
            <span>
                <div class="s_t">xī</div>
                <div class="s_b">牺</div>
            </span>
            <span>
                <div class="s_t">shēng</div>
                <div class="s_b">牲</div>
            </span>
            <span>
                <div class="s_t">yù</div>
                <div class="s_b">玉</div>
            </span>
            <span>
                <div class="s_t">bó</div>
                <div class="s_b">帛</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">fú</div>
                <div class="s_b">弗</div>
            </span>
            <span>
                <div class="s_t">gǎn</div>
                <div class="s_b">敢</div>
            </span>
            <span>
                <div class="s_t">jiā</div>
                <div class="s_b">加</div>
            </span>
            <span>
                <div class="s_t">yě</div>
                <div class="s_b">也</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">bì</div>
                <div class="s_b">必</div>
            </span>
            <span>
                <div class="s_t">yǐ</div>
                <div class="s_b">以</div>
            </span>
            <span>
                <div class="s_t">xìn</div>
                <div class="s_b">信</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">”</div>
            </span>
            <span>
                <div class="s_t">duì</div>
                <div class="s_b">对</div>
            </span>
            <span>
                <div class="s_t">yuē</div>
                <div class="s_b">曰</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">：</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">“</div>
            </span>
            <span>
                <div class="s_t">xiǎo</div>
                <div class="s_b">小</div>
            </span>
            <span>
                <div class="s_t">xìn</div>
                <div class="s_b">信</div>
            </span>
            <span>
                <div class="s_t">wèi</div>
                <div class="s_b">未</div>
            </span>
            <span>
                <div class="s_t">fú</div>
                <div class="s_b">孚</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">shén</div>
                <div class="s_b">神</div>
            </span>
            <span>
                <div class="s_t">fú</div>
                <div class="s_b">弗</div>
            </span>
            <span>
                <div class="s_t">fú</div>
                <div class="s_b">福</div>
            </span>
            <span>
                <div class="s_t">yě</div>
                <div class="s_b">也</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">”</div>
            </span>
            <span>
                <div class="s_t">gōng</div>
                <div class="s_b">公</div>
            </span>
            <span>
                <div class="s_t">yuē</div>
                <div class="s_b">曰</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">：</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">“</div>
            </span>
            <span>
                <div class="s_t">xiǎo</div>
                <div class="s_b">小</div>
            </span>
            <span>
                <div class="s_t">dà</div>
                <div class="s_b">大</div>
            </span>
            <span>
                <div class="s_t">zhī</div>
                <div class="s_b">之</div>
            </span>
            <span>
                <div class="s_t">yù</div>
                <div class="s_b">狱</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">suī</div>
                <div class="s_b">虽</div>
            </span>
            <span>
                <div class="s_t">bù</div>
                <div class="s_b">不</div>
            </span>
            <span>
                <div class="s_t">néng</div>
                <div class="s_b">能</div>
            </span>
            <span>
                <div class="s_t">chá</div>
                <div class="s_b">察</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">bì</div>
                <div class="s_b">必</div>
            </span>
            <span>
                <div class="s_t">yǐ</div>
                <div class="s_b">以</div>
            </span>
            <span>
                <div class="s_t">qíng</div>
                <div class="s_b">情</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">”</div>
            </span>
            <span>
                <div class="s_t">duì</div>
                <div class="s_b">对</div>
            </span>
            <span>
                <div class="s_t">yuē</div>
                <div class="s_b">曰</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">：</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">“</div>
            </span>
            <span>
                <div class="s_t">zhōng</div>
                <div class="s_b">忠</div>
            </span>
            <span>
                <div class="s_t">zhī</div>
                <div class="s_b">之</div>
            </span>
            <span>
                <div class="s_t">shǔ</div>
                <div class="s_b">属</div>
            </span>
            <span>
                <div class="s_t">yě</div>
                <div class="s_b">也</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
            <span>
                <div class="s_t">kě</div>
                <div class="s_b">可</div>
            </span>
            <span>
                <div class="s_t">yǐ</div>
                <div class="s_b">以</div>
            </span>
            <span>
                <div class="s_t">yí</div>
                <div class="s_b">一</div>
            </span>
            <span>
                <div class="s_t">zhàn</div>
                <div class="s_b">战</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
            <span>
                <div class="s_t">zhàn</div>
                <div class="s_b">战</div>
            </span>
            <span>
                <div class="s_t">zé</div>
                <div class="s_b">则</div>
            </span>
            <span>
                <div class="s_t">qǐng</div>
                <div class="s_b">请</div>
            </span>
            <span>
                <div class="s_t">cóng</div>
                <div class="s_b">从</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">”</div>
            </span>
        </li>
        <li>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">　</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">　</div>
            </span>
            <span>
                <div class="s_t">gōng</div>
                <div class="s_b">公</div>
            </span>
            <span>
                <div class="s_t">yǔ</div>
                <div class="s_b">与</div>
            </span>
            <span>
                <div class="s_t">zhī</div>
                <div class="s_b">之</div>
            </span>
            <span>
                <div class="s_t">chéng</div>
                <div class="s_b">乘</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
            <span>
                <div class="s_t">zhàn</div>
                <div class="s_b">战</div>
            </span>
            <span>
                <div class="s_t">yú</div>
                <div class="s_b">于</div>
            </span>
            <span>
                <div class="s_t">cháng</div>
                <div class="s_b">长</div>
            </span>
            <span>
                <div class="s_t">sháo</div>
                <div class="s_b">勺</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
            <span>
                <div class="s_t">gōng</div>
                <div class="s_b">公</div>
            </span>
            <span>
                <div class="s_t">jiāng</div>
                <div class="s_b">将</div>
            </span>
            <span>
                <div class="s_t">gǔ</div>
                <div class="s_b">鼓</div>
            </span>
            <span>
                <div class="s_t">zhī</div>
                <div class="s_b">之</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
            <span>
                <div class="s_t">guì</div>
                <div class="s_b">刿</div>
            </span>
            <span>
                <div class="s_t">yuē</div>
                <div class="s_b">曰</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">：</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">“</div>
            </span>
            <span>
                <div class="s_t">wèi</div>
                <div class="s_b">未</div>
            </span>
            <span>
                <div class="s_t">kě</div>
                <div class="s_b">可</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">”</div>
            </span>
            <span>
                <div class="s_t">qí</div>
                <div class="s_b">齐</div>
            </span>
            <span>
                <div class="s_t">rén</div>
                <div class="s_b">人</div>
            </span>
            <span>
                <div class="s_t">sān</div>
                <div class="s_b">三</div>
            </span>
            <span>
                <div class="s_t">gǔ</div>
                <div class="s_b">鼓</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
            <span>
                <div class="s_t">guì</div>
                <div class="s_b">刿</div>
            </span>
            <span>
                <div class="s_t">yuē</div>
                <div class="s_b">曰</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">：</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">“</div>
            </span>
            <span>
                <div class="s_t">kě</div>
                <div class="s_b">可</div>
            </span>
            <span>
                <div class="s_t">yǐ</div>
                <div class="s_b">矣</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">”</div>
            </span>
            <span>
                <div class="s_t">qí</div>
                <div class="s_b">齐</div>
            </span>
            <span>
                <div class="s_t">shī</div>
                <div class="s_b">师</div>
            </span>
            <span>
                <div class="s_t">bài</div>
                <div class="s_b">败</div>
            </span>
            <span>
                <div class="s_t">jì</div>
                <div class="s_b">绩</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
            <span>
                <div class="s_t">gōng</div>
                <div class="s_b">公</div>
            </span>
            <span>
                <div class="s_t">jiāng</div>
                <div class="s_b">将</div>
            </span>
            <span>
                <div class="s_t">chí</div>
                <div class="s_b">驰</div>
            </span>
            <span>
                <div class="s_t">zhī</div>
                <div class="s_b">之</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
            <span>
                <div class="s_t">guì</div>
                <div class="s_b">刿</div>
            </span>
            <span>
                <div class="s_t">yuē</div>
                <div class="s_b">曰</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">：</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">“</div>
            </span>
            <span>
                <div class="s_t">wèi</div>
                <div class="s_b">未</div>
            </span>
            <span>
                <div class="s_t">kě</div>
                <div class="s_b">可</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">”</div>
            </span>
            <span>
                <div class="s_t">xià</div>
                <div class="s_b">下</div>
            </span>
            <span>
                <div class="s_t">shì</div>
                <div class="s_b">视</div>
            </span>
            <span>
                <div class="s_t">qí</div>
                <div class="s_b">其</div>
            </span>
            <span>
                <div class="s_t">zhé</div>
                <div class="s_b">辙</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">dēng</div>
                <div class="s_b">登</div>
            </span>
            <span>
                <div class="s_t">shì</div>
                <div class="s_b">轼</div>
            </span>
            <span>
                <div class="s_t">ér</div>
                <div class="s_b">而</div>
            </span>
            <span>
                <div class="s_t">wàng</div>
                <div class="s_b">望</div>
            </span>
            <span>
                <div class="s_t">zhī</div>
                <div class="s_b">之</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">yuē</div>
                <div class="s_b">曰</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">：</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">“</div>
            </span>
            <span>
                <div class="s_t">kě</div>
                <div class="s_b">可</div>
            </span>
            <span>
                <div class="s_t">yǐ</div>
                <div class="s_b">矣</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">”</div>
            </span>
            <span>
                <div class="s_t">suì</div>
                <div class="s_b">遂</div>
            </span>
            <span>
                <div class="s_t">zhú</div>
                <div class="s_b">逐</div>
            </span>
            <span>
                <div class="s_t">qí</div>
                <div class="s_b">齐</div>
            </span>
            <span>
                <div class="s_t">shī</div>
                <div class="s_b">师</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
        </li>
        <li>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">　</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">　</div>
            </span>
            <span>
                <div class="s_t">jì</div>
                <div class="s_b">既</div>
            </span>
            <span>
                <div class="s_t">kè</div>
                <div class="s_b">克</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">gōng</div>
                <div class="s_b">公</div>
            </span>
            <span>
                <div class="s_t">wèn</div>
                <div class="s_b">问</div>
            </span>
            <span>
                <div class="s_t">qí</div>
                <div class="s_b">其</div>
            </span>
            <span>
                <div class="s_t">gù</div>
                <div class="s_b">故</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
            <span>
                <div class="s_t">duì</div>
                <div class="s_b">对</div>
            </span>
            <span>
                <div class="s_t">yuē</div>
                <div class="s_b">曰</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">：</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">“</div>
            </span>
            <span>
                <div class="s_t">fú</div>
                <div class="s_b">夫</div>
            </span>
            <span>
                <div class="s_t">zhàn</div>
                <div class="s_b">战</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">yǒng</div>
                <div class="s_b">勇</div>
            </span>
            <span>
                <div class="s_t">qì</div>
                <div class="s_b">气</div>
            </span>
            <span>
                <div class="s_t">yě</div>
                <div class="s_b">也</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
            <span>
                <div class="s_t">yī</div>
                <div class="s_b">一</div>
            </span>
            <span>
                <div class="s_t">gǔ</div>
                <div class="s_b">鼓</div>
            </span>
            <span>
                <div class="s_t">zuò</div>
                <div class="s_b">作</div>
            </span>
            <span>
                <div class="s_t">qì</div>
                <div class="s_b">气</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">zài</div>
                <div class="s_b">再</div>
            </span>
            <span>
                <div class="s_t">ér</div>
                <div class="s_b">而</div>
            </span>
            <span>
                <div class="s_t">shuāi</div>
                <div class="s_b">衰</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">sān</div>
                <div class="s_b">三</div>
            </span>
            <span>
                <div class="s_t">ér</div>
                <div class="s_b">而</div>
            </span>
            <span>
                <div class="s_t">jié</div>
                <div class="s_b">竭</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
            <span>
                <div class="s_t">bǐ</div>
                <div class="s_b">彼</div>
            </span>
            <span>
                <div class="s_t">jié</div>
                <div class="s_b">竭</div>
            </span>
            <span>
                <div class="s_t">wǒ</div>
                <div class="s_b">我</div>
            </span>
            <span>
                <div class="s_t">yíng</div>
                <div class="s_b">盈</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">gù</div>
                <div class="s_b">故</div>
            </span>
            <span>
                <div class="s_t">kè</div>
                <div class="s_b">克</div>
            </span>
            <span>
                <div class="s_t">zhī</div>
                <div class="s_b">之</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
            <span>
                <div class="s_t">fú</div>
                <div class="s_b">夫</div>
            </span>
            <span>
                <div class="s_t">dà</div>
                <div class="s_b">大</div>
            </span>
            <span>
                <div class="s_t">guó</div>
                <div class="s_b">国</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">nán</div>
                <div class="s_b">难</div>
            </span>
            <span>
                <div class="s_t">cè</div>
                <div class="s_b">测</div>
            </span>
            <span>
                <div class="s_t">yě</div>
                <div class="s_b">也</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">jù</div>
                <div class="s_b">惧</div>
            </span>
            <span>
                <div class="s_t">yǒu</div>
                <div class="s_b">有</div>
            </span>
            <span>
                <div class="s_t">fú</div>
                <div class="s_b">伏</div>
            </span>
            <span>
                <div class="s_t">yān</div>
                <div class="s_b">焉</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
            <span>
                <div class="s_t">wú</div>
                <div class="s_b">吾</div>
            </span>
            <span>
                <div class="s_t">shì</div>
                <div class="s_b">视</div>
            </span>
            <span>
                <div class="s_t">qí</div>
                <div class="s_b">其</div>
            </span>
            <span>
                <div class="s_t">zhé</div>
                <div class="s_b">辙</div>
            </span>
            <span>
                <div class="s_t">luàn</div>
                <div class="s_b">乱</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">wàng</div>
                <div class="s_b">望</div>
            </span>
            <span>
                <div class="s_t">qí</div>
                <div class="s_b">其</div>
            </span>
            <span>
                <div class="s_t">qí</div>
                <div class="s_b">旗</div>
            </span>
            <span>
                <div class="s_t">mǐ</div>
                <div class="s_b">靡</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">gù</div>
                <div class="s_b">故</div>
            </span>
            <span>
                <div class="s_t">zhú</div>
                <div class="s_b">逐</div>
            </span>
            <span>
                <div class="s_t">zhī</div>
                <div class="s_b">之</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">”</div>
            </span>
        </li>
    </ul>
</div>
</body>

</html>