<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>《桃花源记》拼音版</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <style>
        .text-c {
            text-align: center;
        }

        .g_main {
            text-align: left;
            margin-left: -2.5%;
            margin-right: -0.4%;
        }

        .g_main li {
            clear: left;
            list-style-type: none;
        }

        .g_main li span {
            display: inline-block;
            text-align: center;
            list-style-type: none;
            width: 40px;
            font-size: 15px;
        }

        .g_main li span .s_b {
            font-size: 18px;
            font-weight: bold;
        }

        .g_main li span .s_t {
            font-size: 0.8em;
        }
    </style>
</head>
<body>
<div class="g_box">
    <ul class="g_main text-c">
        <li>
            <span>
                <div class="s_t">táo</div>
                <div class="s_b">桃</div>
            </span>
            <span>
                <div class="s_t">huā</div>
                <div class="s_b">花</div>
            </span>
            <span>
                <div class="s_t">yuán</div>
                <div class="s_b">源</div>
            </span>
            <span>
                <div class="s_t">jì</div>
                <div class="s_b">记</div>
            </span>
        </li>
    </ul>
    <ul class="g_main  text-c">
        <li>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">〔</div>
            </span>
            <span>
                <div class="s_t">dōng</div>
                <div class="s_b">东</div>
            </span>
            <span>
                <div class="s_t">jìn</div>
                <div class="s_b">晋</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">〕</div>
            </span>
            <span>
                <div class="s_t">táo</div>
                <div class="s_b">陶</div>
            </span>
            <span>
                <div class="s_t">yuān</div>
                <div class="s_b">渊</div>
            </span>
            <span>
                <div class="s_t">míng</div>
                <div class="s_b">明</div>
            </span>
        </li>
    </ul>
    <ul class="g_main ">
        <li>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">　</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">　</div>
            </span>
            <span>
                <div class="s_t">jìn</div>
                <div class="s_b">晋</div>
            </span>
            <span>
                <div class="s_t">tài</div>
                <div class="s_b">太</div>
            </span>
            <span>
                <div class="s_t">yuán</div>
                <div class="s_b">元</div>
            </span>
            <span>
                <div class="s_t">zhōng</div>
                <div class="s_b">中</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">wǔ</div>
                <div class="s_b">武</div>
            </span>
            <span>
                <div class="s_t">líng</div>
                <div class="s_b">陵</div>
            </span>
            <span>
                <div class="s_t">rén</div>
                <div class="s_b">人</div>
            </span>
            <span>
                <div class="s_t">bǔ</div>
                <div class="s_b">捕</div>
            </span>
            <span>
                <div class="s_t">yú</div>
                <div class="s_b">鱼</div>
            </span>
            <span>
                <div class="s_t">wéi</div>
                <div class="s_b">为</div>
            </span>
            <span>
                <div class="s_t">yè</div>
                <div class="s_b">业</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
            <span>
                <div class="s_t">yuán</div>
                <div class="s_b">缘</div>
            </span>
            <span>
                <div class="s_t">xī</div>
                <div class="s_b">溪</div>
            </span>
            <span>
                <div class="s_t">xíng</div>
                <div class="s_b">行</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">wàng</div>
                <div class="s_b">忘</div>
            </span>
            <span>
                <div class="s_t">lù</div>
                <div class="s_b">路</div>
            </span>
            <span>
                <div class="s_t">zhī</div>
                <div class="s_b">之</div>
            </span>
            <span>
                <div class="s_t">yuǎn</div>
                <div class="s_b">远</div>
            </span>
            <span>
                <div class="s_t">jìn</div>
                <div class="s_b">近</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
            <span>
                <div class="s_t">hū</div>
                <div class="s_b">忽</div>
            </span>
            <span>
                <div class="s_t">féng</div>
                <div class="s_b">逢</div>
            </span>
            <span>
                <div class="s_t">táo</div>
                <div class="s_b">桃</div>
            </span>
            <span>
                <div class="s_t">huā</div>
                <div class="s_b">花</div>
            </span>
            <span>
                <div class="s_t">lín</div>
                <div class="s_b">林</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">jiā</div>
                <div class="s_b">夹</div>
            </span>
            <span>
                <div class="s_t">àn</div>
                <div class="s_b">岸</div>
            </span>
            <span>
                <div class="s_t">shù</div>
                <div class="s_b">数</div>
            </span>
            <span>
                <div class="s_t">bǎi</div>
                <div class="s_b">百</div>
            </span>
            <span>
                <div class="s_t">bù</div>
                <div class="s_b">步</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">zhōng</div>
                <div class="s_b">中</div>
            </span>
            <span>
                <div class="s_t">wú</div>
                <div class="s_b">无</div>
            </span>
            <span>
                <div class="s_t">zá</div>
                <div class="s_b">杂</div>
            </span>
            <span>
                <div class="s_t">shù</div>
                <div class="s_b">树</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">fāng</div>
                <div class="s_b">芳</div>
            </span>
            <span>
                <div class="s_t">cǎo</div>
                <div class="s_b">草</div>
            </span>
            <span>
                <div class="s_t">xiān</div>
                <div class="s_b">鲜</div>
            </span>
            <span>
                <div class="s_t">měi</div>
                <div class="s_b">美</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">luò</div>
                <div class="s_b">落</div>
            </span>
            <span>
                <div class="s_t">yīng</div>
                <div class="s_b">英</div>
            </span>
            <span>
                <div class="s_t">bīn</div>
                <div class="s_b">缤</div>
            </span>
            <span>
                <div class="s_t">fēn</div>
                <div class="s_b">纷</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
            <span>
                <div class="s_t">yú</div>
                <div class="s_b">渔</div>
            </span>
            <span>
                <div class="s_t">rén</div>
                <div class="s_b">人</div>
            </span>
            <span>
                <div class="s_t">shèn</div>
                <div class="s_b">甚</div>
            </span>
            <span>
                <div class="s_t">yì</div>
                <div class="s_b">异</div>
            </span>
            <span>
                <div class="s_t">zhī</div>
                <div class="s_b">之</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">fù</div>
                <div class="s_b">复</div>
            </span>
            <span>
                <div class="s_t">qián</div>
                <div class="s_b">前</div>
            </span>
            <span>
                <div class="s_t">xíng</div>
                <div class="s_b">行</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">yù</div>
                <div class="s_b">欲</div>
            </span>
            <span>
                <div class="s_t">qióng</div>
                <div class="s_b">穷</div>
            </span>
            <span>
                <div class="s_t">qí</div>
                <div class="s_b">其</div>
            </span>
            <span>
                <div class="s_t">lín</div>
                <div class="s_b">林</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
        </li>
        <li>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">　</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">　</div>
            </span>
            <span>
                <div class="s_t">lín</div>
                <div class="s_b">林</div>
            </span>
            <span>
                <div class="s_t">jìn</div>
                <div class="s_b">尽</div>
            </span>
            <span>
                <div class="s_t">shuǐ</div>
                <div class="s_b">水</div>
            </span>
            <span>
                <div class="s_t">yuán</div>
                <div class="s_b">源</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">biàn</div>
                <div class="s_b">便</div>
            </span>
            <span>
                <div class="s_t">dé</div>
                <div class="s_b">得</div>
            </span>
            <span>
                <div class="s_t">yì</div>
                <div class="s_b">一</div>
            </span>
            <span>
                <div class="s_t">shān</div>
                <div class="s_b">山</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">shān</div>
                <div class="s_b">山</div>
            </span>
            <span>
                <div class="s_t">yǒu</div>
                <div class="s_b">有</div>
            </span>
            <span>
                <div class="s_t">xiǎo</div>
                <div class="s_b">小</div>
            </span>
            <span>
                <div class="s_t">kǒu</div>
                <div class="s_b">口</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">fǎng</div>
                <div class="s_b">仿</div>
            </span>
            <span>
                <div class="s_t">fú</div>
                <div class="s_b">佛</div>
            </span>
            <span>
                <div class="s_t">ruò</div>
                <div class="s_b">若</div>
            </span>
            <span>
                <div class="s_t">yǒu</div>
                <div class="s_b">有</div>
            </span>
            <span>
                <div class="s_t">guāng</div>
                <div class="s_b">光</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
            <span>
                <div class="s_t">biàn</div>
                <div class="s_b">便</div>
            </span>
            <span>
                <div class="s_t">shě</div>
                <div class="s_b">舍</div>
            </span>
            <span>
                <div class="s_t">chuán</div>
                <div class="s_b">船</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">cóng</div>
                <div class="s_b">从</div>
            </span>
            <span>
                <div class="s_t">kǒu</div>
                <div class="s_b">口</div>
            </span>
            <span>
                <div class="s_t">rù</div>
                <div class="s_b">入</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
            <span>
                <div class="s_t">chū</div>
                <div class="s_b">初</div>
            </span>
            <span>
                <div class="s_t">jí</div>
                <div class="s_b">极</div>
            </span>
            <span>
                <div class="s_t">xiá</div>
                <div class="s_b">狭</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">cái</div>
                <div class="s_b">才</div>
            </span>
            <span>
                <div class="s_t">tōng</div>
                <div class="s_b">通</div>
            </span>
            <span>
                <div class="s_t">rén</div>
                <div class="s_b">人</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
            <span>
                <div class="s_t">fù</div>
                <div class="s_b">复</div>
            </span>
            <span>
                <div class="s_t">xíng</div>
                <div class="s_b">行</div>
            </span>
            <span>
                <div class="s_t">shù</div>
                <div class="s_b">数</div>
            </span>
            <span>
                <div class="s_t">shí</div>
                <div class="s_b">十</div>
            </span>
            <span>
                <div class="s_t">bù</div>
                <div class="s_b">步</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">huò</div>
                <div class="s_b">豁</div>
            </span>
            <span>
                <div class="s_t">rán</div>
                <div class="s_b">然</div>
            </span>
            <span>
                <div class="s_t">kāi</div>
                <div class="s_b">开</div>
            </span>
            <span>
                <div class="s_t">lǎng</div>
                <div class="s_b">朗</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
            <span>
                <div class="s_t">tǔ</div>
                <div class="s_b">土</div>
            </span>
            <span>
                <div class="s_t">dì</div>
                <div class="s_b">地</div>
            </span>
            <span>
                <div class="s_t">píng</div>
                <div class="s_b">平</div>
            </span>
            <span>
                <div class="s_t">kuàng</div>
                <div class="s_b">旷</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">wū</div>
                <div class="s_b">屋</div>
            </span>
            <span>
                <div class="s_t">shè</div>
                <div class="s_b">舍</div>
            </span>
            <span>
                <div class="s_t">yǎn</div>
                <div class="s_b">俨</div>
            </span>
            <span>
                <div class="s_t">rán</div>
                <div class="s_b">然</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">yǒu</div>
                <div class="s_b">有</div>
            </span>
            <span>
                <div class="s_t">liáng</div>
                <div class="s_b">良</div>
            </span>
            <span>
                <div class="s_t">tián</div>
                <div class="s_b">田</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">、</div>
            </span>
            <span>
                <div class="s_t">měi</div>
                <div class="s_b">美</div>
            </span>
            <span>
                <div class="s_t">chí</div>
                <div class="s_b">池</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">、</div>
            </span>
            <span>
                <div class="s_t">sāng</div>
                <div class="s_b">桑</div>
            </span>
            <span>
                <div class="s_t">zhú</div>
                <div class="s_b">竹</div>
            </span>
            <span>
                <div class="s_t">zhī</div>
                <div class="s_b">之</div>
            </span>
            <span>
                <div class="s_t">shǔ</div>
                <div class="s_b">属</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
            <span>
                <div class="s_t">qiān</div>
                <div class="s_b">阡</div>
            </span>
            <span>
                <div class="s_t">mò</div>
                <div class="s_b">陌</div>
            </span>
            <span>
                <div class="s_t">jiāo</div>
                <div class="s_b">交</div>
            </span>
            <span>
                <div class="s_t">tōng</div>
                <div class="s_b">通</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">jī</div>
                <div class="s_b">鸡</div>
            </span>
            <span>
                <div class="s_t">quǎn</div>
                <div class="s_b">犬</div>
            </span>
            <span>
                <div class="s_t">xiāng</div>
                <div class="s_b">相</div>
            </span>
            <span>
                <div class="s_t">wén</div>
                <div class="s_b">闻</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
            <span>
                <div class="s_t">qí</div>
                <div class="s_b">其</div>
            </span>
            <span>
                <div class="s_t">zhōng</div>
                <div class="s_b">中</div>
            </span>
            <span>
                <div class="s_t">wǎng</div>
                <div class="s_b">往</div>
            </span>
            <span>
                <div class="s_t">lái</div>
                <div class="s_b">来</div>
            </span>
            <span>
                <div class="s_t">zhòng</div>
                <div class="s_b">种</div>
            </span>
            <span>
                <div class="s_t">zuò</div>
                <div class="s_b">作</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">nán</div>
                <div class="s_b">男</div>
            </span>
            <span>
                <div class="s_t">nǚ</div>
                <div class="s_b">女</div>
            </span>
            <span>
                <div class="s_t">yī</div>
                <div class="s_b">衣</div>
            </span>
            <span>
                <div class="s_t">zhuó</div>
                <div class="s_b">着</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">xī</div>
                <div class="s_b">悉</div>
            </span>
            <span>
                <div class="s_t">rú</div>
                <div class="s_b">如</div>
            </span>
            <span>
                <div class="s_t">wài</div>
                <div class="s_b">外</div>
            </span>
            <span>
                <div class="s_t">rén</div>
                <div class="s_b">人</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
            <span>
                <div class="s_t">huáng</div>
                <div class="s_b">黄</div>
            </span>
            <span>
                <div class="s_t">fà</div>
                <div class="s_b">发</div>
            </span>
            <span>
                <div class="s_t">chuí</div>
                <div class="s_b">垂</div>
            </span>
            <span>
                <div class="s_t">tiáo</div>
                <div class="s_b">髫</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">bìng</div>
                <div class="s_b">并</div>
            </span>
            <span>
                <div class="s_t">yí</div>
                <div class="s_b">怡</div>
            </span>
            <span>
                <div class="s_t">rán</div>
                <div class="s_b">然</div>
            </span>
            <span>
                <div class="s_t">zì</div>
                <div class="s_b">自</div>
            </span>
            <span>
                <div class="s_t">lè</div>
                <div class="s_b">乐</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
        </li>
        <li>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">　</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">　</div>
            </span>
            <span>
                <div class="s_t">jiàn</div>
                <div class="s_b">见</div>
            </span>
            <span>
                <div class="s_t">yú</div>
                <div class="s_b">渔</div>
            </span>
            <span>
                <div class="s_t">rén</div>
                <div class="s_b">人</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">nǎi</div>
                <div class="s_b">乃</div>
            </span>
            <span>
                <div class="s_t">dà</div>
                <div class="s_b">大</div>
            </span>
            <span>
                <div class="s_t">jīng</div>
                <div class="s_b">惊</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">wèn</div>
                <div class="s_b">问</div>
            </span>
            <span>
                <div class="s_t">suǒ</div>
                <div class="s_b">所</div>
            </span>
            <span>
                <div class="s_t">cóng</div>
                <div class="s_b">从</div>
            </span>
            <span>
                <div class="s_t">lái</div>
                <div class="s_b">来</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
            <span>
                <div class="s_t">jù</div>
                <div class="s_b">具</div>
            </span>
            <span>
                <div class="s_t">dá</div>
                <div class="s_b">答</div>
            </span>
            <span>
                <div class="s_t">zhī</div>
                <div class="s_b">之</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
            <span>
                <div class="s_t">biàn</div>
                <div class="s_b">便</div>
            </span>
            <span>
                <div class="s_t">yāo</div>
                <div class="s_b">要</div>
            </span>
            <span>
                <div class="s_t">huán</div>
                <div class="s_b">还</div>
            </span>
            <span>
                <div class="s_t">jiā</div>
                <div class="s_b">家</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">shè</div>
                <div class="s_b">设</div>
            </span>
            <span>
                <div class="s_t">jiǔ</div>
                <div class="s_b">酒</div>
            </span>
            <span>
                <div class="s_t">shā</div>
                <div class="s_b">杀</div>
            </span>
            <span>
                <div class="s_t">jī</div>
                <div class="s_b">鸡</div>
            </span>
            <span>
                <div class="s_t">zuò</div>
                <div class="s_b">作</div>
            </span>
            <span>
                <div class="s_t">shí</div>
                <div class="s_b">食</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
            <span>
                <div class="s_t">cūn</div>
                <div class="s_b">村</div>
            </span>
            <span>
                <div class="s_t">zhōng</div>
                <div class="s_b">中</div>
            </span>
            <span>
                <div class="s_t">wén</div>
                <div class="s_b">闻</div>
            </span>
            <span>
                <div class="s_t">yǒu</div>
                <div class="s_b">有</div>
            </span>
            <span>
                <div class="s_t">cǐ</div>
                <div class="s_b">此</div>
            </span>
            <span>
                <div class="s_t">rén</div>
                <div class="s_b">人</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">xián</div>
                <div class="s_b">咸</div>
            </span>
            <span>
                <div class="s_t">lái</div>
                <div class="s_b">来</div>
            </span>
            <span>
                <div class="s_t">wèn</div>
                <div class="s_b">问</div>
            </span>
            <span>
                <div class="s_t">xùn</div>
                <div class="s_b">讯</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
            <span>
                <div class="s_t">zì</div>
                <div class="s_b">自</div>
            </span>
            <span>
                <div class="s_t">yún</div>
                <div class="s_b">云</div>
            </span>
            <span>
                <div class="s_t">xiān</div>
                <div class="s_b">先</div>
            </span>
            <span>
                <div class="s_t">shì</div>
                <div class="s_b">世</div>
            </span>
            <span>
                <div class="s_t">bì</div>
                <div class="s_b">避</div>
            </span>
            <span>
                <div class="s_t">qín</div>
                <div class="s_b">秦</div>
            </span>
            <span>
                <div class="s_t">shí</div>
                <div class="s_b">时</div>
            </span>
            <span>
                <div class="s_t">luàn</div>
                <div class="s_b">乱</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">shuài</div>
                <div class="s_b">率</div>
            </span>
            <span>
                <div class="s_t">qī</div>
                <div class="s_b">妻</div>
            </span>
            <span>
                <div class="s_t">zǐ</div>
                <div class="s_b">子</div>
            </span>
            <span>
                <div class="s_t">yì</div>
                <div class="s_b">邑</div>
            </span>
            <span>
                <div class="s_t">rén</div>
                <div class="s_b">人</div>
            </span>
            <span>
                <div class="s_t">lái</div>
                <div class="s_b">来</div>
            </span>
            <span>
                <div class="s_t">cǐ</div>
                <div class="s_b">此</div>
            </span>
            <span>
                <div class="s_t">jué</div>
                <div class="s_b">绝</div>
            </span>
            <span>
                <div class="s_t">jìng</div>
                <div class="s_b">境</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">bú</div>
                <div class="s_b">不</div>
            </span>
            <span>
                <div class="s_t">fù</div>
                <div class="s_b">复</div>
            </span>
            <span>
                <div class="s_t">chū</div>
                <div class="s_b">出</div>
            </span>
            <span>
                <div class="s_t">yān</div>
                <div class="s_b">焉</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">suì</div>
                <div class="s_b">遂</div>
            </span>
            <span>
                <div class="s_t">yǔ</div>
                <div class="s_b">与</div>
            </span>
            <span>
                <div class="s_t">wài</div>
                <div class="s_b">外</div>
            </span>
            <span>
                <div class="s_t">rén</div>
                <div class="s_b">人</div>
            </span>
            <span>
                <div class="s_t">jiàn</div>
                <div class="s_b">间</div>
            </span>
            <span>
                <div class="s_t">gé</div>
                <div class="s_b">隔</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
            <span>
                <div class="s_t">wèn</div>
                <div class="s_b">问</div>
            </span>
            <span>
                <div class="s_t">jīn</div>
                <div class="s_b">今</div>
            </span>
            <span>
                <div class="s_t">shì</div>
                <div class="s_b">是</div>
            </span>
            <span>
                <div class="s_t">hé</div>
                <div class="s_b">何</div>
            </span>
            <span>
                <div class="s_t">shì</div>
                <div class="s_b">世</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">nǎi</div>
                <div class="s_b">乃</div>
            </span>
            <span>
                <div class="s_t">bù</div>
                <div class="s_b">不</div>
            </span>
            <span>
                <div class="s_t">zhī</div>
                <div class="s_b">知</div>
            </span>
            <span>
                <div class="s_t">yǒu</div>
                <div class="s_b">有</div>
            </span>
            <span>
                <div class="s_t">hàn</div>
                <div class="s_b">汉</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">wú</div>
                <div class="s_b">无</div>
            </span>
            <span>
                <div class="s_t">lùn</div>
                <div class="s_b">论</div>
            </span>
            <span>
                <div class="s_t">wèi</div>
                <div class="s_b">魏</div>
            </span>
            <span>
                <div class="s_t">jìn</div>
                <div class="s_b">晋</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
            <span>
                <div class="s_t">cǐ</div>
                <div class="s_b">此</div>
            </span>
            <span>
                <div class="s_t">rén</div>
                <div class="s_b">人</div>
            </span>
            <span>
                <div class="s_t">yī</div>
                <div class="s_b">一</div>
            </span>
            <span>
                <div class="s_t">yī</div>
                <div class="s_b">一</div>
            </span>
            <span>
                <div class="s_t">wèi</div>
                <div class="s_b">为</div>
            </span>
            <span>
                <div class="s_t">jù</div>
                <div class="s_b">具</div>
            </span>
            <span>
                <div class="s_t">yán</div>
                <div class="s_b">言</div>
            </span>
            <span>
                <div class="s_t">suǒ</div>
                <div class="s_b">所</div>
            </span>
            <span>
                <div class="s_t">wén</div>
                <div class="s_b">闻</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">jiē</div>
                <div class="s_b">皆</div>
            </span>
            <span>
                <div class="s_t">tàn</div>
                <div class="s_b">叹</div>
            </span>
            <span>
                <div class="s_t">wǎn</div>
                <div class="s_b">惋</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
            <span>
                <div class="s_t">yú</div>
                <div class="s_b">余</div>
            </span>
            <span>
                <div class="s_t">rén</div>
                <div class="s_b">人</div>
            </span>
            <span>
                <div class="s_t">gè</div>
                <div class="s_b">各</div>
            </span>
            <span>
                <div class="s_t">fù</div>
                <div class="s_b">复</div>
            </span>
            <span>
                <div class="s_t">yán</div>
                <div class="s_b">延</div>
            </span>
            <span>
                <div class="s_t">zhì</div>
                <div class="s_b">至</div>
            </span>
            <span>
                <div class="s_t">qí</div>
                <div class="s_b">其</div>
            </span>
            <span>
                <div class="s_t">jiā</div>
                <div class="s_b">家</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">jiē</div>
                <div class="s_b">皆</div>
            </span>
            <span>
                <div class="s_t">chū</div>
                <div class="s_b">出</div>
            </span>
            <span>
                <div class="s_t">jiǔ</div>
                <div class="s_b">酒</div>
            </span>
            <span>
                <div class="s_t">shí</div>
                <div class="s_b">食</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
            <span>
                <div class="s_t">tíng</div>
                <div class="s_b">停</div>
            </span>
            <span>
                <div class="s_t">shù</div>
                <div class="s_b">数</div>
            </span>
            <span>
                <div class="s_t">rì</div>
                <div class="s_b">日</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">cí</div>
                <div class="s_b">辞</div>
            </span>
            <span>
                <div class="s_t">qù</div>
                <div class="s_b">去</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
            <span>
                <div class="s_t">cǐ</div>
                <div class="s_b">此</div>
            </span>
            <span>
                <div class="s_t">zhōng</div>
                <div class="s_b">中</div>
            </span>
            <span>
                <div class="s_t">rén</div>
                <div class="s_b">人</div>
            </span>
            <span>
                <div class="s_t">yù</div>
                <div class="s_b">语</div>
            </span>
            <span>
                <div class="s_t">yún</div>
                <div class="s_b">云</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">：</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">“</div>
            </span>
            <span>
                <div class="s_t">bù</div>
                <div class="s_b">不</div>
            </span>
            <span>
                <div class="s_t">zú</div>
                <div class="s_b">足</div>
            </span>
            <span>
                <div class="s_t">wèi</div>
                <div class="s_b">为</div>
            </span>
            <span>
                <div class="s_t">wài</div>
                <div class="s_b">外</div>
            </span>
            <span>
                <div class="s_t">rén</div>
                <div class="s_b">人</div>
            </span>
            <span>
                <div class="s_t">dào</div>
                <div class="s_b">道</div>
            </span>
            <span>
                <div class="s_t">yě</div>
                <div class="s_b">也</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">”</div>
            </span>
        </li>
        <li>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">　</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">　</div>
            </span>
            <span>
                <div class="s_t">jì</div>
                <div class="s_b">既</div>
            </span>
            <span>
                <div class="s_t">chū</div>
                <div class="s_b">出</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">dé</div>
                <div class="s_b">得</div>
            </span>
            <span>
                <div class="s_t">qí</div>
                <div class="s_b">其</div>
            </span>
            <span>
                <div class="s_t">chuán</div>
                <div class="s_b">船</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">biàn</div>
                <div class="s_b">便</div>
            </span>
            <span>
                <div class="s_t">fú</div>
                <div class="s_b">扶</div>
            </span>
            <span>
                <div class="s_t">xiàng</div>
                <div class="s_b">向</div>
            </span>
            <span>
                <div class="s_t">lù</div>
                <div class="s_b">路</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">chù</div>
                <div class="s_b">处</div>
            </span>
            <span>
                <div class="s_t">chù</div>
                <div class="s_b">处</div>
            </span>
            <span>
                <div class="s_t">zhì</div>
                <div class="s_b">志</div>
            </span>
            <span>
                <div class="s_t">zhī</div>
                <div class="s_b">之</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
            <span>
                <div class="s_t">jí</div>
                <div class="s_b">及</div>
            </span>
            <span>
                <div class="s_t">jùn</div>
                <div class="s_b">郡</div>
            </span>
            <span>
                <div class="s_t">xià</div>
                <div class="s_b">下</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">yì</div>
                <div class="s_b">诣</div>
            </span>
            <span>
                <div class="s_t">tài</div>
                <div class="s_b">太</div>
            </span>
            <span>
                <div class="s_t">shǒu</div>
                <div class="s_b">守</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">shuō</div>
                <div class="s_b">说</div>
            </span>
            <span>
                <div class="s_t">rú</div>
                <div class="s_b">如</div>
            </span>
            <span>
                <div class="s_t">cǐ</div>
                <div class="s_b">此</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
            <span>
                <div class="s_t">tài</div>
                <div class="s_b">太</div>
            </span>
            <span>
                <div class="s_t">shǒu</div>
                <div class="s_b">守</div>
            </span>
            <span>
                <div class="s_t">jí</div>
                <div class="s_b">即</div>
            </span>
            <span>
                <div class="s_t">qiǎn</div>
                <div class="s_b">遣</div>
            </span>
            <span>
                <div class="s_t">rén</div>
                <div class="s_b">人</div>
            </span>
            <span>
                <div class="s_t">suí</div>
                <div class="s_b">随</div>
            </span>
            <span>
                <div class="s_t">qí</div>
                <div class="s_b">其</div>
            </span>
            <span>
                <div class="s_t">wǎng</div>
                <div class="s_b">往</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">xún</div>
                <div class="s_b">寻</div>
            </span>
            <span>
                <div class="s_t">xiàng</div>
                <div class="s_b">向</div>
            </span>
            <span>
                <div class="s_t">suǒ</div>
                <div class="s_b">所</div>
            </span>
            <span>
                <div class="s_t">zhì</div>
                <div class="s_b">志</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">suì</div>
                <div class="s_b">遂</div>
            </span>
            <span>
                <div class="s_t">mí</div>
                <div class="s_b">迷</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">bú</div>
                <div class="s_b">不</div>
            </span>
            <span>
                <div class="s_t">fù</div>
                <div class="s_b">复</div>
            </span>
            <span>
                <div class="s_t">dé</div>
                <div class="s_b">得</div>
            </span>
            <span>
                <div class="s_t">lù</div>
                <div class="s_b">路</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
        </li>
        <li>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">　</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">　</div>
            </span>
            <span>
                <div class="s_t">nán</div>
                <div class="s_b">南</div>
            </span>
            <span>
                <div class="s_t">yáng</div>
                <div class="s_b">阳</div>
            </span>
            <span>
                <div class="s_t">liú</div>
                <div class="s_b">刘</div>
            </span>
            <span>
                <div class="s_t">zǐ</div>
                <div class="s_b">子</div>
            </span>
            <span>
                <div class="s_t">jì</div>
                <div class="s_b">骥</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">gāo</div>
                <div class="s_b">高</div>
            </span>
            <span>
                <div class="s_t">shàng</div>
                <div class="s_b">尚</div>
            </span>
            <span>
                <div class="s_t">shì</div>
                <div class="s_b">士</div>
            </span>
            <span>
                <div class="s_t">yě</div>
                <div class="s_b">也</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">wén</div>
                <div class="s_b">闻</div>
            </span>
            <span>
                <div class="s_t">zhī</div>
                <div class="s_b">之</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">xīn</div>
                <div class="s_b">欣</div>
            </span>
            <span>
                <div class="s_t">rán</div>
                <div class="s_b">然</div>
            </span>
            <span>
                <div class="s_t">guī</div>
                <div class="s_b">规</div>
            </span>
            <span>
                <div class="s_t">wǎng</div>
                <div class="s_b">往</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
            <span>
                <div class="s_t">wèi</div>
                <div class="s_b">未</div>
            </span>
            <span>
                <div class="s_t">guǒ</div>
                <div class="s_b">果</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">xún</div>
                <div class="s_b">寻</div>
            </span>
            <span>
                <div class="s_t">bìng</div>
                <div class="s_b">病</div>
            </span>
            <span>
                <div class="s_t">zhōng</div>
                <div class="s_b">终</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
            <span>
                <div class="s_t">hòu</div>
                <div class="s_b">后</div>
            </span>
            <span>
                <div class="s_t">suì</div>
                <div class="s_b">遂</div>
            </span>
            <span>
                <div class="s_t">wú</div>
                <div class="s_b">无</div>
            </span>
            <span>
                <div class="s_t">wèn</div>
                <div class="s_b">问</div>
            </span>
            <span>
                <div class="s_t">jīn</div>
                <div class="s_b">津</div>
            </span>
            <span>
                <div class="s_t">zhě</div>
                <div class="s_b">者</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
        </li>
    </ul>
</div>
</body>
</html>
