<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>《论语》十二章拼音版</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <style>
        .text-c {
            text-align: center;
        }

        .g_main {
            text-align: left;
            margin-left: -2.5%;
            margin-right: -0.4%;
        }

        .g_main li {
            clear: left;
            list-style-type: none;
        }

        .g_main li span {
            display: inline-block;
            text-align: center;
            list-style-type: none;
            width: 40px;
            font-size: 15px;
        }

        .g_main li span .s_b {
            font-size: 18px;
            font-weight: bold;
            font-family: "楷体";
        }

        .g_main li span .s_t {
            font-size: 0.8em;
        }
    </style>
</head>

<body>
<div class="g_box">
    <ul class="g_main text-c">
        <li>
            <span>
                <div class="s_t">lún</div>
                <div class="s_b">论</div>
            </span>
            <span>
                <div class="s_t">yǔ</div>
                <div class="s_b">语</div>
            </span>
            <span>
                <div class="s_t">shí</div>
                <div class="s_b">十</div>
            </span>
            <span>
                <div class="s_t">èr</div>
                <div class="s_b">二</div>
            </span>
            <span>
                <div class="s_t">zhāng</div>
                <div class="s_b">章</div>
            </span>
        </li>
    </ul>
    <ul class="g_main  text-c">
        <li>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">〔</div>
            </span>
            <span>
                <div class="s_t">xiān</div>
                <div class="s_b">先</div>
            </span>
            <span>
                <div class="s_t">qín</div>
                <div class="s_b">秦</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">〕</div>
            </span>
            <span>
                <div class="s_t">lún</div>
                <div class="s_b">论</div>
            </span>
            <span>
                <div class="s_t">yǔ</div>
                <div class="s_b">语</div>
            </span>
        </li>
    </ul>
    <ul class="g_main ">
        <li>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">　</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">　</div>
            </span>
            <span>
                <div class="s_t">zǐ</div>
                <div class="s_b">子</div>
            </span>
            <span>
                <div class="s_t">yuē</div>
                <div class="s_b">曰</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">：</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">“</div>
            </span>
            <span>
                <div class="s_t">xué</div>
                <div class="s_b">学</div>
            </span>
            <span>
                <div class="s_t">ér</div>
                <div class="s_b">而</div>
            </span>
            <span>
                <div class="s_t">shí</div>
                <div class="s_b">时</div>
            </span>
            <span>
                <div class="s_t">xí</div>
                <div class="s_b">习</div>
            </span>
            <span>
                <div class="s_t">zhī</div>
                <div class="s_b">之</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">bú</div>
                <div class="s_b">不</div>
            </span>
            <span>
                <div class="s_t">yì</div>
                <div class="s_b">亦</div>
            </span>
            <span>
                <div class="s_t">yuè</div>
                <div class="s_b">说</div>
            </span>
            <span>
                <div class="s_t">hū</div>
                <div class="s_b">乎</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">？</div>
            </span>
            <span>
                <div class="s_t">yǒu</div>
                <div class="s_b">有</div>
            </span>
            <span>
                <div class="s_t">péng</div>
                <div class="s_b">朋</div>
            </span>
            <span>
                <div class="s_t">zì</div>
                <div class="s_b">自</div>
            </span>
            <span>
                <div class="s_t">yuǎn</div>
                <div class="s_b">远</div>
            </span>
            <span>
                <div class="s_t">fāng</div>
                <div class="s_b">方</div>
            </span>
            <span>
                <div class="s_t">lái</div>
                <div class="s_b">来</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">bú</div>
                <div class="s_b">不</div>
            </span>
            <span>
                <div class="s_t">yì</div>
                <div class="s_b">亦</div>
            </span>
            <span>
                <div class="s_t">lè</div>
                <div class="s_b">乐</div>
            </span>
            <span>
                <div class="s_t">hū</div>
                <div class="s_b">乎</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">？</div>
            </span>
            <span>
                <div class="s_t">rén</div>
                <div class="s_b">人</div>
            </span>
            <span>
                <div class="s_t">bù</div>
                <div class="s_b">不</div>
            </span>
            <span>
                <div class="s_t">zhī</div>
                <div class="s_b">知</div>
            </span>
            <span>
                <div class="s_t">ér</div>
                <div class="s_b">而</div>
            </span>
            <span>
                <div class="s_t">bú</div>
                <div class="s_b">不</div>
            </span>
            <span>
                <div class="s_t">yùn</div>
                <div class="s_b">愠</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">bú</div>
                <div class="s_b">不</div>
            </span>
            <span>
                <div class="s_t">yì</div>
                <div class="s_b">亦</div>
            </span>
            <span>
                <div class="s_t">jūn</div>
                <div class="s_b">君</div>
            </span>
            <span>
                <div class="s_t">zǐ</div>
                <div class="s_b">子</div>
            </span>
            <span>
                <div class="s_t">hū</div>
                <div class="s_b">乎</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">？</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">”</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">——</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">《</div>
            </span>
            <span>
                <div class="s_t">xué</div>
                <div class="s_b">学</div>
            </span>
            <span>
                <div class="s_t">ér</div>
                <div class="s_b">而</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">》</div>
            </span>
        </li>
        <li>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">　</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">　</div>
            </span>
            <span>
                <div class="s_t">zēng</div>
                <div class="s_b">曾</div>
            </span>
            <span>
                <div class="s_t">zǐ</div>
                <div class="s_b">子</div>
            </span>
            <span>
                <div class="s_t">yuē</div>
                <div class="s_b">曰</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">：</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">“</div>
            </span>
            <span>
                <div class="s_t">wú</div>
                <div class="s_b">吾</div>
            </span>
            <span>
                <div class="s_t">rì</div>
                <div class="s_b">日</div>
            </span>
            <span>
                <div class="s_t">sān</div>
                <div class="s_b">三</div>
            </span>
            <span>
                <div class="s_t">xǐng</div>
                <div class="s_b">省</div>
            </span>
            <span>
                <div class="s_t">wú</div>
                <div class="s_b">吾</div>
            </span>
            <span>
                <div class="s_t">shēn</div>
                <div class="s_b">身</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">：</div>
            </span>
            <span>
                <div class="s_t">wèi</div>
                <div class="s_b">为</div>
            </span>
            <span>
                <div class="s_t">rén</div>
                <div class="s_b">人</div>
            </span>
            <span>
                <div class="s_t">móu</div>
                <div class="s_b">谋</div>
            </span>
            <span>
                <div class="s_t">ér</div>
                <div class="s_b">而</div>
            </span>
            <span>
                <div class="s_t">bù</div>
                <div class="s_b">不</div>
            </span>
            <span>
                <div class="s_t">zhōng</div>
                <div class="s_b">忠</div>
            </span>
            <span>
                <div class="s_t">hū</div>
                <div class="s_b">乎</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">？</div>
            </span>
            <span>
                <div class="s_t">yǔ</div>
                <div class="s_b">与</div>
            </span>
            <span>
                <div class="s_t">péng</div>
                <div class="s_b">朋</div>
            </span>
            <span>
                <div class="s_t">yǒu</div>
                <div class="s_b">友</div>
            </span>
            <span>
                <div class="s_t">jiāo</div>
                <div class="s_b">交</div>
            </span>
            <span>
                <div class="s_t">ér</div>
                <div class="s_b">而</div>
            </span>
            <span>
                <div class="s_t">bú</div>
                <div class="s_b">不</div>
            </span>
            <span>
                <div class="s_t">xìn</div>
                <div class="s_b">信</div>
            </span>
            <span>
                <div class="s_t">hū</div>
                <div class="s_b">乎</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">？</div>
            </span>
            <span>
                <div class="s_t">chuán</div>
                <div class="s_b">传</div>
            </span>
            <span>
                <div class="s_t">bù</div>
                <div class="s_b">不</div>
            </span>
            <span>
                <div class="s_t">xí</div>
                <div class="s_b">习</div>
            </span>
            <span>
                <div class="s_t">hū</div>
                <div class="s_b">乎</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">？</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">”</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">——</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">《</div>
            </span>
            <span>
                <div class="s_t">xué</div>
                <div class="s_b">学</div>
            </span>
            <span>
                <div class="s_t">ér</div>
                <div class="s_b">而</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">》</div>
            </span>
        </li>
        <li>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">　</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">　</div>
            </span>
            <span>
                <div class="s_t">zǐ</div>
                <div class="s_b">子</div>
            </span>
            <span>
                <div class="s_t">yuē</div>
                <div class="s_b">曰</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">：</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">“</div>
            </span>
            <span>
                <div class="s_t">wú</div>
                <div class="s_b">吾</div>
            </span>
            <span>
                <div class="s_t">shí</div>
                <div class="s_b">十</div>
            </span>
            <span>
                <div class="s_t">yòu</div>
                <div class="s_b">有</div>
            </span>
            <span>
                <div class="s_t">wǔ</div>
                <div class="s_b">五</div>
            </span>
            <span>
                <div class="s_t">ér</div>
                <div class="s_b">而</div>
            </span>
            <span>
                <div class="s_t">zhì</div>
                <div class="s_b">志</div>
            </span>
            <span>
                <div class="s_t">yú</div>
                <div class="s_b">于</div>
            </span>
            <span>
                <div class="s_t">xué</div>
                <div class="s_b">学</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">sān</div>
                <div class="s_b">三</div>
            </span>
            <span>
                <div class="s_t">shí</div>
                <div class="s_b">十</div>
            </span>
            <span>
                <div class="s_t">ér</div>
                <div class="s_b">而</div>
            </span>
            <span>
                <div class="s_t">lì</div>
                <div class="s_b">立</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">sì</div>
                <div class="s_b">四</div>
            </span>
            <span>
                <div class="s_t">shí</div>
                <div class="s_b">十</div>
            </span>
            <span>
                <div class="s_t">ér</div>
                <div class="s_b">而</div>
            </span>
            <span>
                <div class="s_t">bú</div>
                <div class="s_b">不</div>
            </span>
            <span>
                <div class="s_t">huò</div>
                <div class="s_b">惑</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">wǔ</div>
                <div class="s_b">五</div>
            </span>
            <span>
                <div class="s_t">shí</div>
                <div class="s_b">十</div>
            </span>
            <span>
                <div class="s_t">ér</div>
                <div class="s_b">而</div>
            </span>
            <span>
                <div class="s_t">zhī</div>
                <div class="s_b">知</div>
            </span>
            <span>
                <div class="s_t">tiān</div>
                <div class="s_b">天</div>
            </span>
            <span>
                <div class="s_t">mìng</div>
                <div class="s_b">命</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">liù</div>
                <div class="s_b">六</div>
            </span>
            <span>
                <div class="s_t">shí</div>
                <div class="s_b">十</div>
            </span>
            <span>
                <div class="s_t">ér</div>
                <div class="s_b">而</div>
            </span>
            <span>
                <div class="s_t">ěr</div>
                <div class="s_b">耳</div>
            </span>
            <span>
                <div class="s_t">shùn</div>
                <div class="s_b">顺</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">qī</div>
                <div class="s_b">七</div>
            </span>
            <span>
                <div class="s_t">shí</div>
                <div class="s_b">十</div>
            </span>
            <span>
                <div class="s_t">ér</div>
                <div class="s_b">而</div>
            </span>
            <span>
                <div class="s_t">cóng</div>
                <div class="s_b">从</div>
            </span>
            <span>
                <div class="s_t">xīn</div>
                <div class="s_b">心</div>
            </span>
            <span>
                <div class="s_t">suǒ</div>
                <div class="s_b">所</div>
            </span>
            <span>
                <div class="s_t">yù</div>
                <div class="s_b">欲</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">bù</div>
                <div class="s_b">不</div>
            </span>
            <span>
                <div class="s_t">yú</div>
                <div class="s_b">逾</div>
            </span>
            <span>
                <div class="s_t">jǔ</div>
                <div class="s_b">矩</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">”</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">——</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">《</div>
            </span>
            <span>
                <div class="s_t">wéi</div>
                <div class="s_b">为</div>
            </span>
            <span>
                <div class="s_t">zhèng</div>
                <div class="s_b">政</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">》</div>
            </span>
        </li>
        <li>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">　</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">　</div>
            </span>
            <span>
                <div class="s_t">zǐ</div>
                <div class="s_b">子</div>
            </span>
            <span>
                <div class="s_t">yuē</div>
                <div class="s_b">曰</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">：</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">“</div>
            </span>
            <span>
                <div class="s_t">wēn</div>
                <div class="s_b">温</div>
            </span>
            <span>
                <div class="s_t">gù</div>
                <div class="s_b">故</div>
            </span>
            <span>
                <div class="s_t">ér</div>
                <div class="s_b">而</div>
            </span>
            <span>
                <div class="s_t">zhī</div>
                <div class="s_b">知</div>
            </span>
            <span>
                <div class="s_t">xīn</div>
                <div class="s_b">新</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">kě</div>
                <div class="s_b">可</div>
            </span>
            <span>
                <div class="s_t">yǐ</div>
                <div class="s_b">以</div>
            </span>
            <span>
                <div class="s_t">wéi</div>
                <div class="s_b">为</div>
            </span>
            <span>
                <div class="s_t">shī</div>
                <div class="s_b">师</div>
            </span>
            <span>
                <div class="s_t">yǐ</div>
                <div class="s_b">矣</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">”</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">——</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">《</div>
            </span>
            <span>
                <div class="s_t">wéi</div>
                <div class="s_b">为</div>
            </span>
            <span>
                <div class="s_t">zhèng</div>
                <div class="s_b">政</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">》</div>
            </span>
        </li>
        <li>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">　</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">　</div>
            </span>
            <span>
                <div class="s_t">zǐ</div>
                <div class="s_b">子</div>
            </span>
            <span>
                <div class="s_t">yuē</div>
                <div class="s_b">曰</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">：</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">“</div>
            </span>
            <span>
                <div class="s_t">xué</div>
                <div class="s_b">学</div>
            </span>
            <span>
                <div class="s_t">ér</div>
                <div class="s_b">而</div>
            </span>
            <span>
                <div class="s_t">bù</div>
                <div class="s_b">不</div>
            </span>
            <span>
                <div class="s_t">sī</div>
                <div class="s_b">思</div>
            </span>
            <span>
                <div class="s_t">zé</div>
                <div class="s_b">则</div>
            </span>
            <span>
                <div class="s_t">wǎng</div>
                <div class="s_b">罔</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">sī</div>
                <div class="s_b">思</div>
            </span>
            <span>
                <div class="s_t">ér</div>
                <div class="s_b">而</div>
            </span>
            <span>
                <div class="s_t">bù</div>
                <div class="s_b">不</div>
            </span>
            <span>
                <div class="s_t">xué</div>
                <div class="s_b">学</div>
            </span>
            <span>
                <div class="s_t">zé</div>
                <div class="s_b">则</div>
            </span>
            <span>
                <div class="s_t">dài</div>
                <div class="s_b">殆</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">”</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">——</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">《</div>
            </span>
            <span>
                <div class="s_t">wéi</div>
                <div class="s_b">为</div>
            </span>
            <span>
                <div class="s_t">zhèng</div>
                <div class="s_b">政</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">》</div>
            </span>
        </li>
        <li>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">　</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">　</div>
            </span>
            <span>
                <div class="s_t">zǐ</div>
                <div class="s_b">子</div>
            </span>
            <span>
                <div class="s_t">yuē</div>
                <div class="s_b">曰</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">：</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">“</div>
            </span>
            <span>
                <div class="s_t">xián</div>
                <div class="s_b">贤</div>
            </span>
            <span>
                <div class="s_t">zāi</div>
                <div class="s_b">哉</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">huí</div>
                <div class="s_b">回</div>
            </span>
            <span>
                <div class="s_t">yě</div>
                <div class="s_b">也</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">！</div>
            </span>
            <span>
                <div class="s_t">yì</div>
                <div class="s_b">一</div>
            </span>
            <span>
                <div class="s_t">dān</div>
                <div class="s_b">箪</div>
            </span>
            <span>
                <div class="s_t">shí</div>
                <div class="s_b">食</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">yì</div>
                <div class="s_b">一</div>
            </span>
            <span>
                <div class="s_t">piáo</div>
                <div class="s_b">瓢</div>
            </span>
            <span>
                <div class="s_t">yǐn</div>
                <div class="s_b">饮</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">zài</div>
                <div class="s_b">在</div>
            </span>
            <span>
                <div class="s_t">lòu</div>
                <div class="s_b">陋</div>
            </span>
            <span>
                <div class="s_t">xiàng</div>
                <div class="s_b">巷</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">rén</div>
                <div class="s_b">人</div>
            </span>
            <span>
                <div class="s_t">bù</div>
                <div class="s_b">不</div>
            </span>
            <span>
                <div class="s_t">kān</div>
                <div class="s_b">堪</div>
            </span>
            <span>
                <div class="s_t">qí</div>
                <div class="s_b">其</div>
            </span>
            <span>
                <div class="s_t">yōu</div>
                <div class="s_b">忧</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">huí</div>
                <div class="s_b">回</div>
            </span>
            <span>
                <div class="s_t">yě</div>
                <div class="s_b">也</div>
            </span>
            <span>
                <div class="s_t">bù</div>
                <div class="s_b">不</div>
            </span>
            <span>
                <div class="s_t">gǎi</div>
                <div class="s_b">改</div>
            </span>
            <span>
                <div class="s_t">qí</div>
                <div class="s_b">其</div>
            </span>
            <span>
                <div class="s_t">lè</div>
                <div class="s_b">乐</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
            <span>
                <div class="s_t">xián</div>
                <div class="s_b">贤</div>
            </span>
            <span>
                <div class="s_t">zāi</div>
                <div class="s_b">哉</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">huí</div>
                <div class="s_b">回</div>
            </span>
            <span>
                <div class="s_t">yě</div>
                <div class="s_b">也</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">！</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">”</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">——</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">《</div>
            </span>
            <span>
                <div class="s_t">yōng</div>
                <div class="s_b">雍</div>
            </span>
            <span>
                <div class="s_t">yě</div>
                <div class="s_b">也</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">》</div>
            </span>
        </li>
        <li>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">　</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">　</div>
            </span>
            <span>
                <div class="s_t">zǐ</div>
                <div class="s_b">子</div>
            </span>
            <span>
                <div class="s_t">yuē</div>
                <div class="s_b">曰</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">：</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">“</div>
            </span>
            <span>
                <div class="s_t">zhī</div>
                <div class="s_b">知</div>
            </span>
            <span>
                <div class="s_t">zhī</div>
                <div class="s_b">之</div>
            </span>
            <span>
                <div class="s_t">zhě</div>
                <div class="s_b">者</div>
            </span>
            <span>
                <div class="s_t">bù</div>
                <div class="s_b">不</div>
            </span>
            <span>
                <div class="s_t">rú</div>
                <div class="s_b">如</div>
            </span>
            <span>
                <div class="s_t">hào</div>
                <div class="s_b">好</div>
            </span>
            <span>
                <div class="s_t">zhī</div>
                <div class="s_b">之</div>
            </span>
            <span>
                <div class="s_t">zhě</div>
                <div class="s_b">者</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">hào</div>
                <div class="s_b">好</div>
            </span>
            <span>
                <div class="s_t">zhī</div>
                <div class="s_b">之</div>
            </span>
            <span>
                <div class="s_t">zhě</div>
                <div class="s_b">者</div>
            </span>
            <span>
                <div class="s_t">bù</div>
                <div class="s_b">不</div>
            </span>
            <span>
                <div class="s_t">rú</div>
                <div class="s_b">如</div>
            </span>
            <span>
                <div class="s_t">lè</div>
                <div class="s_b">乐</div>
            </span>
            <span>
                <div class="s_t">zhī</div>
                <div class="s_b">之</div>
            </span>
            <span>
                <div class="s_t">zhě</div>
                <div class="s_b">者</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">”</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">——</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">《</div>
            </span>
            <span>
                <div class="s_t">yōng</div>
                <div class="s_b">雍</div>
            </span>
            <span>
                <div class="s_t">yě</div>
                <div class="s_b">也</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">》</div>
            </span>
        </li>
        <li>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">　</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">　</div>
            </span>
            <span>
                <div class="s_t">zǐ</div>
                <div class="s_b">子</div>
            </span>
            <span>
                <div class="s_t">yuē</div>
                <div class="s_b">曰</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">：</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">“</div>
            </span>
            <span>
                <div class="s_t">fàn</div>
                <div class="s_b">饭</div>
            </span>
            <span>
                <div class="s_t">shū</div>
                <div class="s_b">疏</div>
            </span>
            <span>
                <div class="s_t">shí</div>
                <div class="s_b">食</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">yǐn</div>
                <div class="s_b">饮</div>
            </span>
            <span>
                <div class="s_t">shuǐ</div>
                <div class="s_b">水</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">qū</div>
                <div class="s_b">曲</div>
            </span>
            <span>
                <div class="s_t">gōng</div>
                <div class="s_b">肱</div>
            </span>
            <span>
                <div class="s_t">ér</div>
                <div class="s_b">而</div>
            </span>
            <span>
                <div class="s_t">zhěn</div>
                <div class="s_b">枕</div>
            </span>
            <span>
                <div class="s_t">zhī</div>
                <div class="s_b">之</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">lè</div>
                <div class="s_b">乐</div>
            </span>
            <span>
                <div class="s_t">yì</div>
                <div class="s_b">亦</div>
            </span>
            <span>
                <div class="s_t">zài</div>
                <div class="s_b">在</div>
            </span>
            <span>
                <div class="s_t">qí</div>
                <div class="s_b">其</div>
            </span>
            <span>
                <div class="s_t">zhōng</div>
                <div class="s_b">中</div>
            </span>
            <span>
                <div class="s_t">yǐ</div>
                <div class="s_b">矣</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
            <span>
                <div class="s_t">bú</div>
                <div class="s_b">不</div>
            </span>
            <span>
                <div class="s_t">yì</div>
                <div class="s_b">义</div>
            </span>
            <span>
                <div class="s_t">ér</div>
                <div class="s_b">而</div>
            </span>
            <span>
                <div class="s_t">fù</div>
                <div class="s_b">富</div>
            </span>
            <span>
                <div class="s_t">qiě</div>
                <div class="s_b">且</div>
            </span>
            <span>
                <div class="s_t">guì</div>
                <div class="s_b">贵</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">yú</div>
                <div class="s_b">于</div>
            </span>
            <span>
                <div class="s_t">wǒ</div>
                <div class="s_b">我</div>
            </span>
            <span>
                <div class="s_t">rú</div>
                <div class="s_b">如</div>
            </span>
            <span>
                <div class="s_t">fú</div>
                <div class="s_b">浮</div>
            </span>
            <span>
                <div class="s_t">yún</div>
                <div class="s_b">云</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">”</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">——</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">《</div>
            </span>
            <span>
                <div class="s_t">shù</div>
                <div class="s_b">述</div>
            </span>
            <span>
                <div class="s_t">ér</div>
                <div class="s_b">而</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">》</div>
            </span>
        </li>
        <li>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">　</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">　</div>
            </span>
            <span>
                <div class="s_t">zǐ</div>
                <div class="s_b">子</div>
            </span>
            <span>
                <div class="s_t">yuē</div>
                <div class="s_b">曰</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">：</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">“</div>
            </span>
            <span>
                <div class="s_t">sān</div>
                <div class="s_b">三</div>
            </span>
            <span>
                <div class="s_t">rén</div>
                <div class="s_b">人</div>
            </span>
            <span>
                <div class="s_t">xíng</div>
                <div class="s_b">行</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">bì</div>
                <div class="s_b">必</div>
            </span>
            <span>
                <div class="s_t">yǒu</div>
                <div class="s_b">有</div>
            </span>
            <span>
                <div class="s_t">wǒ</div>
                <div class="s_b">我</div>
            </span>
            <span>
                <div class="s_t">shī</div>
                <div class="s_b">师</div>
            </span>
            <span>
                <div class="s_t">yān</div>
                <div class="s_b">焉</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
            <span>
                <div class="s_t">zé</div>
                <div class="s_b">择</div>
            </span>
            <span>
                <div class="s_t">qí</div>
                <div class="s_b">其</div>
            </span>
            <span>
                <div class="s_t">shàn</div>
                <div class="s_b">善</div>
            </span>
            <span>
                <div class="s_t">zhě</div>
                <div class="s_b">者</div>
            </span>
            <span>
                <div class="s_t">ér</div>
                <div class="s_b">而</div>
            </span>
            <span>
                <div class="s_t">cóng</div>
                <div class="s_b">从</div>
            </span>
            <span>
                <div class="s_t">zhī</div>
                <div class="s_b">之</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">qí</div>
                <div class="s_b">其</div>
            </span>
            <span>
                <div class="s_t">bú</div>
                <div class="s_b">不</div>
            </span>
            <span>
                <div class="s_t">shàn</div>
                <div class="s_b">善</div>
            </span>
            <span>
                <div class="s_t">zhě</div>
                <div class="s_b">者</div>
            </span>
            <span>
                <div class="s_t">ér</div>
                <div class="s_b">而</div>
            </span>
            <span>
                <div class="s_t">gǎi</div>
                <div class="s_b">改</div>
            </span>
            <span>
                <div class="s_t">zhī</div>
                <div class="s_b">之</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">”</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">——</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">《</div>
            </span>
            <span>
                <div class="s_t">shù</div>
                <div class="s_b">述</div>
            </span>
            <span>
                <div class="s_t">ér</div>
                <div class="s_b">而</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">》</div>
            </span>
        </li>
        <li>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">　</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">　</div>
            </span>
            <span>
                <div class="s_t">zǐ</div>
                <div class="s_b">子</div>
            </span>
            <span>
                <div class="s_t">zài</div>
                <div class="s_b">在</div>
            </span>
            <span>
                <div class="s_t">chuān</div>
                <div class="s_b">川</div>
            </span>
            <span>
                <div class="s_t">shàng</div>
                <div class="s_b">上</div>
            </span>
            <span>
                <div class="s_t">yuē</div>
                <div class="s_b">曰</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">：</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">“</div>
            </span>
            <span>
                <div class="s_t">shì</div>
                <div class="s_b">逝</div>
            </span>
            <span>
                <div class="s_t">zhě</div>
                <div class="s_b">者</div>
            </span>
            <span>
                <div class="s_t">rú</div>
                <div class="s_b">如</div>
            </span>
            <span>
                <div class="s_t">sī</div>
                <div class="s_b">斯</div>
            </span>
            <span>
                <div class="s_t">fú</div>
                <div class="s_b">夫</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">bù</div>
                <div class="s_b">不</div>
            </span>
            <span>
                <div class="s_t">shě</div>
                <div class="s_b">舍</div>
            </span>
            <span>
                <div class="s_t">zhòu</div>
                <div class="s_b">昼</div>
            </span>
            <span>
                <div class="s_t">yè</div>
                <div class="s_b">夜</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">”</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">——</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">《</div>
            </span>
            <span>
                <div class="s_t">zǐ</div>
                <div class="s_b">子</div>
            </span>
            <span>
                <div class="s_t">hǎn</div>
                <div class="s_b">罕</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">》</div>
            </span>
        </li>
        <li>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">　</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">　</div>
            </span>
            <span>
                <div class="s_t">zǐ</div>
                <div class="s_b">子</div>
            </span>
            <span>
                <div class="s_t">yuē</div>
                <div class="s_b">曰</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">：</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">“</div>
            </span>
            <span>
                <div class="s_t">sān</div>
                <div class="s_b">三</div>
            </span>
            <span>
                <div class="s_t">jūn</div>
                <div class="s_b">军</div>
            </span>
            <span>
                <div class="s_t">kě</div>
                <div class="s_b">可</div>
            </span>
            <span>
                <div class="s_t">duó</div>
                <div class="s_b">夺</div>
            </span>
            <span>
                <div class="s_t">shuài</div>
                <div class="s_b">帅</div>
            </span>
            <span>
                <div class="s_t">yě</div>
                <div class="s_b">也</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">pǐ</div>
                <div class="s_b">匹</div>
            </span>
            <span>
                <div class="s_t">fū</div>
                <div class="s_b">夫</div>
            </span>
            <span>
                <div class="s_t">bù</div>
                <div class="s_b">不</div>
            </span>
            <span>
                <div class="s_t">kě</div>
                <div class="s_b">可</div>
            </span>
            <span>
                <div class="s_t">duó</div>
                <div class="s_b">夺</div>
            </span>
            <span>
                <div class="s_t">zhì</div>
                <div class="s_b">志</div>
            </span>
            <span>
                <div class="s_t">yě</div>
                <div class="s_b">也</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">”</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">——</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">《</div>
            </span>
            <span>
                <div class="s_t">zǐ</div>
                <div class="s_b">子</div>
            </span>
            <span>
                <div class="s_t">hǎn</div>
                <div class="s_b">罕</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">》</div>
            </span>
        </li>
        <li>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">　</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">　</div>
            </span>
            <span>
                <div class="s_t">zǐ</div>
                <div class="s_b">子</div>
            </span>
            <span>
                <div class="s_t">xià</div>
                <div class="s_b">夏</div>
            </span>
            <span>
                <div class="s_t">yuē</div>
                <div class="s_b">曰</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">：</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">“</div>
            </span>
            <span>
                <div class="s_t">bó</div>
                <div class="s_b">博</div>
            </span>
            <span>
                <div class="s_t">xué</div>
                <div class="s_b">学</div>
            </span>
            <span>
                <div class="s_t">ér</div>
                <div class="s_b">而</div>
            </span>
            <span>
                <div class="s_t">dǔ</div>
                <div class="s_b">笃</div>
            </span>
            <span>
                <div class="s_t">zhì</div>
                <div class="s_b">志</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">qiè</div>
                <div class="s_b">切</div>
            </span>
            <span>
                <div class="s_t">wèn</div>
                <div class="s_b">问</div>
            </span>
            <span>
                <div class="s_t">ér</div>
                <div class="s_b">而</div>
            </span>
            <span>
                <div class="s_t">jìn</div>
                <div class="s_b">近</div>
            </span>
            <span>
                <div class="s_t">sī</div>
                <div class="s_b">思</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">rén</div>
                <div class="s_b">仁</div>
            </span>
            <span>
                <div class="s_t">zài</div>
                <div class="s_b">在</div>
            </span>
            <span>
                <div class="s_t">qí</div>
                <div class="s_b">其</div>
            </span>
            <span>
                <div class="s_t">zhōng</div>
                <div class="s_b">中</div>
            </span>
            <span>
                <div class="s_t">yǐ</div>
                <div class="s_b">矣</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">”</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">——</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">《</div>
            </span>
            <span>
                <div class="s_t">zǐ</div>
                <div class="s_b">子</div>
            </span>
            <span>
                <div class="s_t">hǎn</div>
                <div class="s_b">罕</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">》</div>
            </span>
        </li>
    </ul>
</div>
</body>

</html>