<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>《小石潭记》拼音版</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <style>
        .text-c {
            text-align: center;
        }

        .g_main {
            text-align: left;
            margin-left: -2.5%;
            margin-right: -0.4%;
        }

        .g_main li {
            clear: left;
            list-style-type: none;
        }

        .g_main li span {
            display: inline-block;
            text-align: center;
            list-style-type: none;
            width: 40px;
            font-size: 15px;
        }

        .g_main li span .s_b {
            font-size: 18px;
            font-weight: bold;
        }

        .g_main li span .s_t {
            font-size: 0.8em;
        }
    </style>
</head>

<body>
<div class="g_box">
    <ul class="g_main text-c">
        <li>
            <span>
                <div class="s_t">xiǎo</div>
                <div class="s_b">小</div>
            </span>
            <span>
                <div class="s_t">shí</div>
                <div class="s_b">石</div>
            </span>
            <span>
                <div class="s_t">tán</div>
                <div class="s_b">潭</div>
            </span>
            <span>
                <div class="s_t">jì</div>
                <div class="s_b">记</div>
            </span>
        </li>
    </ul>
    <ul class="g_main text-c">
        <li>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">〔</div>
            </span>
            <span>
                <div class="s_t">táng</div>
                <div class="s_b">唐</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">〕</div>
            </span>
            <span>
                <div class="s_t">liǔ</div>
                <div class="s_b">柳</div>
            </span>
            <span>
                <div class="s_t">zōng</div>
                <div class="s_b">宗</div>
            </span>
            <span>
                <div class="s_t">yuán</div>
                <div class="s_b">元</div>
            </span>
        </li>
    </ul>
    <ul class="g_main ">
        <li>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">　</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">　</div>
            </span>
            <span>
                <div class="s_t">cóng</div>
                <div class="s_b">从</div>
            </span>
            <span>
                <div class="s_t">xiǎo</div>
                <div class="s_b">小</div>
            </span>
            <span>
                <div class="s_t">qiū</div>
                <div class="s_b">丘</div>
            </span>
            <span>
                <div class="s_t">xī</div>
                <div class="s_b">西</div>
            </span>
            <span>
                <div class="s_t">xíng</div>
                <div class="s_b">行</div>
            </span>
            <span>
                <div class="s_t">bǎi</div>
                <div class="s_b">百</div>
            </span>
            <span>
                <div class="s_t">èr</div>
                <div class="s_b">二</div>
            </span>
            <span>
                <div class="s_t">shí</div>
                <div class="s_b">十</div>
            </span>
            <span>
                <div class="s_t">bù</div>
                <div class="s_b">步</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">gé</div>
                <div class="s_b">隔</div>
            </span>
            <span>
                <div class="s_t">huáng</div>
                <div class="s_b">篁</div>
            </span>
            <span>
                <div class="s_t">zhú</div>
                <div class="s_b">竹</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">wén</div>
                <div class="s_b">闻</div>
            </span>
            <span>
                <div class="s_t">shuǐ</div>
                <div class="s_b">水</div>
            </span>
            <span>
                <div class="s_t">shēng</div>
                <div class="s_b">声</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">rú</div>
                <div class="s_b">如</div>
            </span>
            <span>
                <div class="s_t">míng</div>
                <div class="s_b">鸣</div>
            </span>
            <span>
                <div class="s_t">pèi</div>
                <div class="s_b">珮</div>
            </span>
            <span>
                <div class="s_t">huán</div>
                <div class="s_b">环</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">xīn</div>
                <div class="s_b">心</div>
            </span>
            <span>
                <div class="s_t">lè</div>
                <div class="s_b">乐</div>
            </span>
            <span>
                <div class="s_t">zhī</div>
                <div class="s_b">之</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
            <span>
                <div class="s_t">fá</div>
                <div class="s_b">伐</div>
            </span>
            <span>
                <div class="s_t">zhú</div>
                <div class="s_b">竹</div>
            </span>
            <span>
                <div class="s_t">qǔ</div>
                <div class="s_b">取</div>
            </span>
            <span>
                <div class="s_t">dào</div>
                <div class="s_b">道</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">xià</div>
                <div class="s_b">下</div>
            </span>
            <span>
                <div class="s_t">jiàn</div>
                <div class="s_b">见</div>
            </span>
            <span>
                <div class="s_t">xiǎo</div>
                <div class="s_b">小</div>
            </span>
            <span>
                <div class="s_t">tán</div>
                <div class="s_b">潭</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">shuǐ</div>
                <div class="s_b">水</div>
            </span>
            <span>
                <div class="s_t">yóu</div>
                <div class="s_b">尤</div>
            </span>
            <span>
                <div class="s_t">qīng</div>
                <div class="s_b">清</div>
            </span>
            <span>
                <div class="s_t">liè</div>
                <div class="s_b">冽</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
            <span>
                <div class="s_t">quán</div>
                <div class="s_b">全</div>
            </span>
            <span>
                <div class="s_t">shí</div>
                <div class="s_b">石</div>
            </span>
            <span>
                <div class="s_t">yǐ</div>
                <div class="s_b">以</div>
            </span>
            <span>
                <div class="s_t">wéi</div>
                <div class="s_b">为</div>
            </span>
            <span>
                <div class="s_t">dǐ</div>
                <div class="s_b">底</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">jìn</div>
                <div class="s_b">近</div>
            </span>
            <span>
                <div class="s_t">àn</div>
                <div class="s_b">岸</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">juǎn</div>
                <div class="s_b">卷</div>
            </span>
            <span>
                <div class="s_t">shí</div>
                <div class="s_b">石</div>
            </span>
            <span>
                <div class="s_t">dǐ</div>
                <div class="s_b">底</div>
            </span>
            <span>
                <div class="s_t">yǐ</div>
                <div class="s_b">以</div>
            </span>
            <span>
                <div class="s_t">chū</div>
                <div class="s_b">出</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">wéi</div>
                <div class="s_b">为</div>
            </span>
            <span>
                <div class="s_t">chí</div>
                <div class="s_b">坻</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">wéi</div>
                <div class="s_b">为</div>
            </span>
            <span>
                <div class="s_t">yǔ</div>
                <div class="s_b">屿</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">wéi</div>
                <div class="s_b">为</div>
            </span>
            <span>
                <div class="s_t">kān</div>
                <div class="s_b">嵁</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">wéi</div>
                <div class="s_b">为</div>
            </span>
            <span>
                <div class="s_t">yán</div>
                <div class="s_b">岩</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
            <span>
                <div class="s_t">qīng</div>
                <div class="s_b">青</div>
            </span>
            <span>
                <div class="s_t">shù</div>
                <div class="s_b">树</div>
            </span>
            <span>
                <div class="s_t">cuì</div>
                <div class="s_b">翠</div>
            </span>
            <span>
                <div class="s_t">màn</div>
                <div class="s_b">蔓</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">méng</div>
                <div class="s_b">蒙</div>
            </span>
            <span>
                <div class="s_t">luò</div>
                <div class="s_b">络</div>
            </span>
            <span>
                <div class="s_t">yáo</div>
                <div class="s_b">摇</div>
            </span>
            <span>
                <div class="s_t">zhuì</div>
                <div class="s_b">缀</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">cēn</div>
                <div class="s_b">参</div>
            </span>
            <span>
                <div class="s_t">cī</div>
                <div class="s_b">差</div>
            </span>
            <span>
                <div class="s_t">pī</div>
                <div class="s_b">披</div>
            </span>
            <span>
                <div class="s_t">fú</div>
                <div class="s_b">拂</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
        </li>
        <li>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">　</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">　</div>
            </span>
            <span>
                <div class="s_t">tán</div>
                <div class="s_b">潭</div>
            </span>
            <span>
                <div class="s_t">zhōng</div>
                <div class="s_b">中</div>
            </span>
            <span>
                <div class="s_t">yú</div>
                <div class="s_b">鱼</div>
            </span>
            <span>
                <div class="s_t">kě</div>
                <div class="s_b">可</div>
            </span>
            <span>
                <div class="s_t">bǎi</div>
                <div class="s_b">百</div>
            </span>
            <span>
                <div class="s_t">xǔ</div>
                <div class="s_b">许</div>
            </span>
            <span>
                <div class="s_t">tóu</div>
                <div class="s_b">头</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">jiē</div>
                <div class="s_b">皆</div>
            </span>
            <span>
                <div class="s_t">ruò</div>
                <div class="s_b">若</div>
            </span>
            <span>
                <div class="s_t">kōng</div>
                <div class="s_b">空</div>
            </span>
            <span>
                <div class="s_t">yóu</div>
                <div class="s_b">游</div>
            </span>
            <span>
                <div class="s_t">wú</div>
                <div class="s_b">无</div>
            </span>
            <span>
                <div class="s_t">suǒ</div>
                <div class="s_b">所</div>
            </span>
            <span>
                <div class="s_t">yī</div>
                <div class="s_b">依</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">rì</div>
                <div class="s_b">日</div>
            </span>
            <span>
                <div class="s_t">guāng</div>
                <div class="s_b">光</div>
            </span>
            <span>
                <div class="s_t">xià</div>
                <div class="s_b">下</div>
            </span>
            <span>
                <div class="s_t">chè</div>
                <div class="s_b">澈</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">yǐng</div>
                <div class="s_b">影</div>
            </span>
            <span>
                <div class="s_t">bù</div>
                <div class="s_b">布</div>
            </span>
            <span>
                <div class="s_t">shí</div>
                <div class="s_b">石</div>
            </span>
            <span>
                <div class="s_t">shàng</div>
                <div class="s_b">上</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
            <span>
                <div class="s_t">yǐ</div>
                <div class="s_b">佁</div>
            </span>
            <span>
                <div class="s_t">rán</div>
                <div class="s_b">然</div>
            </span>
            <span>
                <div class="s_t">bú</div>
                <div class="s_b">不</div>
            </span>
            <span>
                <div class="s_t">dòng</div>
                <div class="s_b">动</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">chù</div>
                <div class="s_b">俶</div>
            </span>
            <span>
                <div class="s_t">ěr</div>
                <div class="s_b">尔</div>
            </span>
            <span>
                <div class="s_t">yuǎn</div>
                <div class="s_b">远</div>
            </span>
            <span>
                <div class="s_t">shì</div>
                <div class="s_b">逝</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">wǎng</div>
                <div class="s_b">往</div>
            </span>
            <span>
                <div class="s_t">lái</div>
                <div class="s_b">来</div>
            </span>
            <span>
                <div class="s_t">xī</div>
                <div class="s_b">翕</div>
            </span>
            <span>
                <div class="s_t">hū</div>
                <div class="s_b">忽</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">sì</div>
                <div class="s_b">似</div>
            </span>
            <span>
                <div class="s_t">yǔ</div>
                <div class="s_b">与</div>
            </span>
            <span>
                <div class="s_t">yóu</div>
                <div class="s_b">游</div>
            </span>
            <span>
                <div class="s_t">zhě</div>
                <div class="s_b">者</div>
            </span>
            <span>
                <div class="s_t">xiāng</div>
                <div class="s_b">相</div>
            </span>
            <span>
                <div class="s_t">lè</div>
                <div class="s_b">乐</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
        </li>
        <li>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">　</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">　</div>
            </span>
            <span>
                <div class="s_t">tán</div>
                <div class="s_b">潭</div>
            </span>
            <span>
                <div class="s_t">xī</div>
                <div class="s_b">西</div>
            </span>
            <span>
                <div class="s_t">nán</div>
                <div class="s_b">南</div>
            </span>
            <span>
                <div class="s_t">ér</div>
                <div class="s_b">而</div>
            </span>
            <span>
                <div class="s_t">wàng</div>
                <div class="s_b">望</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">dǒu</div>
                <div class="s_b">斗</div>
            </span>
            <span>
                <div class="s_t">zhé</div>
                <div class="s_b">折</div>
            </span>
            <span>
                <div class="s_t">shé</div>
                <div class="s_b">蛇</div>
            </span>
            <span>
                <div class="s_t">xíng</div>
                <div class="s_b">行</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">míng</div>
                <div class="s_b">明</div>
            </span>
            <span>
                <div class="s_t">miè</div>
                <div class="s_b">灭</div>
            </span>
            <span>
                <div class="s_t">kě</div>
                <div class="s_b">可</div>
            </span>
            <span>
                <div class="s_t">jiàn</div>
                <div class="s_b">见</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
            <span>
                <div class="s_t">qí</div>
                <div class="s_b">其</div>
            </span>
            <span>
                <div class="s_t">àn</div>
                <div class="s_b">岸</div>
            </span>
            <span>
                <div class="s_t">shì</div>
                <div class="s_b">势</div>
            </span>
            <span>
                <div class="s_t">quǎn</div>
                <div class="s_b">犬</div>
            </span>
            <span>
                <div class="s_t">yá</div>
                <div class="s_b">牙</div>
            </span>
            <span>
                <div class="s_t">cī</div>
                <div class="s_b">差</div>
            </span>
            <span>
                <div class="s_t">hù</div>
                <div class="s_b">互</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">bù</div>
                <div class="s_b">不</div>
            </span>
            <span>
                <div class="s_t">kě</div>
                <div class="s_b">可</div>
            </span>
            <span>
                <div class="s_t">zhī</div>
                <div class="s_b">知</div>
            </span>
            <span>
                <div class="s_t">qí</div>
                <div class="s_b">其</div>
            </span>
            <span>
                <div class="s_t">yuán</div>
                <div class="s_b">源</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
        </li>
        <li>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">　</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">　</div>
            </span>
            <span>
                <div class="s_t">zuò</div>
                <div class="s_b">坐</div>
            </span>
            <span>
                <div class="s_t">tán</div>
                <div class="s_b">潭</div>
            </span>
            <span>
                <div class="s_t">shàng</div>
                <div class="s_b">上</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">sì</div>
                <div class="s_b">四</div>
            </span>
            <span>
                <div class="s_t">miàn</div>
                <div class="s_b">面</div>
            </span>
            <span>
                <div class="s_t">zhú</div>
                <div class="s_b">竹</div>
            </span>
            <span>
                <div class="s_t">shù</div>
                <div class="s_b">树</div>
            </span>
            <span>
                <div class="s_t">huán</div>
                <div class="s_b">环</div>
            </span>
            <span>
                <div class="s_t">hé</div>
                <div class="s_b">合</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">jì</div>
                <div class="s_b">寂</div>
            </span>
            <span>
                <div class="s_t">liáo</div>
                <div class="s_b">寥</div>
            </span>
            <span>
                <div class="s_t">wú</div>
                <div class="s_b">无</div>
            </span>
            <span>
                <div class="s_t">rén</div>
                <div class="s_b">人</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">qī</div>
                <div class="s_b">凄</div>
            </span>
            <span>
                <div class="s_t">shén</div>
                <div class="s_b">神</div>
            </span>
            <span>
                <div class="s_t">hán</div>
                <div class="s_b">寒</div>
            </span>
            <span>
                <div class="s_t">gǔ</div>
                <div class="s_b">骨</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">qiǎo</div>
                <div class="s_b">悄</div>
            </span>
            <span>
                <div class="s_t">chuàng</div>
                <div class="s_b">怆</div>
            </span>
            <span>
                <div class="s_t">yōu</div>
                <div class="s_b">幽</div>
            </span>
            <span>
                <div class="s_t">suì</div>
                <div class="s_b">邃</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
            <span>
                <div class="s_t">yǐ</div>
                <div class="s_b">以</div>
            </span>
            <span>
                <div class="s_t">qí</div>
                <div class="s_b">其</div>
            </span>
            <span>
                <div class="s_t">jìng</div>
                <div class="s_b">境</div>
            </span>
            <span>
                <div class="s_t">guò</div>
                <div class="s_b">过</div>
            </span>
            <span>
                <div class="s_t">qīng</div>
                <div class="s_b">清</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">bù</div>
                <div class="s_b">不</div>
            </span>
            <span>
                <div class="s_t">kě</div>
                <div class="s_b">可</div>
            </span>
            <span>
                <div class="s_t">jiǔ</div>
                <div class="s_b">久</div>
            </span>
            <span>
                <div class="s_t">jū</div>
                <div class="s_b">居</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">nǎi</div>
                <div class="s_b">乃</div>
            </span>
            <span>
                <div class="s_t">jì</div>
                <div class="s_b">记</div>
            </span>
            <span>
                <div class="s_t">zhī</div>
                <div class="s_b">之</div>
            </span>
            <span>
                <div class="s_t">ér</div>
                <div class="s_b">而</div>
            </span>
            <span>
                <div class="s_t">qù</div>
                <div class="s_b">去</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
        </li>
        <li>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">　</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">　</div>
            </span>
            <span>
                <div class="s_t">tóng</div>
                <div class="s_b">同</div>
            </span>
            <span>
                <div class="s_t">yóu</div>
                <div class="s_b">游</div>
            </span>
            <span>
                <div class="s_t">zhě</div>
                <div class="s_b">者</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">：</div>
            </span>
            <span>
                <div class="s_t">wú</div>
                <div class="s_b">吴</div>
            </span>
            <span>
                <div class="s_t">wǔ</div>
                <div class="s_b">武</div>
            </span>
            <span>
                <div class="s_t">líng</div>
                <div class="s_b">陵</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">gōng</div>
                <div class="s_b">龚</div>
            </span>
            <span>
                <div class="s_t">gǔ</div>
                <div class="s_b">古</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">yú</div>
                <div class="s_b">余</div>
            </span>
            <span>
                <div class="s_t">dì</div>
                <div class="s_b">弟</div>
            </span>
            <span>
                <div class="s_t">zōng</div>
                <div class="s_b">宗</div>
            </span>
            <span>
                <div class="s_t">xuán</div>
                <div class="s_b">玄</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
            <span>
                <div class="s_t">lì</div>
                <div class="s_b">隶</div>
            </span>
            <span>
                <div class="s_t">ér</div>
                <div class="s_b">而</div>
            </span>
            <span>
                <div class="s_t">cóng</div>
                <div class="s_b">从</div>
            </span>
            <span>
                <div class="s_t">zhě</div>
                <div class="s_b">者</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">cuī</div>
                <div class="s_b">崔</div>
            </span>
            <span>
                <div class="s_t">shì</div>
                <div class="s_b">氏</div>
            </span>
            <span>
                <div class="s_t">èr</div>
                <div class="s_b">二</div>
            </span>
            <span>
                <div class="s_t">xiǎo</div>
                <div class="s_b">小</div>
            </span>
            <span>
                <div class="s_t">shēng</div>
                <div class="s_b">生</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">yuē</div>
                <div class="s_b">曰</div>
            </span>
            <span>
                <div class="s_t">shù</div>
                <div class="s_b">恕</div>
            </span>
            <span>
                <div class="s_t">jǐ</div>
                <div class="s_b">己</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">yuē</div>
                <div class="s_b">曰</div>
            </span>
            <span>
                <div class="s_t">fèng</div>
                <div class="s_b">奉</div>
            </span>
            <span>
                <div class="s_t">yī</div>
                <div class="s_b">壹</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
        </li>
    </ul>
</div>
</body>

</html>