<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>《桃花庵歌》拼音版</title>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
        <style>
        .text-c {
            text-align: center;
        }

        .g_main {
            text-align: left;
            margin-left: -2.5%;
        }

        .g_main li {
            clear: left;
            list-style-type: none;
        }

        .g_main li span {
            display: inline-block;
            text-align: center;
            list-style-type: none;
            width: 40px;
            font-size: 15px;
        }

        .g_main li span .s_b {
            font-size: 18px;
        }

        .g_main li span .s_t {
            font-size: 0.8em;
        }
        </style>
    </head>
    <body>
        <div class="g_box">
            <ul class="g_main text-c">
                <li>
                    <span>
                        <div class="s_t">táo</div>
                        <div class="s_b">桃</div>
                    </span>
                    <span>
                        <div class="s_t">huā</div>
                        <div class="s_b">花</div>
                    </span>
                    <span>
                        <div class="s_t">ān</div>
                        <div class="s_b">庵</div>
                    </span>
                    <span>
                        <div class="s_t">gē</div>
                        <div class="s_b">歌</div>
                    </span>
                </li>
            </ul>
            <ul class="g_main  text-c">
                <li>
                    <span>
                        <div class="s_t"></div>
                        <div class="s_b">〔</div>
                    </span>
                    <span>
                        <div class="s_t">míng</div>
                        <div class="s_b">明</div>
                    </span>
                    <span>
                        <div class="s_t"></div>
                        <div class="s_b">〕</div>
                    </span>
                    <span>
                        <div class="s_t">táng</div>
                        <div class="s_b">唐</div>
                    </span>
                    <span>
                        <div class="s_t">yín</div>
                        <div class="s_b">寅</div>
                    </span>
                </li>
            </ul>
            <ul class="g_main">
                <li>
                    <span>
                        <div class="s_t">táo</div>
                        <div class="s_b">桃</div>
                    </span>
                    <span>
                        <div class="s_t">huā</div>
                        <div class="s_b">花</div>
                    </span>
                    <span>
                        <div class="s_t">wù</div>
                        <div class="s_b">坞</div>
                    </span>
                    <span>
                        <div class="s_t">lǐ</div>
                        <div class="s_b">里</div>
                    </span>
                    <span>
                        <div class="s_t">táo</div>
                        <div class="s_b">桃</div>
                    </span>
                    <span>
                        <div class="s_t">huā</div>
                        <div class="s_b">花</div>

                        <span>
                            <div class="s_t">ān</div>
                            <div class="s_b">庵</div>
                        </span>
                        <span>
                            <div class="s_t"></div>
                            <div class="s_b">，</div>
                        </span>
                    </nobr>
                    <span>
                        <div class="s_t">táo</div>
                        <div class="s_b">桃</div>
                    </span>
                    <span>
                        <div class="s_t">huā</div>
                        <div class="s_b">花</div>
                    </span>
                    <span>
                        <div class="s_t">ān</div>
                        <div class="s_b">庵</div>
                    </span>
                    <span>
                        <div class="s_t">lǐ</div>
                        <div class="s_b">里</div>
                    </span>
                    <span>
                        <div class="s_t">táo</div>
                        <div class="s_b">桃</div>
                    </span>
                    <span>
                        <div class="s_t">huā</div>
                        <div class="s_b">花</div>

                        <span>
                            <div class="s_t">xiān</div>
                            <div class="s_b">仙</div>
                        </span>
                        <span>
                            <div class="s_t"></div>
                            <div class="s_b">。</div>
                        </span>
                    </nobr>
                </li>
                <li>
                    <span>
                        <div class="s_t">táo</div>
                        <div class="s_b">桃</div>
                    </span>
                    <span>
                        <div class="s_t">huā</div>
                        <div class="s_b">花</div>
                    </span>
                    <span>
                        <div class="s_t">xiān</div>
                        <div class="s_b">仙</div>
                    </span>
                    <span>
                        <div class="s_t">rén</div>
                        <div class="s_b">人</div>
                    </span>
                    <span>
                        <div class="s_t">zhòng</div>
                        <div class="s_b">种</div>
                    </span>
                    <span>
                        <div class="s_t">táo</div>
                        <div class="s_b">桃</div>

                        <span>
                            <div class="s_t">shù</div>
                            <div class="s_b">树</div>
                        </span>
                        <span>
                            <div class="s_t"></div>
                            <div class="s_b">，</div>
                        </span>
                    </nobr>
                    <span>
                        <div class="s_t">yòu</div>
                        <div class="s_b">又</div>
                    </span>
                    <span>
                        <div class="s_t">zhāi</div>
                        <div class="s_b">摘</div>
                    </span>
                    <span>
                        <div class="s_t">táo</div>
                        <div class="s_b">桃</div>
                    </span>
                    <span>
                        <div class="s_t">huā</div>
                        <div class="s_b">花</div>
                    </span>
                    <span>
                        <div class="s_t">huàn</div>
                        <div class="s_b">换</div>
                    </span>
                    <span>
                        <div class="s_t">jiǔ</div>
                        <div class="s_b">酒</div>

                        <span>
                            <div class="s_t">qián</div>
                            <div class="s_b">钱</div>
                        </span>
                        <span>
                            <div class="s_t"></div>
                            <div class="s_b">。</div>
                        </span>
                    </nobr>
                </li>
                <li>
                    <span>
                        <div class="s_t">jiǔ</div>
                        <div class="s_b">酒</div>
                    </span>
                    <span>
                        <div class="s_t">xǐng</div>
                        <div class="s_b">醒</div>
                    </span>
                    <span>
                        <div class="s_t">zhǐ</div>
                        <div class="s_b">只</div>
                    </span>
                    <span>
                        <div class="s_t">lái</div>
                        <div class="s_b">来</div>
                    </span>
                    <span>
                        <div class="s_t">huā</div>
                        <div class="s_b">花</div>
                    </span>
                    <span>
                        <div class="s_t">qián</div>
                        <div class="s_b">前</div>

                        <span>
                            <div class="s_t">zuò</div>
                            <div class="s_b">坐</div>
                        </span>
                        <span>
                            <div class="s_t"></div>
                            <div class="s_b">，</div>
                        </span>
                    </nobr>
                    <span>
                        <div class="s_t">jiǔ</div>
                        <div class="s_b">酒</div>
                    </span>
                    <span>
                        <div class="s_t">zuì</div>
                        <div class="s_b">醉</div>
                    </span>
                    <span>
                        <div class="s_t">hái</div>
                        <div class="s_b">还</div>
                    </span>
                    <span>
                        <div class="s_t">lái</div>
                        <div class="s_b">来</div>
                    </span>
                    <span>
                        <div class="s_t">huā</div>
                        <div class="s_b">花</div>
                    </span>
                    <span>
                        <div class="s_t">xià</div>
                        <div class="s_b">下</div>

                        <span>
                            <div class="s_t">mián</div>
                            <div class="s_b">眠</div>
                        </span>
                        <span>
                            <div class="s_t"></div>
                            <div class="s_b">。</div>
                        </span>
                    </nobr>
                </li>
                <li>
                    <span>
                        <div class="s_t">bàn</div>
                        <div class="s_b">半</div>
                    </span>
                    <span>
                        <div class="s_t">xǐng</div>
                        <div class="s_b">醒</div>
                    </span>
                    <span>
                        <div class="s_t">bàn</div>
                        <div class="s_b">半</div>
                    </span>
                    <span>
                        <div class="s_t">zuì</div>
                        <div class="s_b">醉</div>
                    </span>
                    <span>
                        <div class="s_t">rì</div>
                        <div class="s_b">日</div>
                    </span>
                    <span>
                        <div class="s_t">fù</div>
                        <div class="s_b">复</div>

                        <span>
                            <div class="s_t">rì</div>
                            <div class="s_b">日</div>
                        </span>
                        <span>
                            <div class="s_t"></div>
                            <div class="s_b">，</div>
                        </span>
                    </nobr>
                    <span>
                        <div class="s_t">huā</div>
                        <div class="s_b">花</div>
                    </span>
                    <span>
                        <div class="s_t">luò</div>
                        <div class="s_b">落</div>
                    </span>
                    <span>
                        <div class="s_t">huā</div>
                        <div class="s_b">花</div>
                    </span>
                    <span>
                        <div class="s_t">kāi</div>
                        <div class="s_b">开</div>
                    </span>
                    <span>
                        <div class="s_t">nián</div>
                        <div class="s_b">年</div>
                    </span>
                    <span>
                        <div class="s_t">fù</div>
                        <div class="s_b">复</div>

                        <span>
                            <div class="s_t">nián</div>
                            <div class="s_b">年</div>
                        </span>
                        <span>
                            <div class="s_t"></div>
                            <div class="s_b">。</div>
                        </span>
                    </nobr>
                </li>
                <li>
                    <span>
                        <div class="s_t">dàn</div>
                        <div class="s_b">但</div>
                    </span>
                    <span>
                        <div class="s_t">yuàn</div>
                        <div class="s_b">愿</div>
                    </span>
                    <span>
                        <div class="s_t">lǎo</div>
                        <div class="s_b">老</div>
                    </span>
                    <span>
                        <div class="s_t">sǐ</div>
                        <div class="s_b">死</div>
                    </span>
                    <span>
                        <div class="s_t">huā</div>
                        <div class="s_b">花</div>
                    </span>
                    <span>
                        <div class="s_t">jiǔ</div>
                        <div class="s_b">酒</div>

                        <span>
                            <div class="s_t">jiān</div>
                            <div class="s_b">间</div>
                        </span>
                        <span>
                            <div class="s_t"></div>
                            <div class="s_b">，</div>
                        </span>
                    </nobr>
                    <span>
                        <div class="s_t">bú</div>
                        <div class="s_b">不</div>
                    </span>
                    <span>
                        <div class="s_t">yuàn</div>
                        <div class="s_b">愿</div>
                    </span>
                    <span>
                        <div class="s_t">jū</div>
                        <div class="s_b">鞠</div>
                    </span>
                    <span>
                        <div class="s_t">gōng</div>
                        <div class="s_b">躬</div>
                    </span>
                    <span>
                        <div class="s_t">chē</div>
                        <div class="s_b">车</div>
                    </span>
                    <span>
                        <div class="s_t">mǎ</div>
                        <div class="s_b">马</div>

                        <span>
                            <div class="s_t">qián</div>
                            <div class="s_b">前</div>
                        </span>
                        <span>
                            <div class="s_t"></div>
                            <div class="s_b">。</div>
                        </span>
                    </nobr>
                </li>
                <li>
                    <span>
                        <div class="s_t">chē</div>
                        <div class="s_b">车</div>
                    </span>
                    <span>
                        <div class="s_t">chén</div>
                        <div class="s_b">尘</div>
                    </span>
                    <span>
                        <div class="s_t">mǎ</div>
                        <div class="s_b">马</div>
                    </span>
                    <span>
                        <div class="s_t">zú</div>
                        <div class="s_b">足</div>
                    </span>
                    <span>
                        <div class="s_t">fù</div>
                        <div class="s_b">富</div>
                    </span>
                    <span>
                        <div class="s_t">zhě</div>
                        <div class="s_b">者</div>

                        <span>
                            <div class="s_t">qù</div>
                            <div class="s_b">趣</div>
                        </span>
                        <span>
                            <div class="s_t"></div>
                            <div class="s_b">，</div>
                        </span>
                    </nobr>
                    <span>
                        <div class="s_t">jiǔ</div>
                        <div class="s_b">酒</div>
                    </span>
                    <span>
                        <div class="s_t">zhǎn</div>
                        <div class="s_b">盏</div>
                    </span>
                    <span>
                        <div class="s_t">huā</div>
                        <div class="s_b">花</div>
                    </span>
                    <span>
                        <div class="s_t">zhī</div>
                        <div class="s_b">枝</div>
                    </span>
                    <span>
                        <div class="s_t">pín</div>
                        <div class="s_b">贫</div>
                    </span>
                    <span>
                        <div class="s_t">jiàn</div>
                        <div class="s_b">贱</div>

                        <span>
                            <div class="s_t">yuán</div>
                            <div class="s_b">缘</div>
                        </span>
                        <span>
                            <div class="s_t"></div>
                            <div class="s_b">。</div>
                        </span>
                    </nobr>
                </li>
                <li>
                    <span>
                        <div class="s_t">ruò</div>
                        <div class="s_b">若</div>
                    </span>
                    <span>
                        <div class="s_t">jiāng</div>
                        <div class="s_b">将</div>
                    </span>
                    <span>
                        <div class="s_t">fù</div>
                        <div class="s_b">富</div>
                    </span>
                    <span>
                        <div class="s_t">guì</div>
                        <div class="s_b">贵</div>
                    </span>
                    <span>
                        <div class="s_t">bǐ</div>
                        <div class="s_b">比</div>
                    </span>
                    <span>
                        <div class="s_t">pín</div>
                        <div class="s_b">贫</div>

                        <span>
                            <div class="s_t">zhě</div>
                            <div class="s_b">者</div>
                        </span>
                        <span>
                            <div class="s_t"></div>
                            <div class="s_b">，</div>
                        </span>
                    </nobr>
                    <span>
                        <div class="s_t">yí</div>
                        <div class="s_b">一</div>
                    </span>
                    <span>
                        <div class="s_t">zài</div>
                        <div class="s_b">在</div>
                    </span>
                    <span>
                        <div class="s_t">píng</div>
                        <div class="s_b">平</div>
                    </span>
                    <span>
                        <div class="s_t">dì</div>
                        <div class="s_b">地</div>
                    </span>
                    <span>
                        <div class="s_t">yí</div>
                        <div class="s_b">一</div>
                    </span>
                    <span>
                        <div class="s_t">zài</div>
                        <div class="s_b">在</div>

                        <span>
                            <div class="s_t">tiān</div>
                            <div class="s_b">天</div>
                        </span>
                        <span>
                            <div class="s_t"></div>
                            <div class="s_b">。</div>
                        </span>
                    </nobr>
                </li>
                <li>
                    <span>
                        <div class="s_t">ruò</div>
                        <div class="s_b">若</div>
                    </span>
                    <span>
                        <div class="s_t">jiāng</div>
                        <div class="s_b">将</div>
                    </span>
                    <span>
                        <div class="s_t">huā</div>
                        <div class="s_b">花</div>
                    </span>
                    <span>
                        <div class="s_t">jiǔ</div>
                        <div class="s_b">酒</div>
                    </span>
                    <span>
                        <div class="s_t">bǐ</div>
                        <div class="s_b">比</div>
                    </span>
                    <span>
                        <div class="s_t">chē</div>
                        <div class="s_b">车</div>

                        <span>
                            <div class="s_t">mǎ</div>
                            <div class="s_b">马</div>
                        </span>
                        <span>
                            <div class="s_t"></div>
                            <div class="s_b">，</div>
                        </span>
                    </nobr>
                    <span>
                        <div class="s_t">tā</div>
                        <div class="s_b">他</div>
                    </span>
                    <span>
                        <div class="s_t">dé</div>
                        <div class="s_b">得</div>
                    </span>
                    <span>
                        <div class="s_t">qū</div>
                        <div class="s_b">驱</div>
                    </span>
                    <span>
                        <div class="s_t">chí</div>
                        <div class="s_b">驰</div>
                    </span>
                    <span>
                        <div class="s_t">wǒ</div>
                        <div class="s_b">我</div>
                    </span>
                    <span>
                        <div class="s_t">dé</div>
                        <div class="s_b">得</div>

                        <span>
                            <div class="s_t">xián</div>
                            <div class="s_b">闲</div>
                        </span>
                        <span>
                            <div class="s_t"></div>
                            <div class="s_b">。</div>
                        </span>
                    </nobr>
                </li>
                <li>
                    <span>
                        <div class="s_t">bié</div>
                        <div class="s_b">别</div>
                    </span>
                    <span>
                        <div class="s_t">rén</div>
                        <div class="s_b">人</div>
                    </span>
                    <span>
                        <div class="s_t">xiào</div>
                        <div class="s_b">笑</div>
                    </span>
                    <span>
                        <div class="s_t">wǒ</div>
                        <div class="s_b">我</div>
                    </span>
                    <span>
                        <div class="s_t">tè</div>
                        <div class="s_b">忒</div>
                    </span>
                    <span>
                        <div class="s_t">fēng</div>
                        <div class="s_b">风</div>

                        <span>
                            <div class="s_t">sāo</div>
                            <div class="s_b">骚</div>
                        </span>
                        <span>
                            <div class="s_t"></div>
                            <div class="s_b">，</div>
                        </span>
                    </nobr>
                    <span>
                        <div class="s_t">wǒ</div>
                        <div class="s_b">我</div>
                    </span>
                    <span>
                        <div class="s_t">xiào</div>
                        <div class="s_b">笑</div>
                    </span>
                    <span>
                        <div class="s_t">tā</div>
                        <div class="s_b">他</div>
                    </span>
                    <span>
                        <div class="s_t">rén</div>
                        <div class="s_b">人</div>
                    </span>
                    <span>
                        <div class="s_t">kàn</div>
                        <div class="s_b">看</div>
                    </span>
                    <span>
                        <div class="s_t">bù</div>
                        <div class="s_b">不</div>

                        <span>
                            <div class="s_t">chuān</div>
                            <div class="s_b">穿</div>
                        </span>
                        <span>
                            <div class="s_t"></div>
                            <div class="s_b">。</div>
                        </span>
                    </nobr>
                </li>
                <li>
                    <span>
                        <div class="s_t">bú</div>
                        <div class="s_b">不</div>
                    </span>
                    <span>
                        <div class="s_t">jiàn</div>
                        <div class="s_b">见</div>
                    </span>
                    <span>
                        <div class="s_t">wǔ</div>
                        <div class="s_b">五</div>
                    </span>
                    <span>
                        <div class="s_t">líng</div>
                        <div class="s_b">陵</div>
                    </span>
                    <span>
                        <div class="s_t">háo</div>
                        <div class="s_b">豪</div>
                    </span>
                    <span>
                        <div class="s_t">jié</div>
                        <div class="s_b">杰</div>

                        <span>
                            <div class="s_t">mù</div>
                            <div class="s_b">墓</div>
                        </span>
                        <span>
                            <div class="s_t"></div>
                            <div class="s_b">，</div>
                        </span>
                    </nobr>
                    <span>
                        <div class="s_t">wú</div>
                        <div class="s_b">无</div>
                    </span>
                    <span>
                        <div class="s_t">huā</div>
                        <div class="s_b">花</div>
                    </span>
                    <span>
                        <div class="s_t">wú</div>
                        <div class="s_b">无</div>
                    </span>
                    <span>
                        <div class="s_t">jiǔ</div>
                        <div class="s_b">酒</div>
                    </span>
                    <span>
                        <div class="s_t">chú</div>
                        <div class="s_b">锄</div>
                    </span>
                    <span>
                        <div class="s_t">zuò</div>
                        <div class="s_b">作</div>

                        <span>
                            <div class="s_t">tián</div>
                            <div class="s_b">田</div>
                        </span>
                        <span>
                            <div class="s_t"></div>
                            <div class="s_b">。</div>
                        </span>
                    </nobr>
                </li>
            </ul>
        </div>
    </body>
</html>
