<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>《爱莲说》拼音版</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <style>
        .text-c {
            text-align: center;
        }

        .g_main {
            text-align: left;
            margin-left: -2.5%;
            margin-right: -0.4%;
        }

        .g_main li {
            clear: left;
            list-style-type: none;
        }

        .g_main li span {
            display: inline-block;
            text-align: center;
            list-style-type: none;
            width: 40px;
            font-size: 15px;
        }

        .g_main li span .s_b {
            font-size: 18px;
            font-weight: bold;
            font-family: "楷体";
        }

        .g_main li span .s_t {
            font-size: 0.8em;
        }
    </style>
</head>

<body>
<div class="g_box">
    <ul class="g_main text-c">
        <li>
            <span>
                <div class="s_t">ài</div>
                <div class="s_b">爱</div>
            </span>
            <span>
                <div class="s_t">lián</div>
                <div class="s_b">莲</div>
            </span>
            <span>
                <div class="s_t">shuō</div>
                <div class="s_b">说</div>
            </span>
        </li>
    </ul>
    <ul class="g_main  text-c">
        <li>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">〔</div>
            </span>
            <span>
                <div class="s_t">běi</div>
                <div class="s_b">北</div>
            </span>
            <span>
                <div class="s_t">sòng</div>
                <div class="s_b">宋</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">〕</div>
            </span>
            <span>
                <div class="s_t">zhōu</div>
                <div class="s_b">周</div>
            </span>
            <span>
                <div class="s_t">dūn</div>
                <div class="s_b">敦</div>
            </span>
            <span>
                <div class="s_t">yí</div>
                <div class="s_b">颐</div>
            </span>
        </li>
    </ul>
    <ul class="g_main">
        <li>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">　</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">　</div>
            </span>
            <span>
                <div class="s_t">shuǐ</div>
                <div class="s_b">水</div>
            </span>
            <span>
                <div class="s_t">lù</div>
                <div class="s_b">陆</div>
            </span>
            <span>
                <div class="s_t">cǎo</div>
                <div class="s_b">草</div>
            </span>
            <span>
                <div class="s_t">mù</div>
                <div class="s_b">木</div>
            </span>
            <span>
                <div class="s_t">zhī</div>
                <div class="s_b">之</div>
            </span>
            <span>
                <div class="s_t">huā</div>
                <div class="s_b">花</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">kě</div>
                <div class="s_b">可</div>
            </span>
            <span>
                <div class="s_t">ài</div>
                <div class="s_b">爱</div>
            </span>
            <span>
                <div class="s_t">zhě</div>
                <div class="s_b">者</div>
            </span>
            <span>
                <div class="s_t">shèn</div>
                <div class="s_b">甚</div>
            </span>
            <span>
                <div class="s_t">fán</div>
                <div class="s_b">蕃</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
            <span>
                <div class="s_t">jìn</div>
                <div class="s_b">晋</div>
            </span>
            <span>
                <div class="s_t">táo</div>
                <div class="s_b">陶</div>
            </span>
            <span>
                <div class="s_t">yuān</div>
                <div class="s_b">渊</div>
            </span>
            <span>
                <div class="s_t">míng</div>
                <div class="s_b">明</div>
            </span>
            <span>
                <div class="s_t">dú</div>
                <div class="s_b">独</div>
            </span>
            <span>
                <div class="s_t">ài</div>
                <div class="s_b">爱</div>
            </span>
            <span>
                <div class="s_t">jú</div>
                <div class="s_b">菊</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
            <span>
                <div class="s_t">zì</div>
                <div class="s_b">自</div>
            </span>
            <span>
                <div class="s_t">lǐ</div>
                <div class="s_b">李</div>
            </span>
            <span>
                <div class="s_t">táng</div>
                <div class="s_b">唐</div>
            </span>
            <span>
                <div class="s_t">lái</div>
                <div class="s_b">来</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">shì</div>
                <div class="s_b">世</div>
            </span>
            <span>
                <div class="s_t">rén</div>
                <div class="s_b">人</div>
            </span>
            <span>
                <div class="s_t">shèn</div>
                <div class="s_b">甚</div>
            </span>
            <span>
                <div class="s_t">ài</div>
                <div class="s_b">爱</div>
            </span>
            <span>
                <div class="s_t">mǔ</div>
                <div class="s_b">牡</div>
            </span>
            <span>
                <div class="s_t">dān</div>
                <div class="s_b">丹</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
            <span>
                <div class="s_t">yú</div>
                <div class="s_b">予</div>
            </span>
            <span>
                <div class="s_t">dú</div>
                <div class="s_b">独</div>
            </span>
            <span>
                <div class="s_t">ài</div>
                <div class="s_b">爱</div>
            </span>
            <span>
                <div class="s_t">lián</div>
                <div class="s_b">莲</div>
            </span>
            <span>
                <div class="s_t">zhī</div>
                <div class="s_b">之</div>
            </span>
            <span>
                <div class="s_t">chū</div>
                <div class="s_b">出</div>
            </span>
            <span>
                <div class="s_t">yū</div>
                <div class="s_b">淤</div>
            </span>
            <span>
                <div class="s_t">ní</div>
                <div class="s_b">泥</div>
            </span>
            <span>
                <div class="s_t">ér</div>
                <div class="s_b">而</div>
            </span>
            <span>
                <div class="s_t">bù</div>
                <div class="s_b">不</div>
            </span>
            <span>
                <div class="s_t">rǎn</div>
                <div class="s_b">染</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">zhuó</div>
                <div class="s_b">濯</div>
            </span>
            <span>
                <div class="s_t">qīng</div>
                <div class="s_b">清</div>
            </span>
            <span>
                <div class="s_t">lián</div>
                <div class="s_b">涟</div>
            </span>
            <span>
                <div class="s_t">ér</div>
                <div class="s_b">而</div>
            </span>
            <span>
                <div class="s_t">bù</div>
                <div class="s_b">不</div>
            </span>
            <span>
                <div class="s_t">yāo</div>
                <div class="s_b">妖</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">zhōng</div>
                <div class="s_b">中</div>
            </span>
            <span>
                <div class="s_t">tōng</div>
                <div class="s_b">通</div>
            </span>
            <span>
                <div class="s_t">wài</div>
                <div class="s_b">外</div>
            </span>
            <span>
                <div class="s_t">zhí</div>
                <div class="s_b">直</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">bú</div>
                <div class="s_b">不</div>
            </span>
            <span>
                <div class="s_t">màn</div>
                <div class="s_b">蔓</div>
            </span>
            <span>
                <div class="s_t">bù</div>
                <div class="s_b">不</div>
            </span>
            <span>
                <div class="s_t">zhī</div>
                <div class="s_b">枝</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">xiāng</div>
                <div class="s_b">香</div>
            </span>
            <span>
                <div class="s_t">yuǎn</div>
                <div class="s_b">远</div>
            </span>
            <span>
                <div class="s_t">yì</div>
                <div class="s_b">益</div>
            </span>
            <span>
                <div class="s_t">qīng</div>
                <div class="s_b">清</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">tíng</div>
                <div class="s_b">亭</div>
            </span>
            <span>
                <div class="s_t">tíng</div>
                <div class="s_b">亭</div>
            </span>
            <span>
                <div class="s_t">jìng</div>
                <div class="s_b">净</div>
            </span>
            <span>
                <div class="s_t">zhí</div>
                <div class="s_b">植</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">kě</div>
                <div class="s_b">可</div>
            </span>
            <span>
                <div class="s_t">yuǎn</div>
                <div class="s_b">远</div>
            </span>
            <span>
                <div class="s_t">guān</div>
                <div class="s_b">观</div>
            </span>
            <span>
                <div class="s_t">ér</div>
                <div class="s_b">而</div>
            </span>
            <span>
                <div class="s_t">bù</div>
                <div class="s_b">不</div>
            </span>
            <span>
                <div class="s_t">kě</div>
                <div class="s_b">可</div>
            </span>
            <span>
                <div class="s_t">xiè</div>
                <div class="s_b">亵</div>
            </span>
            <span>
                <div class="s_t">wán</div>
                <div class="s_b">玩</div>
            </span>
            <span>
                <div class="s_t">yān</div>
                <div class="s_b">焉</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
        </li>
        <li>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">　</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">　</div>
            </span>
            <span>
                <div class="s_t">yú</div>
                <div class="s_b">予</div>
            </span>
            <span>
                <div class="s_t">wèi</div>
                <div class="s_b">谓</div>
            </span>
            <span>
                <div class="s_t">jú</div>
                <div class="s_b">菊</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">huā</div>
                <div class="s_b">花</div>
            </span>
            <span>
                <div class="s_t">zhī</div>
                <div class="s_b">之</div>
            </span>
            <span>
                <div class="s_t">yǐn</div>
                <div class="s_b">隐</div>
            </span>
            <span>
                <div class="s_t">yì</div>
                <div class="s_b">逸</div>
            </span>
            <span>
                <div class="s_t">zhě</div>
                <div class="s_b">者</div>
            </span>
            <span>
                <div class="s_t">yě</div>
                <div class="s_b">也</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">；</div>
            </span>
            <span>
                <div class="s_t">mǔ</div>
                <div class="s_b">牡</div>
            </span>
            <span>
                <div class="s_t">dān</div>
                <div class="s_b">丹</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">huā</div>
                <div class="s_b">花</div>
            </span>
            <span>
                <div class="s_t">zhī</div>
                <div class="s_b">之</div>
            </span>
            <span>
                <div class="s_t">fù</div>
                <div class="s_b">富</div>
            </span>
            <span>
                <div class="s_t">guì</div>
                <div class="s_b">贵</div>
            </span>
            <span>
                <div class="s_t">zhě</div>
                <div class="s_b">者</div>
            </span>
            <span>
                <div class="s_t">yě</div>
                <div class="s_b">也</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">；</div>
            </span>
            <span>
                <div class="s_t">lián</div>
                <div class="s_b">莲</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">huā</div>
                <div class="s_b">花</div>
            </span>
            <span>
                <div class="s_t">zhī</div>
                <div class="s_b">之</div>
            </span>
            <span>
                <div class="s_t">jūn</div>
                <div class="s_b">君</div>
            </span>
            <span>
                <div class="s_t">zǐ</div>
                <div class="s_b">子</div>
            </span>
            <span>
                <div class="s_t">zhě</div>
                <div class="s_b">者</div>
            </span>
            <span>
                <div class="s_t">yě</div>
                <div class="s_b">也</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
            <span>
                <div class="s_t">yī</div>
                <div class="s_b">噫</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">！</div>
            </span>
            <span>
                <div class="s_t">jú</div>
                <div class="s_b">菊</div>
            </span>
            <span>
                <div class="s_t">zhī</div>
                <div class="s_b">之</div>
            </span>
            <span>
                <div class="s_t">ài</div>
                <div class="s_b">爱</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">táo</div>
                <div class="s_b">陶</div>
            </span>
            <span>
                <div class="s_t">hòu</div>
                <div class="s_b">后</div>
            </span>
            <span>
                <div class="s_t">xiǎn</div>
                <div class="s_b">鲜</div>
            </span>
            <span>
                <div class="s_t">yǒu</div>
                <div class="s_b">有</div>
            </span>
            <span>
                <div class="s_t">wén</div>
                <div class="s_b">闻</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
            <span>
                <div class="s_t">lián</div>
                <div class="s_b">莲</div>
            </span>
            <span>
                <div class="s_t">zhī</div>
                <div class="s_b">之</div>
            </span>
            <span>
                <div class="s_t">ài</div>
                <div class="s_b">爱</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">tóng</div>
                <div class="s_b">同</div>
            </span>
            <span>
                <div class="s_t">yú</div>
                <div class="s_b">予</div>
            </span>
            <span>
                <div class="s_t">zhě</div>
                <div class="s_b">者</div>
            </span>
            <span>
                <div class="s_t">hé</div>
                <div class="s_b">何</div>
            </span>
            <span>
                <div class="s_t">rén</div>
                <div class="s_b">人</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">？</div>
            </span>
            <span>
                <div class="s_t">mǔ</div>
                <div class="s_b">牡</div>
            </span>
            <span>
                <div class="s_t">dān</div>
                <div class="s_b">丹</div>
            </span>
            <span>
                <div class="s_t">zhī</div>
                <div class="s_b">之</div>
            </span>
            <span>
                <div class="s_t">ài</div>
                <div class="s_b">爱</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">yí</div>
                <div class="s_b">宜</div>
            </span>
            <span>
                <div class="s_t">hū</div>
                <div class="s_b">乎</div>
            </span>
            <span>
                <div class="s_t">zhòng</div>
                <div class="s_b">众</div>
            </span>
            <span>
                <div class="s_t">yǐ</div>
                <div class="s_b">矣</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
        </li>
    </ul>
</div>
</body>

</html>