<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>《生于忧患死于安乐》拼音版</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <style>
        .text-c {
            text-align: center;
        }

        .g_main {
            text-align: left;
            margin-left: -2.5%;
            margin-right: -0.4%;
        }

        .g_main li {
            clear: left;
            list-style-type: none;
        }

        .g_main li span {
            display: inline-block;
            text-align: center;
            list-style-type: none;
            width: 40px;
            font-size: 15px;
        }

        .g_main li span .s_b {
            font-size: 18px;
            font-weight: bold;
            font-family: "楷体";
        }

        .g_main li span .s_t {
            font-size: 0.8em;
        }
    </style>
</head>

<body>
<div class="g_box">
    <ul class="g_main text-c">
        <li>
            <span>
                <div class="s_t">shēng</div>
                <div class="s_b">生</div>
            </span>
            <span>
                <div class="s_t">yú</div>
                <div class="s_b">于</div>
            </span>
            <span>
                <div class="s_t">yōu</div>
                <div class="s_b">忧</div>
            </span>
            <span>
                <div class="s_t">huàn</div>
                <div class="s_b">患</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">sǐ</div>
                <div class="s_b">死</div>
            </span>
            <span>
                <div class="s_t">yú</div>
                <div class="s_b">于</div>
            </span>
            <span>
                <div class="s_t">ān</div>
                <div class="s_b">安</div>
            </span>
            <span>
                <div class="s_t">lè</div>
                <div class="s_b">乐</div>
            </span>
        </li>
    </ul>
    <ul class="g_main  text-c">
        <li>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">〔</div>
            </span>
            <span>
                <div class="s_t">xiān</div>
                <div class="s_b">先</div>
            </span>
            <span>
                <div class="s_t">qín</div>
                <div class="s_b">秦</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">〕</div>
            </span>
            <span>
                <div class="s_t">mèng</div>
                <div class="s_b">孟</div>
            </span>
            <span>
                <div class="s_t">zǐ</div>
                <div class="s_b">子</div>
            </span>
        </li>
    </ul>
    <ul class="g_main">
        <li>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">　</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">　</div>
            </span>
            <span>
                <div class="s_t">shùn</div>
                <div class="s_b">舜</div>
            </span>
            <span>
                <div class="s_t">fā</div>
                <div class="s_b">发</div>
            </span>
            <span>
                <div class="s_t">yú</div>
                <div class="s_b">于</div>
            </span>
            <span>
                <div class="s_t">quǎn</div>
                <div class="s_b">畎</div>
            </span>
            <span>
                <div class="s_t">mǔ</div>
                <div class="s_b">亩</div>
            </span>
            <span>
                <div class="s_t">zhī</div>
                <div class="s_b">之</div>
            </span>
            <span>
                <div class="s_t">zhōng</div>
                <div class="s_b">中</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">fù</div>
                <div class="s_b">傅</div>
            </span>
            <span>
                <div class="s_t">yuè</div>
                <div class="s_b">说</div>
            </span>
            <span>
                <div class="s_t">jǔ</div>
                <div class="s_b">举</div>
            </span>
            <span>
                <div class="s_t">yú</div>
                <div class="s_b">于</div>
            </span>
            <span>
                <div class="s_t">bǎn</div>
                <div class="s_b">版</div>
            </span>
            <span>
                <div class="s_t">zhù</div>
                <div class="s_b">筑</div>
            </span>
            <span>
                <div class="s_t">zhī</div>
                <div class="s_b">之</div>
            </span>
            <span>
                <div class="s_t">jiān</div>
                <div class="s_b">间</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">jiāo</div>
                <div class="s_b">胶</div>
            </span>
            <span>
                <div class="s_t">gé</div>
                <div class="s_b">鬲</div>
            </span>
            <span>
                <div class="s_t">jǔ</div>
                <div class="s_b">举</div>
            </span>
            <span>
                <div class="s_t">yú</div>
                <div class="s_b">于</div>
            </span>
            <span>
                <div class="s_t">yú</div>
                <div class="s_b">鱼</div>
            </span>
            <span>
                <div class="s_t">yán</div>
                <div class="s_b">盐</div>
            </span>
            <span>
                <div class="s_t">zhī</div>
                <div class="s_b">之</div>
            </span>
            <span>
                <div class="s_t">zhōng</div>
                <div class="s_b">中</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">guǎn</div>
                <div class="s_b">管</div>
            </span>
            <span>
                <div class="s_t">yí</div>
                <div class="s_b">夷</div>
            </span>
            <span>
                <div class="s_t">wú</div>
                <div class="s_b">吾</div>
            </span>
            <span>
                <div class="s_t">jǔ</div>
                <div class="s_b">举</div>
            </span>
            <span>
                <div class="s_t">yú</div>
                <div class="s_b">于</div>
            </span>
            <span>
                <div class="s_t">shì</div>
                <div class="s_b">士</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">sūn</div>
                <div class="s_b">孙</div>
            </span>
            <span>
                <div class="s_t">shū</div>
                <div class="s_b">叔</div>
            </span>
            <span>
                <div class="s_t">áo</div>
                <div class="s_b">敖</div>
            </span>
            <span>
                <div class="s_t">jǔ</div>
                <div class="s_b">举</div>
            </span>
            <span>
                <div class="s_t">yú</div>
                <div class="s_b">于</div>
            </span>
            <span>
                <div class="s_t">hǎi</div>
                <div class="s_b">海</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">bǎi</div>
                <div class="s_b">百</div>
            </span>
            <span>
                <div class="s_t">lǐ</div>
                <div class="s_b">里</div>
            </span>
            <span>
                <div class="s_t">xī</div>
                <div class="s_b">奚</div>
            </span>
            <span>
                <div class="s_t">jǔ</div>
                <div class="s_b">举</div>
            </span>
            <span>
                <div class="s_t">yú</div>
                <div class="s_b">于</div>
            </span>
            <span>
                <div class="s_t">shì</div>
                <div class="s_b">市</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
            <span>
                <div class="s_t">gù</div>
                <div class="s_b">故</div>
            </span>
            <span>
                <div class="s_t">tiān</div>
                <div class="s_b">天</div>
            </span>
            <span>
                <div class="s_t">jiāng</div>
                <div class="s_b">将</div>
            </span>
            <span>
                <div class="s_t">jiàng</div>
                <div class="s_b">降</div>
            </span>
            <span>
                <div class="s_t">dà</div>
                <div class="s_b">大</div>
            </span>
            <span>
                <div class="s_t">rèn</div>
                <div class="s_b">任</div>
            </span>
            <span>
                <div class="s_t">yú</div>
                <div class="s_b">于</div>
            </span>
            <span>
                <div class="s_t">shì</div>
                <div class="s_b">是</div>
            </span>
            <span>
                <div class="s_t">rén</div>
                <div class="s_b">人</div>
            </span>
            <span>
                <div class="s_t">yě</div>
                <div class="s_b">也</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">bì</div>
                <div class="s_b">必</div>
            </span>
            <span>
                <div class="s_t">xiān</div>
                <div class="s_b">先</div>
            </span>
            <span>
                <div class="s_t">kǔ</div>
                <div class="s_b">苦</div>
            </span>
            <span>
                <div class="s_t">qí</div>
                <div class="s_b">其</div>
            </span>
            <span>
                <div class="s_t">xīn</div>
                <div class="s_b">心</div>
            </span>
            <span>
                <div class="s_t">zhì</div>
                <div class="s_b">志</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">láo</div>
                <div class="s_b">劳</div>
            </span>
            <span>
                <div class="s_t">qí</div>
                <div class="s_b">其</div>
            </span>
            <span>
                <div class="s_t">jīn</div>
                <div class="s_b">筋</div>
            </span>
            <span>
                <div class="s_t">gǔ</div>
                <div class="s_b">骨</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">è</div>
                <div class="s_b">饿</div>
            </span>
            <span>
                <div class="s_t">qí</div>
                <div class="s_b">其</div>
            </span>
            <span>
                <div class="s_t">tǐ</div>
                <div class="s_b">体</div>
            </span>
            <span>
                <div class="s_t">fū</div>
                <div class="s_b">肤</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">kòng</div>
                <div class="s_b">空</div>
            </span>
            <span>
                <div class="s_t">fá</div>
                <div class="s_b">乏</div>
            </span>
            <span>
                <div class="s_t">qí</div>
                <div class="s_b">其</div>
            </span>
            <span>
                <div class="s_t">shēn</div>
                <div class="s_b">身</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">xíng</div>
                <div class="s_b">行</div>
            </span>
            <span>
                <div class="s_t">fú</div>
                <div class="s_b">拂</div>
            </span>
            <span>
                <div class="s_t">luàn</div>
                <div class="s_b">乱</div>
            </span>
            <span>
                <div class="s_t">qí</div>
                <div class="s_b">其</div>
            </span>
            <span>
                <div class="s_t">suǒ</div>
                <div class="s_b">所</div>
            </span>
            <span>
                <div class="s_t">wéi</div>
                <div class="s_b">为</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">suǒ</div>
                <div class="s_b">所</div>
            </span>
            <span>
                <div class="s_t">yǐ</div>
                <div class="s_b">以</div>
            </span>
            <span>
                <div class="s_t">dòng</div>
                <div class="s_b">动</div>
            </span>
            <span>
                <div class="s_t">xīn</div>
                <div class="s_b">心</div>
            </span>
            <span>
                <div class="s_t">rěn</div>
                <div class="s_b">忍</div>
            </span>
            <span>
                <div class="s_t">xìng</div>
                <div class="s_b">性</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">zēng</div>
                <div class="s_b">曾</div>
            </span>
            <span>
                <div class="s_t">yì</div>
                <div class="s_b">益</div>
            </span>
            <span>
                <div class="s_t">qí</div>
                <div class="s_b">其</div>
            </span>
            <span>
                <div class="s_t">suǒ</div>
                <div class="s_b">所</div>
            </span>
            <span>
                <div class="s_t">bù</div>
                <div class="s_b">不</div>
            </span>
            <span>
                <div class="s_t">néng</div>
                <div class="s_b">能</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
        </li>
        <li>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">　</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">　</div>
            </span>
            <span>
                <div class="s_t">rén</div>
                <div class="s_b">人</div>
            </span>
            <span>
                <div class="s_t">héng</div>
                <div class="s_b">恒</div>
            </span>
            <span>
                <div class="s_t">guò</div>
                <div class="s_b">过</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">rán</div>
                <div class="s_b">然</div>
            </span>
            <span>
                <div class="s_t">hòu</div>
                <div class="s_b">后</div>
            </span>
            <span>
                <div class="s_t">néng</div>
                <div class="s_b">能</div>
            </span>
            <span>
                <div class="s_t">gǎi</div>
                <div class="s_b">改</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">；</div>
            </span>
            <span>
                <div class="s_t">kùn</div>
                <div class="s_b">困</div>
            </span>
            <span>
                <div class="s_t">yú</div>
                <div class="s_b">于</div>
            </span>
            <span>
                <div class="s_t">xīn</div>
                <div class="s_b">心</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">héng</div>
                <div class="s_b">衡</div>
            </span>
            <span>
                <div class="s_t">yú</div>
                <div class="s_b">于</div>
            </span>
            <span>
                <div class="s_t">lǜ</div>
                <div class="s_b">虑</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">ér</div>
                <div class="s_b">而</div>
            </span>
            <span>
                <div class="s_t">hòu</div>
                <div class="s_b">后</div>
            </span>
            <span>
                <div class="s_t">zuò</div>
                <div class="s_b">作</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">；</div>
            </span>
            <span>
                <div class="s_t">zhēng</div>
                <div class="s_b">征</div>
            </span>
            <span>
                <div class="s_t">yú</div>
                <div class="s_b">于</div>
            </span>
            <span>
                <div class="s_t">sè</div>
                <div class="s_b">色</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">fā</div>
                <div class="s_b">发</div>
            </span>
            <span>
                <div class="s_t">yú</div>
                <div class="s_b">于</div>
            </span>
            <span>
                <div class="s_t">shēng</div>
                <div class="s_b">声</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">ér</div>
                <div class="s_b">而</div>
            </span>
            <span>
                <div class="s_t">hòu</div>
                <div class="s_b">后</div>
            </span>
            <span>
                <div class="s_t">yù</div>
                <div class="s_b">喻</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
            <span>
                <div class="s_t">rù</div>
                <div class="s_b">入</div>
            </span>
            <span>
                <div class="s_t">zé</div>
                <div class="s_b">则</div>
            </span>
            <span>
                <div class="s_t">wú</div>
                <div class="s_b">无</div>
            </span>
            <span>
                <div class="s_t">fǎ</div>
                <div class="s_b">法</div>
            </span>
            <span>
                <div class="s_t">jiā</div>
                <div class="s_b">家</div>
            </span>
            <span>
                <div class="s_t">bì</div>
                <div class="s_b">拂</div>
            </span>
            <span>
                <div class="s_t">shì</div>
                <div class="s_b">士</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">chū</div>
                <div class="s_b">出</div>
            </span>
            <span>
                <div class="s_t">zé</div>
                <div class="s_b">则</div>
            </span>
            <span>
                <div class="s_t">wú</div>
                <div class="s_b">无</div>
            </span>
            <span>
                <div class="s_t">dí</div>
                <div class="s_b">敌</div>
            </span>
            <span>
                <div class="s_t">guó</div>
                <div class="s_b">国</div>
            </span>
            <span>
                <div class="s_t">wài</div>
                <div class="s_b">外</div>
            </span>
            <span>
                <div class="s_t">huàn</div>
                <div class="s_b">患</div>
            </span>
            <span>
                <div class="s_t">zhě</div>
                <div class="s_b">者</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">guó</div>
                <div class="s_b">国</div>
            </span>
            <span>
                <div class="s_t">héng</div>
                <div class="s_b">恒</div>
            </span>
            <span>
                <div class="s_t">wáng</div>
                <div class="s_b">亡</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
            <span>
                <div class="s_t">rán</div>
                <div class="s_b">然</div>
            </span>
            <span>
                <div class="s_t">hòu</div>
                <div class="s_b">后</div>
            </span>
            <span>
                <div class="s_t">zhī</div>
                <div class="s_b">知</div>
            </span>
            <span>
                <div class="s_t">shēng</div>
                <div class="s_b">生</div>
            </span>
            <span>
                <div class="s_t">yú</div>
                <div class="s_b">于</div>
            </span>
            <span>
                <div class="s_t">yōu</div>
                <div class="s_b">忧</div>
            </span>
            <span>
                <div class="s_t">huàn</div>
                <div class="s_b">患</div>
            </span>
            <span>
                <div class="s_t">ér</div>
                <div class="s_b">而</div>
            </span>
            <span>
                <div class="s_t">sǐ</div>
                <div class="s_b">死</div>
            </span>
            <span>
                <div class="s_t">yú</div>
                <div class="s_b">于</div>
            </span>
            <span>
                <div class="s_t">ān</div>
                <div class="s_b">安</div>
            </span>
            <span>
                <div class="s_t">lè</div>
                <div class="s_b">乐</div>
            </span>
            <span>
                <div class="s_t">yě</div>
                <div class="s_b">也</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
        </li>
    </ul>
</div>
</body>

</html>