<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>《陋室铭》拼音版</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <style>
        .text-c {
            text-align: center;
        }

        .g_main {
            text-align: left;
            margin-left: -2.5%;
            margin-right: -0.4%;
        }

        .g_main li {
            clear: left;
            list-style-type: none;
        }

        .g_main li span {
            display: inline-block;
            text-align: center;
            list-style-type: none;
            width: 40px;
            font-size: 15px;
        }

        .g_main li span .s_b {
            font-size: 18px;
            font-weight: bold;
            font-family: "楷体";
        }

        .g_main li span .s_t {
            font-size: 0.8em;
        }
        
        .g_main li {
            margin-bottom: 1.5%;
        }
    </style>
</head>
<body>
<div class="g_box">
    <ul class="g_main text-c">
        <li>
            <span>
                <div class="s_t">lòu</div>
                <div class="s_b">陋</div>
            </span>
            <span>
                <div class="s_t">shì</div>
                <div class="s_b">室</div>
            </span>
            <span>
                <div class="s_t">míng</div>
                <div class="s_b">铭</div>
            </span>
        </li>
    </ul>
    <ul class="g_main text-c">
        <li>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">〔</div>
            </span>
            <span>
                <div class="s_t">táng</div>
                <div class="s_b">唐</div>
            </span>
            <span>
                <div class="s_t">dài</div>
                <div class="s_b">代</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">〕</div>
            </span>
            <span>
                <div class="s_t">liú</div>
                <div class="s_b">刘</div>
            </span>
            <span>
                <div class="s_t">yǔ</div>
                <div class="s_b">禹</div>
            </span>
            <span>
                <div class="s_t">xī</div>
                <div class="s_b">锡</div>
            </span>
        </li>
    </ul>
    <ul class="g_main ">
        <li>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">　</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">　</div>
            </span>
            <span>
                <div class="s_t">shān</div>
                <div class="s_b">山</div>
            </span>
            <span>
                <div class="s_t">bú</div>
                <div class="s_b">不</div>
            </span>
            <span>
                <div class="s_t">zài</div>
                <div class="s_b">在</div>
            </span>
            <span>
                <div class="s_t">gāo</div>
                <div class="s_b">高</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">yǒu</div>
                <div class="s_b">有</div>
            </span>
            <span>
                <div class="s_t">xiān</div>
                <div class="s_b">仙</div>
            </span>
            <span>
                <div class="s_t">zé</div>
                <div class="s_b">则</div>
            </span>
            <span>
                <div class="s_t">míng</div>
                <div class="s_b">名</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
            <span>
                <div class="s_t">shuǐ</div>
                <div class="s_b">水</div>
            </span>
            <span>
                <div class="s_t">bú</div>
                <div class="s_b">不</div>
            </span>
            <span>
                <div class="s_t">zài</div>
                <div class="s_b">在</div>
            </span>
            <span>
                <div class="s_t">shēn</div>
                <div class="s_b">深</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">yǒu</div>
                <div class="s_b">有</div>
            </span>
            <span>
                <div class="s_t">lóng</div>
                <div class="s_b">龙</div>
            </span>
            <span>
                <div class="s_t">zé</div>
                <div class="s_b">则</div>
            </span>
            <span>
                <div class="s_t">líng</div>
                <div class="s_b">灵</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
            <span>
                <div class="s_t">sī</div>
                <div class="s_b">斯</div>
            </span>
            <span>
                <div class="s_t">shì</div>
                <div class="s_b">是</div>
            </span>
            <span>
                <div class="s_t">lòu</div>
                <div class="s_b">陋</div>
            </span>
            <span>
                <div class="s_t">shì</div>
                <div class="s_b">室</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">wéi</div>
                <div class="s_b">惟</div>
            </span>
            <span>
                <div class="s_t">wú</div>
                <div class="s_b">吾</div>
            </span>
            <span>
                <div class="s_t">dé</div>
                <div class="s_b">德</div>
            </span>
            <span>
                <div class="s_t">xīn</div>
                <div class="s_b">馨</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
            <span>
                <div class="s_t">tái</div>
                <div class="s_b">苔</div>
            </span>
            <span>
                <div class="s_t">hén</div>
                <div class="s_b">痕</div>
            </span>
            <span>
                <div class="s_t">shàng</div>
                <div class="s_b">上</div>
            </span>
            <span>
                <div class="s_t">jiē</div>
                <div class="s_b">阶</div>
            </span>
            <span>
                <div class="s_t">lǜ</div>
                <div class="s_b">绿</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">cǎo</div>
                <div class="s_b">草</div>
            </span>
            <span>
                <div class="s_t">sè</div>
                <div class="s_b">色</div>
            </span>
            <span>
                <div class="s_t">rù</div>
                <div class="s_b">入</div>
            </span>
            <span>
                <div class="s_t">lián</div>
                <div class="s_b">帘</div>
            </span>
            <span>
                <div class="s_t">qīng</div>
                <div class="s_b">青</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
            <span>
                <div class="s_t">tán</div>
                <div class="s_b">谈</div>
            </span>
            <span>
                <div class="s_t">xiào</div>
                <div class="s_b">笑</div>
            </span>
            <span>
                <div class="s_t">yǒu</div>
                <div class="s_b">有</div>
            </span>
            <span>
                <div class="s_t">hóng</div>
                <div class="s_b">鸿</div>
            </span>
            <span>
                <div class="s_t">rú</div>
                <div class="s_b">儒</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">wǎng</div>
                <div class="s_b">往</div>
            </span>
            <span>
                <div class="s_t">lái</div>
                <div class="s_b">来</div>
            </span>
            <span>
                <div class="s_t">wú</div>
                <div class="s_b">无</div>
            </span>
            <span>
                <div class="s_t">bái</div>
                <div class="s_b">白</div>
            </span>
            <span>
                <div class="s_t">dīng</div>
                <div class="s_b">丁</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
            <span>
                <div class="s_t">kě</div>
                <div class="s_b">可</div>
            </span>
            <span>
                <div class="s_t">yǐ</div>
                <div class="s_b">以</div>
            </span>
            <span>
                <div class="s_t">tiáo</div>
                <div class="s_b">调</div>
            </span>
            <span>
                <div class="s_t">sù</div>
                <div class="s_b">素</div>
            </span>
            <span>
                <div class="s_t">qín</div>
                <div class="s_b">琴</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">yuè</div>
                <div class="s_b">阅</div>
            </span>
            <span>
                <div class="s_t">jīn</div>
                <div class="s_b">金</div>
            </span>
            <span>
                <div class="s_t">jīng</div>
                <div class="s_b">经</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
            <span>
                <div class="s_t">wú</div>
                <div class="s_b">无</div>
            </span>
            <span>
                <div class="s_t">sī</div>
                <div class="s_b">丝</div>
            </span>
            <span>
                <div class="s_t">zhú</div>
                <div class="s_b">竹</div>
            </span>
            <span>
                <div class="s_t">zhī</div>
                <div class="s_b">之</div>
            </span>
            <span>
                <div class="s_t">luàn</div>
                <div class="s_b">乱</div>
            </span>
            <span>
                <div class="s_t">ěr</div>
                <div class="s_b">耳</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">wú</div>
                <div class="s_b">无</div>
            </span>
            <span>
                <div class="s_t">àn</div>
                <div class="s_b">案</div>
            </span>
            <span>
                <div class="s_t">dú</div>
                <div class="s_b">牍</div>
            </span>
            <span>
                <div class="s_t">zhī</div>
                <div class="s_b">之</div>
            </span>
            <span>
                <div class="s_t">láo</div>
                <div class="s_b">劳</div>
            </span>
            <span>
                <div class="s_t">xíng</div>
                <div class="s_b">形</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
            <span>
                <div class="s_t">nán</div>
                <div class="s_b">南</div>
            </span>
            <span>
                <div class="s_t">yáng</div>
                <div class="s_b">阳</div>
            </span>
            <span>
                <div class="s_t">zhū</div>
                <div class="s_b">诸</div>
            </span>
            <span>
                <div class="s_t">gě</div>
                <div class="s_b">葛</div>
            </span>
            <span>
                <div class="s_t">lú</div>
                <div class="s_b">庐</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">xī</div>
                <div class="s_b">西</div>
            </span>
            <span>
                <div class="s_t">shǔ</div>
                <div class="s_b">蜀</div>
            </span>
            <span>
                <div class="s_t">zǐ</div>
                <div class="s_b">子</div>
            </span>
            <span>
                <div class="s_t">yún</div>
                <div class="s_b">云</div>
            </span>
            <span>
                <div class="s_t">tíng</div>
                <div class="s_b">亭</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">。</div>
            </span>
            <span>
                <div class="s_t">kǒng</div>
                <div class="s_b">孔</div>
            </span>
            <span>
                <div class="s_t">zǐ</div>
                <div class="s_b">子</div>
            </span>
            <span>
                <div class="s_t">yún</div>
                <div class="s_b">云</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">：</div>
            </span>
            <span>
                <div class="s_t">hé</div>
                <div class="s_b">何</div>
            </span>
            <span>
                <div class="s_t">lòu</div>
                <div class="s_b">陋</div>
            </span>
            <span>
                <div class="s_t">zhī</div>
                <div class="s_b">之</div>
            </span>
            <span>
                <div class="s_t">yǒu</div>
                <div class="s_b">有</div>
            </span>
            <span>
                <div class="s_t">　</div>
                <div class="s_b">？</div>
            </span>
        </li>
    </ul>
</div>
</body>
</html>
