<div class="sidebar-scroll">
    <div class="logo">
        <a th:href="@{/dashboard}"><img th:src="@{/static/images/logo_icon.png}" style="width: 55px;height: 40px;">Demo</a>
    </div>
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <!-- 遍历一级菜单 -->
            <li th:each="menu : ${permissions}" th:class="${menuStat.index == 1} ? 'active' : ''">
                <!-- 递归生成菜单结构 -->
                <div th:replace="~{::menuItem(${menu}, 1)}"></div>
            </li>
        </ul>
    </div>
</div>

<!-- 定义递归模板 -->
<th:block th:fragment="menuItem(node, level)">
    <!-- 生成菜单链接 -->
    <a th:if="${node != null}" th:href="${node.url ==null or #strings.isEmpty(node.url)}?'javascript:void(0)':${application.ctx}+'/'+${node.url}"
       th:classappend="'nav-level-' + ${level}">
        <i th:class="${node.icon}"></i>
        <span class="nav-label" th:text="${node.permissionName}"></span>
        <!-- 显示箭头图标如果有子菜单 -->
        <span th:if="${node.children!=null && not #lists.isEmpty(node.children)}" class="fa arrow"></span>
    </a>

    <!-- 递归生成子菜单 -->
    <ul th:if="${node != null and node.children!=null and not #lists.isEmpty(node.children)}"
        class="nav nav-child-level collapse"
        th:classappend="'nav-level-' + ${level + 1}">
        <li th:each="child : ${node.children}">
            <div th:replace="~{::menuItem(${child}, ${level + 1})}"></div>
        </li>
    </ul>
</th:block>