<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>《定风波》拼音版</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <style>
        .text-c {
            text-align: center;
        }

        .g_main {
            text-align: left;
            margin-left: -2.5%;
        }

        .g_main li {
            clear: left;
            list-style-type: none;
        }

        .g_main li span {
            display: inline-block;
            text-align: center;
            list-style-type: none;
            width: 40px;
            font-size: 15px;
        }

        .g_main li span .s_b {
            font-size: 18px;
        }

        .g_main li span .s_t {
            font-size: 0.8em;
        }
    </style>
</head>
<body>
<div class="g_box">
    <ul class="g_main text-c">
        <li>
            <span>
                <div class="s_t">dìng</div>
                <div class="s_b">定</div>
            </span>
            <span>
                <div class="s_t">fēng</div>
                <div class="s_b">风</div>
            </span>
            <span>
                <div class="s_t">bō</div>
                <div class="s_b">波</div>
            </span>
            <span>
                <div class="s_t">·</div>
                <div class="s_b">·</div>
            </span>
            <span>
                <div class="s_t">mò</div>
                <div class="s_b">莫</div>
            </span>
            <span>
                <div class="s_t">tīng</div>
                <div class="s_b">听</div>
            </span>
            <span>
                <div class="s_t">chuān</div>
                <div class="s_b">穿</div>
            </span>
            <span>
                <div class="s_t">lín</div>
                <div class="s_b">林</div>
            </span>
            <span>
                <div class="s_t">dǎ</div>
                <div class="s_b">打</div>
            </span>
            <span>
                <div class="s_t">yè</div>
                <div class="s_b">叶</div>
            </span>
            <span>
                <div class="s_t">shēng</div>
                <div class="s_b">声</div>
            </span>
        </li>
    </ul>
    <ul class="g_main text-c">
        <li>
            <span>
                <div class="s_t"></div>
                <div class="s_b">〔</div>
            </span>
            <span>
                <div class="s_t">běi</div>
                <div class="s_b">北</div>
            </span>
            <span>
                <div class="s_t">sòng</div>
                <div class="s_b">宋</div>
            </span>
            <span>
                <div class="s_t"></div>
                <div class="s_b">〕</div>
            </span>
            <span>
                <div class="s_t">sū</div>
                <div class="s_b">苏</div>
            </span>
            <span>
                <div class="s_t">shì</div>
                <div class="s_b">轼</div>
            </span>
        </li>
    </ul>
    <ul class="g_main">
        <li>
            <span>
                <div class="s_t"></div>
                <div class="s_b"></div>
            </span>
            <span>
                <div class="s_t"></div>
                <div class="s_b"></div>
            </span>
            <span>
                <div class="s_t">sān</div>
                <div class="s_b">三</div>
            </span>
            <span>
                <div class="s_t">yuè</div>
                <div class="s_b">月</div>
            </span>
            <span>
                <div class="s_t">qī</div>
                <div class="s_b">七</div>
            </span>
            <span>
                <div class="s_t">rì</div>
                <div class="s_b">日</div>
            </span>
            <span>
                <div class="s_t"></div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">shā</div>
                <div class="s_b">沙</div>
            </span>
            <span>
                <div class="s_t">hú</div>
                <div class="s_b">湖</div>
            </span>
            <span>
                <div class="s_t">dào</div>
                <div class="s_b">道</div>
            </span>
            <span>
                <div class="s_t">zhōng</div>
                <div class="s_b">中</div>
            </span>
            <span>
                <div class="s_t">yù</div>
                <div class="s_b">遇</div>
            </span>
            <span>
                <div class="s_t">yǔ</div>
                <div class="s_b">雨</div>
            </span>
            <span>
                <div class="s_t"></div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">yǔ</div>
                <div class="s_b">雨</div>
            </span>
            <span>
                <div class="s_t">jù</div>
                <div class="s_b">具</div>
            </span>
            <span>
                <div class="s_t">xiān</div>
                <div class="s_b">先</div>
            </span>
            <span>
                <div class="s_t">qù</div>
                <div class="s_b">去</div>
            </span>
            <span>
                <div class="s_t"></div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">tóng</div>
                <div class="s_b">同</div>
            </span>
            <span>
                <div class="s_t">xíng</div>
                <div class="s_b">行</div>
            </span>
            <span>
                <div class="s_t">jiē</div>
                <div class="s_b">皆</div>
            </span>
            <span>
                <div class="s_t">láng</div>
                <div class="s_b">狼</div>
            </span>
            <span>
                <div class="s_t">bèi</div>
                <div class="s_b">狈</div>
            </span>
            <span>
                <div class="s_t"></div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">yú</div>
                <div class="s_b">余</div>
            </span>
            <span>
                <div class="s_t">dú</div>
                <div class="s_b">独</div>
            </span>
            <span>
                <div class="s_t">bù</div>
                <div class="s_b">不</div>
            </span>
            <span>
                <div class="s_t">jué</div>
                <div class="s_b">觉</div>
            </span>
            <span>
                <div class="s_t"></div>
                <div class="s_b">。</div>
            </span>
            <span>
                <div class="s_t">yǐ</div>
                <div class="s_b">已</div>
            </span>
            <span>
                <div class="s_t">ér</div>
                <div class="s_b">而</div>
            </span>
            <span>
                <div class="s_t">suì</div>
                <div class="s_b">遂</div>
            </span>
            <span>
                <div class="s_t">qíng</div>
                <div class="s_b">晴</div>
            </span>
            <span>
                <div class="s_t"></div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">gù</div>
                <div class="s_b">故</div>
            </span>
            <span>
                <div class="s_t">zuò</div>
                <div class="s_b">作</div>
            </span>
            <span>
                <div class="s_t">cǐ</div>
                <div class="s_b">此</div>
            </span>
            <span>
                <div class="s_t">cí</div>
                <div class="s_b">词</div>
            </span>
            <span>
                <div class="s_t"></div>
                <div class="s_b">。</div>
            </span>
        </li>
        <li>
            <span>
                <div class="s_t"></div>
                <div class="s_b"></div>
            </span>
            <span>
                <div class="s_t"></div>
                <div class="s_b"></div>
            </span>
            <span>
                <div class="s_t">mò</div>
                <div class="s_b">莫</div>
            </span>
            <span>
                <div class="s_t">tīng</div>
                <div class="s_b">听</div>
            </span>
            <span>
                <div class="s_t">chuān</div>
                <div class="s_b">穿</div>
            </span>
            <span>
                <div class="s_t">lín</div>
                <div class="s_b">林</div>
            </span>
            <span>
                <div class="s_t">dǎ</div>
                <div class="s_b">打</div>
            </span>
            <span>
                <div class="s_t">yè</div>
                <div class="s_b">叶</div>
            </span>
            <span>
                <div class="s_t">shēng</div>
                <div class="s_b">声</div>
            </span>
            <span>
                <div class="s_t"></div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">hé</div>
                <div class="s_b">何</div>
            </span>
            <span>
                <div class="s_t">fáng</div>
                <div class="s_b">妨</div>
            </span>
            <span>
                <div class="s_t">yín</div>
                <div class="s_b">吟</div>
            </span>
            <span>
                <div class="s_t">xiào</div>
                <div class="s_b">啸</div>
            </span>
            <span>
                <div class="s_t">qiě</div>
                <div class="s_b">且</div>
            </span>
            <span>
                <div class="s_t">xú</div>
                <div class="s_b">徐</div>
            </span>
            <span>
                <div class="s_t">xíng</div>
                <div class="s_b">行</div>
            </span>
            <span>
                <div class="s_t"></div>
                <div class="s_b">。</div>
            </span>
            <span>
                <div class="s_t">zhú</div>
                <div class="s_b">竹</div>
            </span>
            <span>
                <div class="s_t">zhàng</div>
                <div class="s_b">杖</div>
            </span>
            <span>
                <div class="s_t">máng</div>
                <div class="s_b">芒</div>
            </span>
            <span>
                <div class="s_t">xié</div>
                <div class="s_b">鞋</div>
            </span>
            <span>
                <div class="s_t">qīng</div>
                <div class="s_b">轻</div>
            </span>
            <span>
                <div class="s_t">shèng</div>
                <div class="s_b">胜</div>
            </span>
            <span>
                <div class="s_t">mǎ</div>
                <div class="s_b">马</div>
            </span>
            <span>
                <div class="s_t"></div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">shuí</div>
                <div class="s_b">谁</div>
            </span>
            <span>
                <div class="s_t">pà</div>
                <div class="s_b">怕</div>
            </span>
            <span>
                <div class="s_t"></div>
                <div class="s_b">？</div>
            </span>
            <span>
                <div class="s_t">yì</div>
                <div class="s_b">一</div>
            </span>
            <span>
                <div class="s_t">suō</div>
                <div class="s_b">蓑</div>
            </span>
            <span>
                <div class="s_t">yān</div>
                <div class="s_b">烟</div>
            </span>
            <span>
                <div class="s_t">yǔ</div>
                <div class="s_b">雨</div>
            </span>
            <span>
                <div class="s_t">rèn</div>
                <div class="s_b">任</div>
            </span>
            <span>
                <div class="s_t">píng</div>
                <div class="s_b">平</div>
            </span>
            <span>
                <div class="s_t">shēng</div>
                <div class="s_b">生</div>
            </span>
            <span>
                <div class="s_t"></div>
                <div class="s_b">。</div>
            </span>
        </li>
        <li>
            <span>
                <div class="s_t"></div>
                <div class="s_b"></div>
            </span>
            <span>
                <div class="s_t"></div>
                <div class="s_b"></div>
            </span>
            <span>
                <div class="s_t">liào</div>
                <div class="s_b">料</div>
            </span>
            <span>
                <div class="s_t">qiào</div>
                <div class="s_b">峭</div>
            </span>
            <span>
                <div class="s_t">chūn</div>
                <div class="s_b">春</div>
            </span>
            <span>
                <div class="s_t">fēng</div>
                <div class="s_b">风</div>
            </span>
            <span>
                <div class="s_t">chuī</div>
                <div class="s_b">吹</div>
            </span>
            <span>
                <div class="s_t">jiǔ</div>
                <div class="s_b">酒</div>
            </span>
            <span>
                <div class="s_t">xǐng</div>
                <div class="s_b">醒</div>
            </span>
            <span>
                <div class="s_t"></div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">wēi</div>
                <div class="s_b">微</div>
            </span>
            <span>
                <div class="s_t">lěng</div>
                <div class="s_b">冷</div>
            </span>
            <span>
                <div class="s_t"></div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">shān</div>
                <div class="s_b">山</div>
            </span>
            <span>
                <div class="s_t">tóu</div>
                <div class="s_b">头</div>
            </span>
            <span>
                <div class="s_t">xié</div>
                <div class="s_b">斜</div>
            </span>
            <span>
                <div class="s_t">zhào</div>
                <div class="s_b">照</div>
            </span>
            <span>
                <div class="s_t">què</div>
                <div class="s_b">却</div>
            </span>
            <span>
                <div class="s_t">xiāng</div>
                <div class="s_b">相</div>
            </span>
            <span>
                <div class="s_t">yíng</div>
                <div class="s_b">迎</div>
            </span>
            <span>
                <div class="s_t"></div>
                <div class="s_b">。</div>
            </span>
            <span>
                <div class="s_t">huí</div>
                <div class="s_b">回</div>
            </span>
            <span>
                <div class="s_t">shǒu</div>
                <div class="s_b">首</div>
            </span>
            <span>
                <div class="s_t">xiàng</div>
                <div class="s_b">向</div>
            </span>
            <span>
                <div class="s_t">lái</div>
                <div class="s_b">来</div>
            </span>
            <span>
                <div class="s_t">xiāo</div>
                <div class="s_b">萧</div>
            </span>
            <span>
                <div class="s_t">sè</div>
                <div class="s_b">瑟</div>
            </span>
            <span>
                <div class="s_t">chù</div>
                <div class="s_b">处</div>
            </span>
            <span>
                <div class="s_t"></div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">guī</div>
                <div class="s_b">归</div>
            </span>
            <span>
                <div class="s_t">qù</div>
                <div class="s_b">去</div>
            </span>
            <span>
                <div class="s_t"></div>
                <div class="s_b">，</div>
            </span>
            <span>
                <div class="s_t">yě</div>
                <div class="s_b">也</div>
            </span>
            <span>
                <div class="s_t">wú</div>
                <div class="s_b">无</div>
            </span>
            <span>
                <div class="s_t">fēng</div>
                <div class="s_b">风</div>
            </span>
            <span>
                <div class="s_t">yǔ</div>
                <div class="s_b">雨</div>
            </span>
            <span>
                <div class="s_t">yě</div>
                <div class="s_b">也</div>
            </span>
            <span>
                <div class="s_t">wú</div>
                <div class="s_b">无</div>
            </span>
            <span>
                <div class="s_t">qíng</div>
                <div class="s_b">晴</div>
            </span>
            <span>
                <div class="s_t"></div>
                <div class="s_b">。</div>
            </span>
        </li>
    </ul>
</div>
</body>
</html>
