<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <title>《江城子·密州出猎》拼音版</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <style>
      .g_box {
        padding: 10px;
        width: fit-content;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        max-width: 98%;
        min-width: 98%;
        margin: 5px auto;
      }

      .text-c {
        text-align: center;
      }

      .g_box {
        padding: 10px;
        width: fit-content;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        max-width: 98%;
        min-width: 98%;
        margin: 5px auto;
      }

      .g_main {
        text-align: left;
      }

      .g_main li {
        padding: 10px;
        margin: 5px;
        border-bottom: 0px dotted #a6a600;
        clear: left;
        list-style-type: none;
      }

      .tj_listbox .g_main img {
        max-width: 100%;
      }

      .g_main li span {
        width: 40px;
        max-width: 40px;
        text-align: center;
        min-width: 40px;
        display: inline-block;
        list-style-type: none;
        margin: 2px;
        width: 40px;
        min-width: 40px;
        font-size: 16px;
      }

      .g_main li span .s_b {
        font-size: 25px;
        font-weight: bold;
        color: #000000;
      }

      .g_main li span .s_t {
        font-size: 0.9em;
        color: #000000;
      }
    </style>
  </head>
  <body>
    <div class="g_box">
      <ul class="g_main text-c">
        <li>
          <span>
            <div class="s_t">jiāng</div>
            <div class="s_b">江</div>
          </span>
          <span>
            <div class="s_t">chéng</div>
            <div class="s_b">城</div>
          </span>
          <span>
            <div class="s_t">zǐ</div>
            <div class="s_b">子</div>
          </span>
          <span>
            <div class="s_t">·</div>
            <div class="s_b">·</div>
          </span>
          <span>
            <div class="s_t">mì</div>
            <div class="s_b">密</div>
          </span>
          <span>
            <div class="s_t">zhōu</div>
            <div class="s_b">州</div>
          </span>
          <span>
            <div class="s_t">chū</div>
            <div class="s_b">出</div>
          </span>
          <span>
            <div class="s_t">liè</div>
            <div class="s_b">猎</div>
          </span>
        </li>
      </ul>
      <ul class="g_main text-c">
        <li>
          <span>
            <div class="s_t"></div>
            <div class="s_b">〔</div>
          </span>
          <span>
            <div class="s_t">běi</div>
            <div class="s_b">
              <strong>北</strong>
            </div>
          </span>
          <span>
            <div class="s_t">sòng</div>
            <div class="s_b">宋</div>
          </span>
          <span>
            <div class="s_t"></div>
            <div class="s_b">〕</div>
          </span>
          <span>
            <div class="s_t">sū</div>
            <div class="s_b">
              <strong>苏</strong>
            </div>
          </span>
          <span>
            <div class="s_t">shì</div>
            <div class="s_b">轼</div>
          </span>
        </li>
      </ul>
      <ul class="g_main">
        <li>
          <span>
            <div class="s_t"></div>
            <div class="s_b"></div>
          </span>
          <span>
            <div class="s_t"></div>
            <div class="s_b"></div>
          </span>
          <span>
            <div class="s_t">lǎo</div>
            <div class="s_b">老</div>
          </span>
          <span>
            <div class="s_t">fū</div>
            <div class="s_b">
              <strong>夫</strong>
            </div>
          </span>
          <span>
            <div class="s_t">liáo</div>
            <div class="s_b">聊</div>
          </span>
          <span>
            <div class="s_t">fā</div>
            <div class="s_b">
              <strong>发</strong>
            </div>
          </span>
          <span>
            <div class="s_t">shào</div>
            <div class="s_b">
              <strong>少</strong>
            </div>
          </span>
          <span>
            <div class="s_t">nián</div>
            <div class="s_b">年</div>
          </span>
          <nobr>
            <span>
              <div class="s_t">kuáng</div>
              <div class="s_b">狂</div>
            </span>
            <span>
              <div class="s_t"></div>
              <div class="s_b">，</div>
            </span>
          </nobr>
          <span>
            <div class="s_t">zuǒ</div>
            <div class="s_b">左</div>
          </span>
          <span>
            <div class="s_t">qiān</div>
            <div class="s_b">牵</div>
          </span>
          <nobr>
            <span>
              <div class="s_t">huáng</div>
              <div class="s_b">黄</div>
            </span>
            <span>
              <div class="s_t"></div>
              <div class="s_b">，</div>
            </span>
          </nobr>
          <span>
            <div class="s_t">yòu</div>
            <div class="s_b">右</div>
          </span>
          <span>
            <div class="s_t">qíng</div>
            <div class="s_b">擎</div>
          </span>
          <nobr>
            <span>
              <div class="s_t">cāng</div>
              <div class="s_b">苍</div>
            </span>
            <span>
              <div class="s_t"></div>
              <div class="s_b">，</div>
            </span>
          </nobr>
          <span>
            <div class="s_t">jǐn</div>
            <div class="s_b">锦</div>
          </span>
          <span>
            <div class="s_t">mào</div>
            <div class="s_b">帽</div>
          </span>
          <span>
            <div class="s_t">diāo</div>
            <div class="s_b">貂</div>
          </span>
          <nobr>
            <span>
              <div class="s_t">qiú</div>
              <div class="s_b">裘</div>
            </span>
            <span>
              <div class="s_t"></div>
              <div class="s_b">，</div>
            </span>
          </nobr>
          <span>
            <div class="s_t">qiān</div>
            <div class="s_b">千</div>
          </span>
          <span>
            <div class="s_t">qí</div>
            <div class="s_b">
              <strong>骑</strong>
            </div>
          </span>
          <span>
            <div class="s_t">juǎn</div>
            <div class="s_b">
              <strong>卷</strong>
            </div>
          </span>
          <span>
            <div class="s_t">píng</div>
            <div class="s_b">平</div>
          </span>
          <nobr>
            <span>
              <div class="s_t">gāng</div>
              <div class="s_b">冈</div>
            </span>
            <span>
              <div class="s_t"></div>
              <div class="s_b">。</div>
            </span>
          </nobr>
          <span>
            <div class="s_t">wèi</div>
            <div class="s_b">
              <strong>为</strong>
            </div>
          </span>
          <span>
            <div class="s_t">bào</div>
            <div class="s_b">报</div>
          </span>
          <span>
            <div class="s_t">qīng</div>
            <div class="s_b">倾</div>
          </span>
          <span>
            <div class="s_t">chéng</div>
            <div class="s_b">城</div>
          </span>
          <span>
            <div class="s_t">suí</div>
            <div class="s_b">随</div>
          </span>
          <span>
            <div class="s_t">tài</div>
            <div class="s_b">太</div>
          </span>
          <nobr>
            <span>
              <div class="s_t">shǒu</div>
              <div class="s_b">守</div>
            </span>
            <span>
              <div class="s_t"></div>
              <div class="s_b">，</div>
            </span>
          </nobr>
          <span>
            <div class="s_t">qīn</div>
            <div class="s_b">
              <strong>亲</strong>
            </div>
          </span>
          <span>
            <div class="s_t">shè</div>
            <div class="s_b">
              <strong>射</strong>
            </div>
          </span>
          <nobr>
            <span>
              <div class="s_t">hǔ</div>
              <div class="s_b">虎</div>
            </span>
            <span>
              <div class="s_t"></div>
              <div class="s_b">，</div>
            </span>
          </nobr>
          <span>
            <div class="s_t">kàn</div>
            <div class="s_b">
              <strong>看</strong>
            </div>
          </span>
          <span>
            <div class="s_t">sūn</div>
            <div class="s_b">
              <strong>孙</strong>
            </div>
          </span>
          <nobr>
            <span>
              <div class="s_t">láng</div>
              <div class="s_b">
                <strong>郎</strong>
              </div>
            </span>
            <span>
              <div class="s_t"></div>
              <div class="s_b">。</div>
            </span>
          </nobr>
        </li>
        <li>
          <span>
            <div class="s_t"></div>
            <div class="s_b"></div>
          </span>
          <span>
            <div class="s_t"></div>
            <div class="s_b"></div>
          </span>
          <span>
            <div class="s_t">jiǔ</div>
            <div class="s_b">酒</div>
          </span>
          <span>
            <div class="s_t">hān</div>
            <div class="s_b">酣</div>
          </span>
          <span>
            <div class="s_t">xiōng</div>
            <div class="s_b">胸</div>
          </span>
          <span>
            <div class="s_t">dǎn</div>
            <div class="s_b">胆</div>
          </span>
          <span>
            <div class="s_t">shàng</div>
            <div class="s_b">尚</div>
          </span>
          <span>
            <div class="s_t">kāi</div>
            <div class="s_b">开</div>
          </span>
          <nobr>
            <span>
              <div class="s_t">zhāng</div>
              <div class="s_b">张</div>
            </span>
            <span>
              <div class="s_t"></div>
              <div class="s_b">，</div>
            </span>
          </nobr>
          <span>
            <div class="s_t">bìn</div>
            <div class="s_b">鬓</div>
          </span>
          <span>
            <div class="s_t">wēi</div>
            <div class="s_b">微</div>
          </span>
          <nobr>
            <span>
              <div class="s_t">shuāng</div>
              <div class="s_b">霜</div>
            </span>
            <span>
              <div class="s_t"></div>
              <div class="s_b">，</div>
            </span>
          </nobr>
          <span>
            <div class="s_t">yòu</div>
            <div class="s_b">又</div>
          </span>
          <span>
            <div class="s_t">hé</div>
            <div class="s_b">
              <strong>何</strong>
            </div>
          </span>
          <nobr>
            <span>
              <div class="s_t">fáng</div>
              <div class="s_b">妨</div>
            </span>
            <span>
              <div class="s_t"></div>
              <div class="s_b">？</div>
            </span>
          </nobr>
          <span>
            <div class="s_t">chí</div>
            <div class="s_b">持</div>
          </span>
          <span>
            <div class="s_t">jié</div>
            <div class="s_b">
              <strong>节</strong>
            </div>
          </span>
          <span>
            <div class="s_t">yún</div>
            <div class="s_b">云</div>
          </span>
          <nobr>
            <span>
              <div class="s_t">zhōng</div>
              <div class="s_b">
                <strong>中</strong>
              </div>
            </span>
            <span>
              <div class="s_t"></div>
              <div class="s_b">，</div>
            </span>
          </nobr>
          <span>
            <div class="s_t">hé</div>
            <div class="s_b">
              <strong>何</strong>
            </div>
          </span>
          <span>
            <div class="s_t">rì</div>
            <div class="s_b">日</div>
          </span>
          <span>
            <div class="s_t">qiǎn</div>
            <div class="s_b">遣</div>
          </span>
          <span>
            <div class="s_t">féng</div>
            <div class="s_b">
              <strong>冯</strong>
            </div>
          </span>
          <nobr>
            <span>
              <div class="s_t">táng</div>
              <div class="s_b">唐</div>
            </span>
            <span>
              <div class="s_t"></div>
              <div class="s_b">？</div>
            </span>
          </nobr>
          <span>
            <div class="s_t">huì</div>
            <div class="s_b">
              <strong>会</strong>
            </div>
          </span>
          <span>
            <div class="s_t">wǎn</div>
            <div class="s_b">挽</div>
          </span>
          <span>
            <div class="s_t">diāo</div>
            <div class="s_b">雕</div>
          </span>
          <span>
            <div class="s_t">gōng</div>
            <div class="s_b">弓</div>
          </span>
          <span>
            <div class="s_t">rú</div>
            <div class="s_b">如</div>
          </span>
          <span>
            <div class="s_t">mǎn</div>
            <div class="s_b">满</div>
          </span>
          <nobr>
            <span>
              <div class="s_t">yuè</div>
              <div class="s_b">月</div>
            </span>
            <span>
              <div class="s_t"></div>
              <div class="s_b">，</div>
            </span>
          </nobr>
          <span>
            <div class="s_t">xī</div>
            <div class="s_b">西</div>
          </span>
          <span>
            <div class="s_t">běi</div>
            <div class="s_b">
              <strong>北</strong>
            </div>
          </span>
          <nobr>
            <span>
              <div class="s_t">wàng</div>
              <div class="s_b">望</div>
            </span>
            <span>
              <div class="s_t"></div>
              <div class="s_b">，</div>
            </span>
          </nobr>
          <span>
            <div class="s_t">shè</div>
            <div class="s_b">
              <strong>射</strong>
            </div>
          </span>
          <span>
            <div class="s_t">tiān</div>
            <div class="s_b">天</div>
          </span>
          <nobr>
            <span>
              <div class="s_t">láng</div>
              <div class="s_b">狼</div>
            </span>
            <span>
              <div class="s_t"></div>
              <div class="s_b">。</div>
            </span>
          </nobr>
        </li>
      </ul>
    </div>
  </body>
</html>
