<div id="include_list_page">
    <div class="ibox-content">
        <div class="table-responsive">
            <table class="table table-centerbody table-mail table-striped table-condensed text-nowrap"
                   id="editable-sample">
                <thead>
                <tr>
                    <th>支付流水号</th>
                    <th>支付通道</th>
                    <th>商户号</th>
                    <th>状态</th>
                    <th>支付金额</th>
                    <th>支付完成时间</th>
                    <th>收款说明</th>
                    <th>创建时间</th>
                    <th class="text-right text-nowrap">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="pay:${page.list}">
                    <td th:text="${pay.payTransNo}"></td>
                    <td th:text="${busiEnumMap[pay.busiEnumCode]?.msg}"></td>
                    <td th:text="${pay.merchantCode}"></td>
                    <td>
                        <span th:class="label" th:classappend="${payRecordStatusMap[pay.status]?.labelClass}" th:text="${payRecordStatusMap[pay.status]?.msg}"></span>
                    </td>
                    <td th:text="${#numbers.formatCurrency(pay.payAmount)}"></td>
                    <td th:text="${#dates.format(pay.payFinishTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                    <td th:text="${pay.reserved}"></td>
                    <td th:text="${#dates.format(pay.createTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                    <td class="text-right text-nowrap">
                        <div class="btn-group"
                             th:id="${pay.payTransNo}"
                             th:attr="
                                data-busi-enum-code=${busiEnumMap[pay.busiEnumCode]?.msg},
                                data-merchant-code=${pay.merchantCode},
                                data-mer-name=${pay.merName},
                                data-pay-trans-no=${pay.payTransNo},
                                data-status=${payRecordStatusMap[pay.status]?.msg},
                                data-pay-amount=${#numbers.formatCurrency(pay.payAmount)},
                                data-reserved=${pay.reserved},
                                data-pay-finish-time=${#dates.format(pay.payFinishTime, 'yyyy-MM-dd HH:mm:ss')},
                                data-update-time=${#dates.format(pay.updateTime, 'yyyy-MM-dd HH:mm:ss')},
                                data-create-time=${#dates.format(pay.createTime, 'yyyy-MM-dd HH:mm:ss')},
                                data-pay-qrcode=${pay.payQrCode},
                                data-effective-time=${busiEnumMap[pay.busiEnumCode]?.effectiveTime},
                                data-qrcode-logo=${busiEnumMap[pay.busiEnumCode]?.logo},
                                data-notice-status=${noticeStatusMap[pay.noticeStatus]?.msg},
                                data-notice-retry-num=${pay.noticeRetryNum}">
                            <button onclick="viewQrcode(this)" th:attr="data-id=${pay.payTransNo}" th:style="${inProcess != pay.status}?'display:none;':''" class="btn-white btn btn-sm through view-qrcode-btn" data-toggle="modal" data-target="#payment-qrcode-box"><i class="glyphicon glyphicon-qrcode"></i></button>
                            <button onclick="viewDetail(this)" th:attr="data-id=${pay.payTransNo}" class="btn-white btn btn-sm through view-detail-btn" data-toggle="modal" data-target="#payment-detail-box"><i class="glyphicon glyphicon-eye-open"></i></button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- 分页表单 -->
        <form th:action="@{/payment/record}" id="paymentRecordPageForm">
            <div class="pages border-top" th:include="common/page::#include_page" th:with="formId='paymentRecordPageForm',pageBoxId='record_list'">
            </div>
            <!-- 查询条件，用隐藏表单域 -->
            <input type="hidden" th:value="${payRecordVo.payTransNo}" name="payTransNo"/>
            <input type="hidden" th:value="${payRecordVo.busiEnumCode}" name="busiEnumCode"/>
            <input type="hidden" th:value="${payRecordVo.status}" name="status"/>
            <input type="hidden" th:value="${#dates.format(payRecordVo.startTime, 'yyyy-MM-dd HH:mm:ss')}" name="startTime"/>
            <input type="hidden" th:value="${#dates.format(payRecordVo.endTime, 'yyyy-MM-dd HH:mm:ss')}" name="endTime"/>
        </form>
    </div>
</div>